<div class="panel-body">
  <div class="row">
    <div class="row">
      <div class="col-md-12">
          <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
        <div class="text-right m-b-15" *ngIf="dataLoaded">

          <angular2-multiselect [data]="memberdropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
          </angular2-multiselect>
          <br/>
          <button id="btnSendmembers" name="btnsendmembers" [disabled]="this.isRequested" (click)="addMembers()" class="btn btn-primary">{{'Members.142'| translate }} {{'Members.1'| translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="inner-table clearfix">
            <div class="table-container table-responsive">
              <table class="table table-filter table-striped" id="btnGroupmember">
                <thead>
                  <tr>
                    <th></th>
                    <th>{{'Members.11'| translate }}</th>
                    <th>{{'Members.201'| translate }}</th>
                    <th>{{'Members.68'| translate }}</th>
                    <th>{{'Members.25'| translate }}</th>
                    <th class="text-right">{{'Members.125'| translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let membergroupobj of memberSelectedDetails; let i = index">
                    <td>{{i + 1}}</td>

                    <td>
                      <span class="title">{{membergroupobj.name}}</span>
                    </td>

                    <td>
                      <span class="table-data">{{membergroupobj.level}}</span>
                    </td>
                    <td>
                      <span class="table-data">{{membergroupobj.email}}</span>
                    </td>
                    <td>
                      <span class="table-data">{{membergroupobj.phone}}</span>
                    </td>
                    <td>
                      <div class="btn-group pull-right">
                        <button type="button" id="btnDeleteMembers" class="btn btn-outline btn-sm" (click)="deleteMember(membergroupobj)">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </button>

                      </div>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>