.modal-dialog {
    /*position: fixed;
    right: 0;
    top: 25px;
    width: 375px;*/

    .modal-content {    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 0;
    width: 390px;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0;
    border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    background-clip: padding-box;
    outline: 0;
    border-radius: 0px;
}
}

.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	           justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
            float: left;
}

/* Switch 1 Specific Styles Start */

.box_1{
	background: #fff;
}

input[type="checkbox"].switch_1{
	font-size: 14px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #2779ff;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }

ul{
        list-style: none;
    padding: 0;

    li{
        display: block;
    float: left;
    width: 100%;
    margin-right: 4px;

    span{
            display: inline-block;
    margin-top: 5px;
    margin-left: 4px;
    font-weight: bold;
    font-size: 12px;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
        text-transform: capitalize;
    }
    }
}

.mod-wrapper {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.modal-header {
    padding-bottom: 10px;
        background-color: aliceblue; 
}

.modal-body{
        height: calc(100% - 138px) !important;
}

.modal.fade .modal-dialog{
        transform: translate(27%, 0);
}

.modal.in .modal-dialog {

    transform: translate(0, 0);
}