<div bsModal #templateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-sm">
      <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">
        {{this.header}} </h4>
        <button id="btnHide" type="button" class="close pull-right" aria-label="Close" (click)="hideTemplateModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mod-wrapper">
          <p>{{ 'Shared.32' | translate }}</p>
          <div class="row">
            <div class="col-md-12">
              <ul>
                <li *ngFor="let item of displayAllColumns;let ix=index">
                   <div class="switch_box box_1">
              <input type="checkbox" id="chkColumns{{ix}}" class="switch_1" name="c{{ix}}" [(ngModel)]="item.isSelected">
            </div>
             <span>{{item.name}}</span>
                </li>
              </ul>
            </div>
          
          </div>
    
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnShow" class="btn btn-primary pull-right" (click)="showColumns()" name="confirm"><i class="fas fa-eye m-r-5"></i> {{ 'Shared.33' | translate }}</button>
        <button type="button "  id="btnSave" aria-label="Close" class="btn pull-left" (click)="saveColumns()"><i class="far fa-save m-r-5"></i> {{ 'Shared.34' | translate }}</button>
      </div>
    </div>
  </div>
</div>