.email-template-modal{

    .modal-content {
        width: 400px;
    }
    .modal-body{


        text-align: center;

        img {
            width: 40px;
        }

        h1{
            font-size: 24px;
            margin-top: 6px;
            color: #000;
        }

        .small{
            color: #92a9ff;
        }

        .mod-wrapper{
            overflow: auto;
        }

        ul.template-topics{
            padding: 0;
            list-style: none;

            li{
                text-align: left;
                padding: 8px;
                border-radius: 6px;
                font-weight: 600;
            }
        }
    }
}