<div bsModal #emailTemplateModal="bs-modal" class="email-template-modal modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideTemplateModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/img/lnr-magic-wand.svg" alt="">
        <h1>{{'Communications.New Template'| translate }}</h1>
        <p>{{'Communications.Select a specfic topic to continue.'| translate }}</p>
        <div class="mod-wrapper">
          <!-- <table class="table table-responsive">
            <tr *ngFor="let type of templateTypes">
              <td>
                <input type="radio" id="rdTemplate" name="type" [value]="type.value" [(ngModel)]="templateType" class="m-r-5"> {{type.text}}</td>
            </tr>
          </table> -->

          <ul class="template-topics">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
            <li *ngFor="let type of templateTypes">
              <input type="radio" id="rdTemplate" name="type" [value]="type.value" [(ngModel)]="templateType" class="m-r-5"> {{type.text}}
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">

        <button type="button" id="btnSelect" class="btn btn-primary" (click)="selectTemplate()" name="confirm">{{'Communications.Continue'| translate }}</button>

      </div>
    </div>
  </div>
</div>