<div class="sidebar">
    <div class="logo quick-n">


        <div class="flex flex-column space-between" style="padding: 2px 0;">

            <span class="logos-circle">
                    <img class="img img-responsive" [src]="imageSource" alt="Assocify">
            </span>

            <!-- <div class="relative" data-toggle="tooltip" title="Notifications" data-placement="right">
                <span class="notif">!</span>
                <span class="svg">
                    <img class="img-responsive" src="assets/img/lnr-alarm.svg" alt="">
                </span>
            </div> -->

            <div [routerLink]="['/settings/']" id="btnSettings" data-toggle="tooltip" title="Settings" data-placement="right">
                <span class="svg">
                    <img class="img-responsive" src="assets/img/settings.svg" alt="" style="width: 20px;">
                </span>
            </div>

        </div>

        <div class="logout" id="btnLogoutt" (click)="logoutUser()" data-toggle="tooltip" title="Logout" data-placement="right">
            <span class="svg">
                <img class="img-responsive" src="assets/img/logout.svg" alt="" style="width: 20px;">
            </span>
        </div>




    </div>


    <div class="sidebar-wrapper">
        <div class="tog" (click)="btnMenuToggle()">
            <span class="svg pt3">
                <img class="img-responsive" src="assets/img/lnr-menus.svg" alt="" style="margin-top: -4px">
            </span>
        </div>
        <div class="login-info">
            <!-- <div class="image-circle">
                <img clas="img img-responsive" [src]="imageSource" alt="Adelle Charles">
            </div> -->
            <div class="info">
                <!-- <h5>User Name</h5> -->
                <h5 class="text-overflow">{{orgName}}</h5>
                <p class="text-overflow">{{email}}</p>
                <!--<small>Administrator</small>-->
            </div>
        </div>
        <ul class="nav">
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/dashboard']" id="btnDashboard" [routerLinkActive]="['active']">
                    <span class="svg">
                        <img src="assets/img/dashboard.svg" alt="">
                    </span>
                    <p>{{ 'Sidebar.Dashboard' | translate }}</p>
                </a>
            </li>

            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/members']" id="btnMembers" [routerLinkActive]="['active']">
                    <span class="svg">
                        <img src="assets/img/members.svg" alt="">
                    </span>
                    <p>{{ 'Sidebar.Members' | translate }}</p>
                </a>
            </li>

            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/contacts']" id="btnContacts" [routerLinkActive]="['active']">
                    <span class="svg">
                        <img src="assets/img/contacts.svg" alt="">
                    </span>
                    <p>{{ 'Sidebar.Contacts' | translate }}</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/communication']" id="btnCommunications" [routerLinkActive]="['active']">
                    <span class="svg">
                        <img src="assets/img/comm.svg" alt="">
                    </span>
                    <p>{{ 'Sidebar.Communications' | translate }}</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/payments']" id="btnPayment" [routerLinkActive]="['active']">
                    <span class="svg">
                        <img src="assets/img/payments.svg" alt="">
                    </span>
                    <p>{{ 'Sidebar.Payments' | translate }}</p>
                </a>
            </li>
            <!--<li [routerLinkActive]="['active']">
                <a [routerLink]="['/settings/']" id="btnSettings" [routerLinkActive]="['active']">
                    <span class="svg">
                        <img src="assets/img/settings.svg" alt="">
                    </span>
                    <p>{{ 'Sidebar.Settings' | translate }}</p>
                </a>
            </li>-->
        </ul>

        <div class="app-info">
            <a href="#" class="app-logo"><img src="./assets/img/asso.svg" alt=""></a>

            <ul>
                <li>
                    <a href="">
                        © Powered by Inexis 2018
                    </a>
                </li>
            </ul>
        </div>



    </div>


</div>