<div class="content animated fadeIn">
  <div class="container-fluid mem">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <span class="svg sub-svg">
            <img src="../../../../assets/img/Proposal.svg" alt="">
          </span>
          <div class="title-content">
            <h4>{{memberHeading}}</h4>
            <p>{{subheading}}</p>
          </div>
          <div class="btn-group pull-right" role="group" aria-label="...">
            <form action="members.html">

                <button type="button" name="send" class="btn btn-danger m-r-5" *ngIf="this.memberId && this.memberId != 0" (click)="deleteModal.showDeleteModal()">
                <img src="../../../../assets/img/lnr-trash-white.svg">
                <p>{{'Members.Archive'| translate }}</p>
              </button>


              
              <button type="button" name="send" class="btn btn-default pull-right" *ngIf="this.memberId && this.memberId != 0" id="btnBack"
                (click)="goToProfile()">
                <img src="../../../../assets/img/lnr-arrow-left.svg">
                <p>{{'Members.Back'| translate }}</p>
              </button>


              <button type="button" name="send" class="btn btn-default pull-right" *ngIf="this.memberId == 0" id="btnBack" [routerLink]="['/members']">
                <img src="../../../../assets/img/lnr-arrow-left.svg">
                <p>{{'Members.Back'| translate }}</p>
              </button>
            </form>

          </div>
        </div>

        <section class="">
          <div class="row">
            <div class="col-md-3 relative">
              <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
              <div class="card text-center animated fadeInUp">
                <div class="avatar">
                  <img class="profile-pic avatar-img" *ngIf="this.memberId && this.memberId != 0 && !showimage" src="{{member.profileImage}}"
                    alt="">
                  <img class="profile-pic" *ngIf="memberId == 0 || showimage" [src]="url">
                </div>

                <h5>{{memberForm.value.firstName || "Full Name" }} {{memberForm.value.lastName}}
                </h5>
                <p class="text-overflow">{{workForm.value.designation || "Designation"}} @ {{workForm.value.company || "Company"}}</p>
                <hr>
                <p>
                  <i class="far fa-envelope m-r-5"></i> {{contactForm.value.email || "Email Address" }}</p>

                <p class="text-overflow">
                  <i class="fas fa-map-marker-alt m-r-5"></i> {{contactForm.value.address || "Permanent Address"}}
                </p>

                <p>
                  <i class="fas fa-mobile-alt m-r-5"></i> +{{countryCode}} {{contactForm.value.phone || "Contact Number" }}</p>
              </div>
            </div>
            <div class="col-md-9">
              <div class="wizard animated fadeInRight relative">
                <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                <div class="wizard-inner-body">
                  <tabset #staticTabs>
                    <tab id="btnPersonal" class="animated fadeInUp" *ngIf="subscriptionChanged == null">
                      <ng-template tabHeading>
                        <i class="far fa-user"></i> {{'Members.34'| translate }}
                      </ng-template>

                      <div class="row">

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form class="" [formGroup]="memberForm" novalidate>
                              <fieldset>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="" for="selectbasic"> {{'Members.35'| translate }}</label>

                                    <input id="txtfname" placeholder="First Name" class="form-control input-md" formControlName="firstName" type="text">
                                    <div [hidden]="memberForm.get('firstName').valid || (memberForm.get('firstName').pristine && !isMemberFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="memberForm.get('firstName').errors && memberForm.get('firstName').errors.required">
                                        {{'Members.36'| translate }}
                                        <br>
                                      </small>

                                      <small *ngIf="memberForm.get('firstName').errors && memberForm.get('firstName').errors.maxlength">
                                        {{'Members.37'| translate }}
                                      </small>
                                      <small *ngIf="memberForm.get('firstName').errors && memberForm.get('firstName').errors.patternInvalid">
                                        {{'Members.38'| translate }}
                                      </small>
                                    </div>


                                  </div>
                                  <div class="form-group">
                                    <label class="" for="selectbasic"> {{'Members.39'| translate }}</label>

                                    <input id="txtLastName" placeholder="Last Name" class="form-control input-md" formControlName="lastName" type="text">
                                    <div [hidden]="memberForm.get('lastName').valid || (memberForm.get('lastName').pristine && !isMemberFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="memberForm.get('lastName').errors && memberForm.get('lastName').errors.required">
                                        {{'Members.40'| translate }}
                                        <br>
                                      </small>

                                      <small *ngIf="memberForm.get('lastName').errors && memberForm.get('lastName').errors.maxlength">
                                        {{'Members.41'| translate }}
                                      </small>
                                      <small *ngIf="memberForm.get('lastName').errors && memberForm.get('lastName').errors.patternInvalid">
                                        {{'Members.42'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label for="selectbasic"> {{'Members.43'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>

                                    <label class="fileContainer">
                                      <i class="fas fa-image m-r-5"></i> {{profileImageName}}
                                      <input type="file" id="fileProfileImage" accept="image/*" (change)="fileUpload($event)" />
                                    </label>

 
                                  </div>

                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="" for="dob"> {{'Members.45'| translate }}</label>

                                    <input id="txtDob" placeholder="DOB" class="form-control input-md" type="text" bsDatepicker formControlName="dob" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                      [maxDate]="maxDate">
                                    <div [hidden]="memberForm.get('dob').valid || (memberForm.get('dob').pristine && !isMemberFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="memberForm.get('dob').errors && memberForm.get('dob').errors.required">
                                        {{'Members.46'| translate }}
                                        <br>
                                      </small>

                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="maritial"> {{'Members.47'| translate }}</label>

                                    <select id="ddMartialStatus" class="form-control" formControlName="martialStatus">
                                      <option [value]="null" disabled [selected]="true"> {{'Members.48'| translate }} </option>
                                      <option *ngFor="let ms of maritialStatus" [value]="ms.value">{{ms.text}}</option>
                                    </select>
                                    <div [hidden]="memberForm.get('martialStatus').valid || (memberForm.get('martialStatus').pristine && !isMemberFormSubmitted)"
                                      class="error-msg animated shake">

                                      <small *ngIf="memberForm.get('martialStatus').errors && memberForm.get('martialStatus').errors.required">
                                        {{'Members.49'| translate }}
                                        <br>
                                      </small>

                                    </div>


                                  </div>
                                  <div class="form-group">
                                    <label class="" for="identity"> {{'Members.50'| translate }}</label>

                                    <input id="txtIdentity" formControlName="identity" placeholder="NIC/Passport" class="form-control input-md" type="text">
                                    <div [hidden]="memberForm.get('identity').valid || (memberForm.get('identity').pristine && !isMemberFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="memberForm.get('identity').errors && memberForm.get('identity').errors.required">
                                        {{'Members.51'| translate }}
                                        <br>
                                      </small>

                                      <small *ngIf="memberForm.get('identity').errors && memberForm.get('identity').errors.patternInvalid">
                                        {{'Members.52'| translate }}
                                      </small>
                                    </div>

                                  </div>


                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <div class="text-right">
                                      <button id="btnPersonWork" name="personWork" class="btn btn-primary" (click)="updateMember()" *ngIf="this.memberId && this.memberId != 0">
                                      {{'Members.53'| translate }}</button>
                                      <a href="#contact" name="send" class="btn btn-default" aria-controls="contact" id="btnPersonalNext" role="tab" data-toggle="tab"
                                        (click)="setTabActive(1)"><p>{{'Members.54'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>
                                    </div>
                                  </div>
                                </div>

                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>

                    </tab>
                    <tab id="btnContact" class="animated fadeInUp" *ngIf="subscriptionChanged == null">
                      <ng-template tabHeading >
                        <i class="fas fa-mobile-alt"></i> {{'Members.55'| translate }}
                      </ng-template>
                      <div class="row" >

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form class="" [formGroup]="contactForm" novalidate>

                              <fieldset>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="" for="country"> {{'Members.77'| translate }}</label>

                                    <select id="ddCountry" class="form-control" formControlName="country" (change)="countryCodechange($event.target.selectedOptions[0])">
                                      <option [value]="null" disabled [selected]="true"> {{'Members.56'| translate }}</option>
                                      <option *ngFor="let country of countries" [value]="country.value">{{country.text}}</option>

                                    </select>
                                    <div [hidden]="contactForm.get('country').valid || (contactForm.get('country').pristine && !isContactFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="contactForm.get('country').errors && contactForm.get('country').errors.required">
                                        {{'Members.57'| translate }}
                                        <br>
                                      </small>

                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="city"> {{'Members.24'| translate }}</label>

                                    <input id="txtCity" formControlName="city" placeholder="City" class="form-control input-md" type="text">
                                    <div [hidden]="contactForm.get('city').valid || (contactForm.get('city').pristine && !isContactFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="contactForm.get('city').errors && contactForm.get('city').errors.required">
                                        {{'Members.58'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="contactForm.get('city').errors && contactForm.get('city').errors.patternInvalid">
                                        {{'Members.59'| translate }}
                                      </small>

                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="zip"> {{'Members.27'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <input id="txtZip" formControlName="zip" placeholder="Postal" class="form-control input-md" type="text">
                                    <div [hidden]="contactForm.get('zip').valid || (contactForm.get('zip').pristine && !isContactFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="contactForm.get('zip').errors && contactForm.get('zip').errors.required">
                                        {{'Members.61'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="contactForm.get('zip').errors && contactForm.get('zip').errors.patternInvalid">
                                        {{'Members.62'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="address"> {{'Members.23'| translate }}</label>

                                    <input id="txtAddress" formControlName="address" placeholder="Address" class="form-control input-md" type="text">
                                    <div [hidden]="contactForm.get('address').valid || (contactForm.get('address').pristine && !isContactFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="contactForm.get('address').errors && contactForm.get('address').errors.required">
                                        {{'Members.63'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="contactForm.get('address').errors && contactForm.get('address').errors.patternInvalid">
                                        {{'Members.64'| translate }}
                                      </small>
                                    </div>

                                  </div>

                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="" for="phone"> {{'Members.25'| translate }}</label>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{countryCode}}</span>
                                      <input id="txtPhone" formControlName="phone" placeholder="Mobile" class="form-control input-md" type="text">
                                    </div>
                                    <small *ngIf="showMobile" class="error-msg animated shake">
                                      Mobile Number already exists
                                      <br>
                                    </small>
                                    <div [hidden]="contactForm.get('phone').valid || (contactForm.get('phone').pristine && !isContactFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="contactForm.get('phone').errors && contactForm.get('phone').errors.required">
                                        {{'Members.65'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="contactForm.get('phone').errors && contactForm.get('phone').errors.patternInvalid">
                                        {{'Members.66'| translate }}
                                        <br>
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="telephone"> {{'Members.26'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{countryCode}}</span>
                                      <input id="txtTelephone" formControlName="telephone" placeholder="Telephone" class="form-control input-md" type="text">
                                    </div>

                                    <div [hidden]="contactForm.get('telephone').valid || (contactForm.get('telephone').pristine && !isContactFormSubmitted)"
                                      class="error-msg animated shake">


                                      <small *ngIf="contactForm.get('telephone').errors && contactForm.get('telephone').errors.patternInvalid">
                                        {{'Members.67'| translate }}
                                        <br>
                                      </small>

                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="email"> {{'Members.68'| translate }}</label>

                                    <input id="txtEmail" formControlName="email" placeholder="Email" class="form-control input-md" type="text">
                                    <small *ngIf="showEmail" class="error-msg animated shake">
                                      Email address already exists
                                      <br>
                                    </small>
                                    <div [hidden]="contactForm.get('email').valid || (contactForm.get('email').pristine && !isContactFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="contactForm.get('email').errors && contactForm.get('email').errors.required">
                                        {{'Members.69'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="contactForm.get('email').errors && contactForm.get('email').errors.patternInvalid">
                                        {{'Members.70'| translate }}
                                        <br>
                                      </small>


                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="form-group">
                                    <div class="text-right">
                                      <button id="btnContactWork" name="contactWork" class="btn btn-primary" (click)="updateContact()" *ngIf="this.memberId && this.memberId != 0">
                                      {{'Members.53'| translate }}</button>
                                      <a href="#workTab" id="contactNext" name="send" class="btn btn-default" aria-controls="work" role="tab" data-toggle="tab"
                                        (click)="setTabActive(2)"> <p>{{'Members.54'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>
                                    </div>
                                  </div>
                                </div>


                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>

                    </tab>
                    <tab id="tabWork" class="animated fadeInUp" *ngIf="subscriptionChanged == null">
                      <ng-template tabHeading>
                        <i class="far fa-building"></i> {{'Members.71'| translate }}
                      </ng-template>
                      <div class="row">

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form class="" [formGroup]="workForm" novalidate>

                              <fieldset>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="" for="designation"> {{'Members.204'| translate }}</label>

                                    <input id="txtDesignation" formControlName="designation" placeholder="Designation" class="form-control input-md" type="text">
                                    <div [hidden]="workForm.get('designation').valid || (workForm.get('designation').pristine && !isWorkFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="workForm.get('designation').errors && workForm.get('designation').errors.required">
                                        {{'Members.72'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="workForm.get('designation').errors && workForm.get('designation').errors.patternInvalid">
                                        {{'Members.73'| translate }}
                                      </small>

                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="" for="company">{{'Members.17'| translate }}</label>

                                    <input id="txtCompany" formControlName="company" placeholder="Company" class="form-control input-md" type="text">
                                    <div [hidden]="workForm.get('company').valid || (workForm.get('company').pristine && !isWorkFormSubmitted)" class="error-msg animated shake">

                                      <small *ngIf="workForm.get('company').errors && workForm.get('company').errors.required">
                                        {{'Members.79'| translate }}
                                        <br>
                                      </small>
                                      <small *ngIf="workForm.get('company').errors && workForm.get('company').errors.patternInvalid">
                                        {{'Members.75'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label class="" for="address">{{'Members.76'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <input id="txtComAddress" formControlName="address" placeholder="Address" class="form-control input-md" type="text">
                                  </div>
                                  <div class="form-group">
                                    <label class="" for="country">{{'Members.77'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <select id="ddComCountry" class="form-control" formControlName="country" (change)="workCountryCodechange($event.target.selectedOptions[0])">
                                      <option [value]="null" disabled [selected]="true"> {{'Members.78'| translate }}</option>
                                      <option *ngFor="let country of countries" [value]="country.value">{{country.text}}</option>
                                    </select>
                                    <div [hidden]="workForm.get('country').valid || (workForm.get('country').pristine && !isWorkFormSubmitted)" class="error-msg animated shake">
                                      <small *ngIf="workForm.get('country').errors && workForm.get('country').errors.required">
                                        {{'Members.79'| translate }}
                                        <br>
                                      </small>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label class="" for="telephone">{{'Members.80'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{workCountryCode}}</span>
                                      <input id="txtComtelephone" formControlName="telephone" placeholder="Tele" class="form-control input-md" type="text">
                                    </div>
                                    <div [hidden]="workForm.get('telephone').valid || (workForm.get('telephone').pristine && !isWorkFormSubmitted)" class="error-msg animated shake">
                                      <small *ngIf="workForm.get('telephone').errors && workForm.get('telephone').errors.patternInvalid">
                                        {{'Members.67'| translate }}
                                        <br>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="" for="phone">{{'Members.81'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{workCountryCode}}</span>
                                      <input id="txtComphone" formControlName="phone" placeholder="Mobile" class="form-control input-md" type="text">
                                    </div>
                                    <div [hidden]="workForm.get('phone').valid || (workForm.get('phone').pristine && !isWorkFormSubmitted)" class="error-msg animated shake">
                                      <small *ngIf="workForm.get('phone').errors && workForm.get('phone').errors.patternInvalid">
                                        {{'Members.66'| translate }}
                                        <br>
                                      </small>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <div class="text-right">
                                      <button id="btnUpdateWork" name="updateWork" class="btn btn-primary" (click)="updateWork()" *ngIf="this.memberId && this.memberId != 0">{{'Members.53'| translate }}</button>
                                      <a href="#membershipTab" *ngIf="this.memberId == 0" id="btnWork" name="send" class="btn btn-default" aria-controls="work"
                                        role="tab" data-toggle="tab" (click)="setTabActive(3)"><p>{{'Members.54'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>
                                    </div>
                                  </div>
                                </div>

                              </fieldset>

                            </form>
                          </div>
                        </div>
                      </div>

                    </tab>
                    <tab id="btnMembership" class="animated fadeInUp" *ngIf="memberId == 0 ||memberId != 0 && subscriptionChanged">
                      <ng-template tabHeading>
                        <i class="far fa-address-card"></i> {{'Members.83'| translate }}
                      </ng-template>
                      <div class="row">

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form [formGroup]="membershipForm" novalidate>
                              <fieldset>

                                <div class="col-md-6">
                                  <div class="well-wrapper minus-margin">

                                    <div [hidden]="isLevelDropDownClicked">

                                      <div class="min-height init">
                                        <div class="level-img">
                                          <img src="assets/img/Trophy.svg" alt="">
                                        </div>
                                        <h4>{{'Members.199'| translate }}</h4>
                                        <p>{{'Members.241'| translate }}</p>

                                      </div>

                                    </div>

                                    <div *ngIf="isLevelDropDownClicked">
                                      <div class="header-info">
                                        <h4>{{'Members.199'| translate }}</h4>
                                        <p>{{'Members.Valid from'| translate }}
                                          <strong >{{levelInfo.subscriptionFrom|date:'MMMM d, y'}}</strong> to
                                          <strong *ngIf="levelInfo.membershipExpired != 5"> {{levelInfo.subscriptionTo|date:'MMMM d, y'}}</strong>
                                          <strong *ngIf="levelInfo.membershipExpired == 5"> {{'Members.Life Time'| translate }}</strong>
                                        </p>
                                        <p>{{'Members.102'| translate }} -
                                          <strong> {{levelInfo.subscriptionTo|date: 'MMMM d, y'}}</strong>
                                        </p>
                                      </div>

                                      <div class="levels" *ngIf="isLevelDropDownClicked">
                                        <div class="level-wrapper min-height">
                                          <div class="level-img">
                                            <img src="assets/img/Trophy.svg" alt="">
                                          </div>
                                          <div class="level-content">
                                            <div class="level-title">
                                              <span class="title">
                                                {{levelInfo.name}}
                                              </span>
                                            </div>
                                            <div class="level-price">

                                              <div class="table-data">{{levelInfo.price}}
                                                <small>{{currency}}</small>
                                              </div>

                                            </div>
                                            <div class="level-dsc">
                                              <small class="table-data text-muted">{{levelInfo.description}}</small>
                                            </div>

                                          </div>
                                        </div>
                                      </div>
                                      <div class="header-info">

                                        <p *ngIf="levelInfo.capacity != 0"> {{'Members.103'| translate }}
                                          <span class="rem">
                                            <span>{{levelInfo.remainingCount}}</span> {{levelInfo.capacity}}</span>
                                        </p>
                                        <p *ngIf="levelInfo.capacity == 0"> {{'Members.103'| translate }}
                                          <span class="rem" style="padding-left:10px">{{'Members.104'| translate }}</span>
                                        </p>
                                        <strong *ngIf="isPackageUtilized" style="color: red">
                                          {{'Members.105'| translate }}
                                        </strong>
                                      </div>
                                    </div>
                                    <div class="level-detail pull-left hidden" *ngIf="isLevelDropDownClicked">
                                      <div class="m-l-5">
                                        <div class="lev-data">
                                          <span class="lev-title">{{'Members.101'| translate }} : </span>
                                          <span class="lev-info">{{levelInfo.subscriptionFrom|date:'MMMM d, y'}} </span>
                                          <span class="lev-info">
                                            {{levelInfo.subscriptionTo|date:'MMMM d, y'}}</span>
                                        </div>
                                        <div class="lev-data">
                                          <span class="lev-title">
                                            {{'Members.102'| translate }} : </span>
                                          <span class="lev-info">{{levelInfo.subscriptionTo|date: 'MMMM d, y'}}</span>
                                        </div>
                                        <div class="lev-data">
                                          <span class="lev-title" *ngIf="levelInfo.capacity != 0">
                                            {{'Members.103'| translate }} :
                                            <span class="lev-info">{{levelInfo.remainingCount}} / {{levelInfo.capacity}}</span>
                                          </span>
                                          <span class="lev-info" *ngIf="levelInfo.capacity == 0">
                                            {{'Members.103'| translate }} : {{'Members.104'| translate }}</span>
                                        </div>
                                        <div>
                                          <strong *ngIf="isPackageUtilized" style="color: red">
                                            {{'Members.105'| translate }}
                                          </strong>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>


                                <div class="col-md-6">
                                  <div class=" levels exisiting-packege" *ngIf="this.memberId && this.memberId !=0 && this.subscription">
                                    <h4 class="" for="selectbasic">
                                      <i class="fas fa-check-circle m-r-5 text-success"></i> {{'Members.84'| translate }}</h4>

                                    <div class="level-wrapper">

                                      <div class="level-img">
                                        <img src="assets/img/Trophy.svg" alt="">
                                      </div>
                                      <div class="level-content">
                                        <strong>{{'Members.85'| translate }}:</strong> {{subscribedLevelInfo.name}}
                                        <br/>
                                        <strong>{{'Members.86'| translate }} :</strong>{{currency}} {{subscribedLevelInfo.price}}
                                        <br/>
                                        <strong> {{'Members.87'| translate }} :</strong> {{subscribedLevelInfo.joinDate|date:'dd MMMM
                                        yyyy'}} - {{subscribedLevelInfo.renewDate|date:'dd MMMM yyyy'}}
                                        <br/>
                                        <strong> {{'Members.88'| translate }} :</strong>{{subscribedLevelInfo.renewDate|date:'dd MMMM
                                        yyyy'}}
                                        <br/>
                                        <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Active">{{'Members.89'| translate }}</strong>
                                        <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Inactive">{{'Members.90'| translate }}</strong>
                                        <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Pending">{{'Members.91'| translate }}</strong>
                                        <strong class="badge" [ngStyle]="{'background-color':subscribedLevelInfo.membershipStatus == membershipState.Terminated ? 'red' : 'white' }"
                                          *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Terminated">{{'Members.92'| translate }}</strong>
                                        <br/>
                                        <strong *ngIf="subscribedLevelInfo.terminationNote && subscribedLevelInfo.membershipStatus == membershipState.Terminated">
                                          {{'Members.93'| translate }} : {{subscribedLevelInfo.terminationNote}}
                                        </strong>
                                        <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Inactive">
                                          {{'Members.94'| translate }}
                                          <a (click)="sendRenewalMail()">{{'Members.95'| translate }}</a> {{'Members.96'| translate }}
                                        </strong>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-group" *ngIf="isDisplayMemberLevel() == true">
                                    <label class="" for="selectbasic">{{'Members.97'| translate }} :</label>
                                    <select id="ddMembershiplevel" class="form-control" formControlName="membershipLevel" (change)="displayLevelInfo()">
                                      <option [value]="null" [disabled]="true" selected>{{'Members.98'| translate }}</option>
                                      <option *ngFor="let level of memberLevels" [value]="level.id">{{level.name}}</option>
                                    </select>
                                    <div [hidden]="membershipForm.get('membershipLevel').valid || (membershipForm.get('membershipLevel').pristine && !isMembershipFormSubmitted)"
                                      class="error-msg animated shake">
                                      <small *ngIf="membershipForm.get('membershipLevel').errors && membershipForm.get('membershipLevel').errors.required">
                                        {{'Members.99'| translate }}
                                        <br>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="form-group" *ngIf="isDisplayMemberGroup() == true">
                                    <label class="" for="selectbasic">{{'Members.100'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                                    <angular2-multiselect [data]="memberGroupDropdown" [settings]="dropdownSettings" formControlName="memberGroup">
                                    </angular2-multiselect>
                                  </div>
                                </div>


                                <div class="col-md-12">
                                  <div class="form-group">
                                    <div class="text-right">
                                      <button id="btnDisplayLevels" name="displaylevel" class="btn btn-primary" (click)="showLevels()" *ngIf="isShowRenewMembership() == true">{{'Members.106'| translate }}</button>
                                      <a href="#memberLevelTab" id="memberLevel" name="send" class="btn btn-default" aria-controls="memberLevel" role="tab" data-toggle="tab"
                                        (click)="setTabActive(4)" *ngIf="subscriptionChanged == null && !isPackageUtilized"><p>{{'Members.54'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>
                                      <a href="#memberLevelTab" id="memberLevel" name="send" class="btn btn-default" aria-controls="memberLevel" role="tab" data-toggle="tab"
                                        (click)="setTabActive(1)" *ngIf="subscriptionChanged != null && !isPackageUtilized"><p>{{'Members.54'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>
                                    </div>
                                  </div>
                                </div>


                              </fieldset>
                            </form>

                          </div>
                        </div>
                      </div>
                    </tab>
                    <tab id="btnPayments" class="animated fadeInUp" *ngIf="memberId == 0 ||memberId != 0 && subscriptionChanged">
                      <ng-template tabHeading>
                        <i class="far fa-user"></i> {{'Members.107'| translate }}
                      </ng-template>
                      
                      <div class="row">

                        <form [formGroup]="paymentForm">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-6">

                                <div class="form-group">
                                  <label for="selectbasic">{{'Members.108'| translate }}</label>
                                  <select disabled class="form-control" id="txtTransActionType" formControlName="transActionType">
                                    <option [value]="type.value" *ngFor="let type of transActionTypes">{{type.displayName}}</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                  <label for="selectbasic">{{'Members.109'| translate }}</label>
                                  <select class="form-control" id="ddPaymentType" formControlName="paymentType">
                                    <option [value]="type.value" *ngFor="let type of paymentTypes">{{type.text}}</option>
                                  </select>
                                </div>

                                <div class="form-group">
                                  <label for="selectbasic">({{currency}}){{'Members.110'| translate }}</label>
                                  <input id="txtAmount" formControlName="amount" class="form-control input-md" type="text">
                                </div>

                              </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="selectbasic">{{'Members.111'| translate }}</label>
                                  <textarea formControlName="description" class="form-control" id="txtDescription" cols="30" rows="9"></textarea>
                                </div>
                              </div>

                              <div class="col-md-12" *ngIf="subscriptionChanged == null">
                                <button id="btnPayNow" [disabled]="this.isPackageUtilized" name="send" class="btn btn-primary pull-right" (click)="save()">{{'Members.112'| translate }}</button>
                                <button id="btnPayLater" [disabled]="this.isPackageUtilized" name="send" class="btn btn-default pull-right m-r-5" (click)="payLater()">{{'Members.113'| translate }}</button>
                              </div>

                              <div class="col-md-12" *ngIf="subscriptionChanged == 'renew'">
                                <button id="btnRenewPayNow" name="send" class="btn btn-primary pull-right" (click)="renewSave()">{{'Members.114'| translate }}{{'Members.203'| translate }} {{'Members.112'| translate }}</button>
                                <button id="btnPayLater" name="send" class="btn btn-default pull-right m-r-5" (click)="renewPayLater()">{{'Members.114'| translate }}{{'Members.203'| translate }} {{'Members.113'| translate }}</button>
                              </div>

                              <div class="col-md-12" *ngIf="subscriptionChanged == 'change'">
                                <button id="btnRenewPayNow" name="send" class="btn btn-primary pull-right" (click)="changeSave()">{{'Members.115'| translate }} {{'Members.112'| translate }}</button>
                                <button id="btnPayLater" name="send" class="btn btn-default pull-right m-r-5" (click)="changePayLater()">{{'Members.115'| translate }} {{'Members.203'| translate }}{{'Members.113'| translate }}</button>
                              </div>
                            </div>
                          </div>
                        </form>

                      </div>
                    </tab>
                  </tabset>
                </div>
              </div>
            </div>
          </div>

        </section>
      </div> 
    </div>
  </div>

  <membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this member?"' (delete)="archiveMember()"></membership-delete-modal>