.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }



body {
    background-color: #942A57;
    margin: 0 auto;
    max-width: 760px;
  }
  
  html, body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  body, input, button {
    font-family: Georgia, Helvetica;
    font-size: 17px;
    color: #ecf0f1;
  }
  
  h1 {
    text-align: center;
    background-color: #AC5C7E;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
  }
  
  h3 {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 5px solid #A13462;
    text-align: center;
    padding: 10px;
  }
  
  h3 div {
    margin-bottom: 10px;
  }
  
  .tagline {
    position: relative;
    margin-top: 0;
  }
  .tagline-text {
    vertical-align: middle;
  }
  .__slackin {
    float: right;
    margin-left: 10px;
    vertical-align: middle;
  }
  
  .promo {
    margin-bottom: 0;
    font-style: italic;
    padding: 10px;
    background-color: #ff4020;
    border-bottom: 5px solid #c00;
  }
  
  a {
    font-weight: bold;
  }
  a,
  a:hover {
    color: #ecf0f1;
  }
  
  pre {
    white-space: pre-wrap;
  }
  
  pre code {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
  }
  
  label {
    display: block;
    margin-bottom: 15px;
  }
  
  sub {
    display: block;
    text-align: right;
    margin-top: -10px;
    font-size: 11px;
    font-style: italic;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  .parent {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 50px 0;
    padding: 20px;
  }
  
  input {
    border: none;
    outline: none;
    background-color: #ecf0f1;
    padding: 10px;
    color: #942A57;
    border: 0;
    margin: 5px 0;
    display: block;
    width: 100%;
  }
  
  button {
    background-color: #ecf0f1;
    color: #942A57;
    border: 0;
    padding: 18px 12px;
    margin-left: 6px;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #e74c3c;
    color: #ecf0f1;
  }
  
  .gh-fork {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
  }
  
  /* dragula-specific example page styles */
  .wrapper {
    display: table;
  }
  .container {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
  }
  .container:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }
  /*
   * note that styling gu-mirror directly is a bad practice because it's too generic.
   * you're better off giving the draggable elements a unique class and styling that directly!
   */
  .container > div,
  .gu-mirror {
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s ease-in-out;
  }
  .container > div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .gu-mirror {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
  .container .ex-moved {
    background-color: #e74c3c;
  }
  .container.ex-over {
    background-color: rgba(255, 255, 255, 0.3);
  }
  #left-lovehandles > div,
  #right-lovehandles > div {
    cursor: initial;
  }
  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }
  .image-thing {
    margin: 20px 0;
    display: block;
    text-align: center;
  }
  .slack-join {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    line-height: 16px;
  }
  
  /* Carbon */
  
  #carbonads {
    position: absolute;
    display: block;
    overflow: hidden;
    margin-left: -180px;
    padding: 1em;
    max-width: calc(130px + 2em);
    background-color: #aa5579;
    text-align: center;
    font-size: 12px;
    font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
  }
  
  #carbonads a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    transition: color .2s ease-in-out;
  }
  
  #carbonads a:hover {
    color: #221c3b;
  }
  
  #carbonads span {
    display: block;
    overflow: hidden;
  }
  
  .carbon-img {
    display: block;
    margin: 0 auto 1em;
  }
  
  .carbon-text {
    display: block;
    margin-bottom: 1em;
  }
  
  .carbon-poweredby {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 960px) {
    #carbonads {
      position: relative;
      float: none;
      margin: 0 auto -2em;
      max-width: 330px;
    }
    #carbonads span {
      position: relative;
    }
    #carbonads > span {
      max-width: none;
    }
    .carbon-img {
      float: left;
      margin: 0 1em 0 0;
    }
    .carbon-text {
      float: left;
      margin-bottom: 0;
      max-width: calc(100% - 130px - 1em);
      text-align: left;
    }
    .carbon-poweredby {
      position: absolute;
      right: 0;
      bottom: 0;
      display: block;
    }
  }



.accordion-endpoints{
  background-color: #ffffff;
  box-shadow: -2px 5px 6px 0 rgba(81, 81, 81, 0.1);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  overflow-y: auto;
  z-index: 999999999;

  .header{
    padding: 10px;

    h1{
      background: none;
      font-size: 16px;
      text-align: left;
      padding: 0;
      font-weight: 600;
      margin-top: 4px;

      img{
        margin-right: 7px;
        margin-bottom: 4px;
      }
      
    }

    p{
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  ::ng-deep .panel-group .panel{
    margin-bottom: 0;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #fff;
    border-radius: 0;
    margin-bottom: -4px;
    font-size: 14px;
  }

  ::ng-deep .panel-group .panel-heading{
    padding: 10px;
  }

  .badge {
    margin-left: 0;
    background-color: #ffffff;
    background-image: url('/assets/img/lnr-menu.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    color: #717171;
    border: 1px solid #ccc;
    font-weight: 400;
    padding: 10px;
    text-align: left;
    display: block;
    margin-bottom: -1px;
    cursor: move;
    border-radius: 0;
  }

}

.email-template {
  padding-right: 226px;

  .template{
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    
  }

  .template-name{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    background-color: #fff;
    outline: none;
    color: #000000;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    border-radius: 0;
    margin: 12px 0;
    margin-bottom: 4px;
    display: block;
    width: 100%;
    box-shadow: none;
  }
}

::ng-deep p-editor .ui-editor-container {
  // background-color: white;
  padding: 0;
  border-radius: 0;
  // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
}
  