<aside class="accordion-endpoints">

    <div class="header">
        <h1> 
            <img src="../../../../assets/img/lnr-move.svg">{{'Communications.Helpers'| translate }}</h1>
        <p>{{'Communications.Drag and drop required helpers on to template body'| translate }}</p>
    </div>
    <accordion>
        <accordion-group  heading="Members" class="headerData">

            <div>
                <span class="badge" *ngFor="let header of headers.memberHeaders;let i=index" draggable="true" (dragstart)="drag($event)"
                    (dragover)="allowDrop($event)" id="span{{i}}">
                    #{{header}}#
                </span>
            </div>
        </accordion-group>
        <accordion-group heading="Membership Levels">
            <div>
                <span class="badge" *ngFor="let header of headers.customHeaders" draggable="true" (dragstart)="drag($event)" (dragover)="allowDrop($event)">
                    #{{header}}#
                </span>
            </div>

        </accordion-group>

    </accordion>
</aside>

<membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
<div class="email-template content animated fadeIn">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="main-title">
                    <span class="svg sub-svg">
                        <img alt="" src="../../../../assets/img/Proposal.svg">
                    </span>
                    <div class="title-content" *ngIf="this.templateId == 0">
                        <h4>{{'Communications.Create'| translate }} {{'Communications.Templates'| translate }} </h4>
                        <p>{{'Communications.Create'| translate }} {{'Communications.your custom emails templates here...'| translate }}</p>
                    </div>
                    <div class="title-content" *ngIf="this.templateId != 0">
                            <h4>{{'Communications.Edit'| translate }} {{'Communications.Templates'| translate }} </h4>
                            <p>{{'Communications.Edit'| translate }} {{'Communications.your custom emails templates here...'| translate }}</p>
                        </div>
                    <div class="pull-right" style="margin-right: 30px;">
                        <!-- <a class="btn btn-success" id="btnPreview" name="send" tabindex="0" (click)="emailTemplate.showTemplateModal()">{{'Communications.Preview'| translate }}</a> -->

                        <a class="btn btn-primary" id="btnSaveTemplate" name="send" tabindex="0" (click)="saveTemplate()">{{saveBtnText}}</a>
                    </div>

                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 template" (drop)="drop($event)" (dragover)="allowDrop($event)" id="btntemplateEditor">
                <form class="" [formGroup]="emailTemplateForm" novalidate>
                    <div [hidden]="emailTemplateForm.get('name').valid || (emailTemplateForm.get('name').pristine && !isEmailTemplateFormSubmitted)"
                        class="error-msg">

                        <small *ngIf="emailTemplateForm.get('name').errors && emailTemplateForm.get('name').errors.required">
                            <i class="fas fa-times-circle"></i> {{'Communications.Template name is required'| translate }}

                        </small>

                    </div>
                    <input id="txtFname" placeholder="Name your Template" class="template-name form-control input-md" formControlName="name"
                        type="text">

                    <br>
                    <div [hidden]="emailTemplateForm.get('emailBody').valid || (emailTemplateForm.get('emailBody').pristine && !isEmailTemplateFormSubmitted)"
                        class="error-msg">

                        <small *ngIf="emailTemplateForm.get('emailBody').errors && emailTemplateForm.get('emailBody').errors.required">
                            <i class="fas fa-times-circle"></i> {{'Communications.Email body is required'| translate }}

                        </small>

                    </div>
                    <p-editor formControlName="emailBody" [style]="{'height':'600px'}" id="txtpeditorid"></p-editor>

                </form>


            </div>

        </div>
        <membership-email-preview #emailTemplate [templateHtml]="emailTemplateText"></membership-email-preview>
    </div>
</div>