.modal .modal-dialog .modal-content {
  max-width: unset;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 0;
  width: 390px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  right: 15px;
  z-index: 5;
}

.modal {
  background-color: rgba(90, 112, 198, 0.2) !important;
}

.levels{
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  padding: 0 10px;

  // .level-wrapper{
  //   border: 0;
  //   padding: 12px;
  //   max-width: 220px;
  //   width: 100%;
  //   margin-right: 10px;
  //   margin-bottom: 10px;

  //   .level-dsc{
  //     font-size: 12px;
  //   }
  // }

  .padding-6{
    padding: 0 6px;
  }

  .level-card{
    border-radius: 4px;
    background-color: #fff;
    height: 360px;
    width: 100%;
    box-shadow: 1px 1px 8px #e0e0e0;
    margin-bottom: 12px;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;


    .level-title{
      text-align: center;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 600;
      padding: 20px;
      height: 66px;
    }

    .level-img{
      display: block;
      text-align: center;
      padding: 20px;
      padding-bottom: 0;
      padding-top: 30px;

      img{
        width: 76px;
      }
    }



    .level-content{
      background-image: linear-gradient(32deg, #4648c0 0%, #6c6efa 100%);
      color: #fff;
      padding: 10px 16px;

      .level-price{
        .table-data{
          font-size: 18px;
          font-weight: 400;
        }
      }

      .capcity{
        display: flex;
        align-items: center;
        justify-content: center;

        span{
          margin-left: 4px;
        }

        img{
          width: 20px;
        }
      }
    }

    .level-dsc{
  
      padding: 0 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: unset;
    }


  }

}

.level-card{
      /*min-width: 280px;*/
}

.levels .row{
  width: 100%;
}

.levels-card{
      width: 270px;
    float: left;
    margin-right: 7px;
    overflow: auto;
}
