<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section class="wizard">
          <div class="tabbable-panel">
            <div class="tabbable-line">
              <ul class="nav nav-tabs row">
                <li class="li-title">
                  <a [routerLink]="['/members']">
                    <i class="fas fa-users m-r-5"></i>{{'Members.1'| translate }}
                  </a>
                </li>
                <li class="active li-title level">
                  <a [routerLink]="['/members/memberLevels']">
                    <i class="fas fa-trophy m-r-5"></i>{{'Members.3'| translate }}
                  </a>
                </li>
                <li class=" li-title group">
                  <a [routerLink]="['/members/memberGroup']">

                    <i class="fas fa-cubes m-r-5"></i>{{'Members.4'| translate }}

                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active animated fadeInUp">
                  <div class="tabber">
                    <div class="flex">
                      <img src="assets/img/Trophy.svg" alt="">
                      <span>
                        <h4>{{'Members.226'| translate }}</h4>
                        <p>
                          <!-- <small class="badge">{{memberlevelCount}}</small>
                          {{'Members.5'| translate }} -->
                          {{'Members.227'| translate }}
                        </p>
                      </span>
                    </div>

                    <div class="pull-right">
                      <button type="button" class="btn btn-primary" id="btnAddnewMember" (click)="terminateNoteModal.show()">
                        {{'Members.228'| translate }}</button>
                    </div>

                  </div>
                  <div class="panel panel-default relative">
                  </div>
                  <div class="row">
                    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                    <div class="col-md-12">

                      <div class="levels">
                        <div class="row">
                          <div id="btnMemberLevel" *ngFor="let memberlvl of memberlevelList" class="col-sm-3 padding-6" (click)="getMemberLevel(memberlvl.id)">
                            <div class="level-card">

                              <div class="level-img">
                                <img src="assets/img/Trophy.svg" alt="">
                              </div>
                              <div class="level-title">
                                <span class="title text-overflow">
                                  {{memberlvl.name}}
                                </span>
                              </div>
                              <div class="level-content">


                                <div class="level-price">

                                  <div>
                                    <span class="table-data">Rs {{memberlvl.price | number:'1.2-2'}} / </span>
                                    <span class="" *ngIf="memberlvl.membershipExpired == 1">{{'Members.Annualy'| translate }}</span>
                                    <span class="" *ngIf="memberlvl.membershipExpired == 2">{{'Members.Monthly'| translate }}</span>
                                    <span class="" *ngIf="memberlvl.membershipExpired == 3">{{'Members.Weekly'| translate }}</span>
                                    <span class="" *ngIf="memberlvl.membershipExpired == 4">{{'Members.Daily'| translate }}</span>
                                    <span class="" *ngIf="memberlvl.membershipExpired == 5">{{'Members.Life Time'| translate }}</span>
                                    <span class="" *ngIf="memberlvl.membershipExpired == 0">{{memberlvl.subscriptionTo|date:'dd MMMM yyyy'}}</span>
                                  </div>
                                  <div class="capcity" *ngIf="memberlvl.isLimited == true">
                                    <img src="assets/img/members.svg" alt="">
                                    <span>{{'Members.197'| translate }}</span>
                                  </div>
                                  <div class="capcity" *ngIf="memberlvl.isLimited == false">
                                    <img src="assets/img/members.svg" alt="">
                                    <span>{{'Members.104'| translate }}</span>
                                  </div>
                                </div>


                              </div>


                              <div class="level-dsc">
                                {{memberlvl.description}}
                              </div>

                              <div class="level-footer hidden">
                                <div class="btn-group pull-right">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
        </section>


      </div>
    </div>
  </div>
</div>
<div bsModal #terminateNoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md side-div">
    <div class="modal-content wobble" style="max-width:unset">

      <div class="modal-body">
        <button type="button" id="btnHide" class="close pull-right" aria-label="Close" (click)="hideTerminationModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <membership-member-level-create (memberLevelSaving)=getMemberLevels()></membership-member-level-create>
      </div>

    </div>
  </div>
</div>