<section class="on-board">

  <div class="figure col-md-7">

    <div class="header">
      <a href="#" class="app-logo"><img src="./assets/img/asso.svg" alt=""></a>
    </div>

    <div class="content">
      <h1>
        {{ 'Login.46' | translate }}
        <div class="slidingVertical">
            <span>Associations.</span>
            <span>Gyms.</span>
            <span>Clubs.</span>
            <span>Organizations.</span>
          </div>
      </h1>
      <p>
        {{ 'Login.47' | translate }}
      </p>
    </div>

    <div class="footer">
      <ul class="social">
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-linkedin-in"></i>
        </li>
      </ul>
    </div>


  </div>

  <div class="form col-md-5">
    <div class="animated fadeIn">



      <div *ngIf="isTokenValid">
        <br>
        <br>
        <div class="title-content">
          <h1 class="logo">Registration </h1>
          <p>To proceed, we would like to know about your Organization</p>
        </div>

        <div class="login-form">
          <form [formGroup]="registerForm" novalidate>

            <div class="form-group text-center">
              <div class="org-img">
                <span>
                    <img class="img img-responsive img-circle" [src]="imageLogoSource">
                </span>
              </div>
              <span class="image-info">{{ 'Login.53' | translate }} 224px X 224px</span>
              <div class="upload-btn-wrapper">
                <button class="btn">{{ 'Login.54' | translate }}</button>
                <input type="file" id="fileProfileImage" accept="image/*" class="form-control" placeholder="Profile Image" (change)="fileUpload($event)">
              </div>
            </div>

            <div class="form-group">
              <label for="orgname">{{ 'Login.24' | translate }}</label>
              <input type="text" class="form-control" id="txtOrgname" placeholder="e.g. The Assocify" formControlName="Name">
              <div *ngIf="registerForm.controls['Name'].errors && !registerForm.controls['Name'].pristine" class="error-msg">
                  <small [hidden]="!registerForm.controls['Name'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.55' | translate }}</small>
                </div>
            </div>
           
            <div class="form-group">
              <label for="orgtype">{{ 'Login.25' | translate }}</label>
              <select class="form-control" formControlName="TenantTypeId" id="ddTenantType">
                  <option [ngValue]="null" disabled [selected]="true"> {{ 'Login.56' | translate }}</option>
                <option *ngFor="let type of orgTypes" [value]="type.value">{{type.text}}</option>
              </select>
              <div *ngIf="registerForm.controls['TenantTypeId'].errors && !registerForm.controls['TenantTypeId'].pristine" class="error-msg">
                  <small [hidden]="!registerForm.controls['TenantTypeId'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.45' | translate }}.</small>
                </div>
            </div>
           
            <div class="form-group">
              <label for="hostName">{{ 'Login.26' | translate }}</label>
              <div class="input-group">
                <span class="input-group-addon">www</span>
                <input type="text" id="txtHost" class="form-control" placeholder="Assocify" formControlName="Host">
                <span class="input-group-addon">.associfyapp.com</span>
              </div>
              <div *ngIf="registerForm.controls['Host'].errors && !registerForm.controls['Host'].pristine" class="error-msg">
                  <small [hidden]="!registerForm.controls['Host'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.27' | translate }}</small>
                  <small [hidden]="!registerForm.controls['Host'].errors.patternInvalid">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.28' | translate }}</small>
                </div>
              <!-- <p class="help-block">
                <i class="fas fa-info-circle"></i> www.{{registerForm.value.Host}}.memberapp.com</p> -->
            </div>
           

            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input id="chkAgreement" type="checkbox" formControlName="IsAgreement"> {{ 'Login.29' | translate }}
                </label>
              </div>
            </div>
            <br>
            <div class="row icon-fonts">
              <div class="col-md-12">
                <button class="btn  btn-block btn-primary" id="btnCreateAccount" name="createAccount" type="button" (click)="createAccount()"
                  [disabled]="!registerForm.valid||registerForm.get('IsAgreement').value != true">
                  <span [hidden]="!isRequested">
                    <i class="fa fa-spinner fa-spin" style="font-size:14px"></i>
                  </span>{{ 'Login.30' | translate }}</button>
              </div>
            </div>
          </form>
        </div>

      </div>

      <div *ngIf="!isTokenValid" class="animated fadeInDown">

        <div class="logo text-danger">
          <i class="fas fa-exclamation-triangle"></i>{{ 'Login.57' | translate }}</div>
        <p>{{ 'Login.58' | translate }}</p>
        <button class="btn btn-primary" id="btnBack" name="back" type="button" (click)="gotoLogin()">{{ 'Login.42' | translate }}</button>

      </div>




      <!-- <div class="footer">
        <ul class="info">
          <li>
            Terms & Conditions
          </li>
          <li>
            Privacy & Policy
          </li>
        </ul>
      </div> -->

    </div>
  </div>







</section>