<div class="row">

  <form [formGroup]="paymentForm">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="selectbasic">{{'Members.108'| translate }}</label>
            <select disabled class="form-control" id="txtTransActionType" formControlName="transActionType">
              <option [value]="type.value" *ngFor="let type of transActionTypes">{{type.displayName}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="selectbasic">{{'Members.109'| translate }}</label>
            <select class="form-control" id="ddPaymentType" formControlName="paymentType">
              <option [value]="type.value" *ngFor="let type of paymentTypes">{{type.text}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="selectbasic">({{currency}}){{'Members.110'| translate }}</label>
            <input id="txtAmount" formControlName="amount" class="form-control input-md" type="text">
          </div>

        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="selectbasic">{{'Members.111'| translate }}</label>
            <textarea formControlName="description" class="form-control" id="txtDescription" cols="30" rows="9"></textarea>
          </div>
        </div>

        <div class="col-md-12" *ngIf="subscriptionChanged == null">
          <button id="btnPayNow" [disabled]="this.isPackageUtilized" name="send" class="btn btn-primary pull-right" (click)="save()">{{'Members.112'| translate }}</button>
          <button id="btnPayLater" [disabled]="this.isPackageUtilized" name="send" class="btn btn-default pull-right m-r-5" (click)="payLater()">{{'Members.113'| translate }}</button>
        </div>

        <div class="col-md-12" *ngIf="subscriptionChanged == 'renew'">
          <button id="btnRenewPayNow" name="send" class="btn btn-primary pull-right" (click)="renewSave()">{{'Members.114'| translate }}{{'Members.203'| translate }} {{'Members.112'| translate }}</button>
          <button id="btnPayLater" name="send" class="btn btn-default pull-right m-r-5" (click)="renewPayLater()">{{'Members.114'| translate }}{{'Members.203'| translate }} {{'Members.113'| translate }}</button>
        </div>

        <div class="col-md-12" *ngIf="subscriptionChanged == 'change'">
          <button id="btnRenewPayNow" name="send" class="btn btn-primary pull-right" (click)="changeSave()">{{'Members.115'| translate }} {{'Members.112'| translate }}</button>
          <button id="btnPayLater" name="send" class="btn btn-default pull-right m-r-5" (click)="changePayLater()">{{'Members.115'| translate }} {{'Members.203'| translate }}{{'Members.113'| translate }}</button>
        </div>
      </div>
    </div>
  </form>

</div>