<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section class="wizard">
          <div class="tabbable-panel">
            <div class="tabbable-line">
              <ul class="nav nav-tabs row">

                <li class="active  li-title">
                  <a [routerLink]="['/members']" id="btnMemberTab" data-toggle="tab">
                    <i class="fas fa-users m-r-5"></i>{{'Members.1'| translate }}
                  </a>
                </li>

                <li class=" li-title level">
                  <a [routerLink]="['/members/memberLevels']" id="btnMemberLevelTab" data-toggle="tab">
                    <i class="fas fa-trophy m-r-5"></i>{{'Members.3'| translate }}
                  </a>
                </li>

                <li class=" li-title group">
                  <a [routerLink]="['/members/memberGroup']" id="btnMemberGroupTab" data-toggle="tab">
                    <i class="fas fa-cubes m-r-5"></i>{{'Members.4'| translate }}
                  </a>
                </li>

              </ul>

              <div class="tab-content">
                <div class="tab-pane active animated fadeInUp" id="btnDefault_1">
                  <div class="tabber">
                    <div class="flex">
                      <img src="assets/img/mem.svg" alt="">
                      <span>
                        <h4>{{'Members.206'| translate }}</h4>
                        <p>{{'Members.232'| translate }}</p>
                      </span>
                    </div>

                    <div class="pull-right">
                      <button type="button" class="btn btn-white" id="btnAddnewMember" (click)="checkMemberLevels('member')">
                        {{'Members.New Member'| translate }}</button>
                      <button type="button" class="btn btn-primary" id="btnAddnewOrganization" (click)="checkMemberLevels('organization')">
                        {{'Organaization.New Organaization'| translate }}</button>
                    </div>
                  </div>

                  <div class="panel panel-default no-shadow bottom-round no-margin">
                    <div class="panel-body title-panel">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="pull-left">
                            <div class="flex align-center">
                              <div class="hav-ico width300">
                                <span class="field-icon">
                                  <i class="fa fa-search"></i>
                                </span>
                                <input id="txtSearch" type="text" class="form-control" placeholder="Search by Name, Email or Mobile" (keyup)="searchTerm$.next($event.target.value)">
                              </div>
                              <p class="m-r-5 m-l-10 m-b-0">{{'Members.208'| translate }}:
                                <span class="">{{memberCount}}</span>
                              </p>
                            </div>
                          </div>

                          <div class=" pull-right">
                            <form>
                              <div class="flex align-center" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                  <button type="button" id="btnFilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-filter m-r-5 text-primary"></i> {{'Members.8'| translate }} {{filter}}
                                    <i class="fas fa-caret-down m-l-5"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    <li *ngFor="let filter of filters">
                                      <a (click)="filterMembers(filter)">{{filter}}</a>
                                    </li>
                                  </ul>
                                </div>

                                <div class="btn-group" role="group">
                                  <button type="button" id="btnExport" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-file-alt m-r-5 text-primary"></i>
                                    {{'Members.9'| translate }}
                                    <i class="fas fa-caret-down m-l-5"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    <li *ngFor="let format of reportFormats">
                                      <a (click)="reportTemplateModal.showReportTemplateModal(format)">{{format}}</a>
                                    </li>
                                  </ul>
                                </div>

                                <div class="btn-group" role="group">
                                  <button type="button" id="btnAction" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <i class="fas fa-ellipsis-v text-primary"></i>

                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                      <a id="btnRestore" [routerLink]="['/members/memberRestore']">
                                        <i class="fas fa-window-restore m-r-5"></i> {{'Members.10'| translate }}</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="relative">
                    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

                    <div class="">
                      <div class="table-container table-responsive">
                        <table class="table table-filter table-sortable table-striped" id="tblMembers">
                          <thead>
                            <tr>
                              <th></th>
                              <th (click)="changeSorting('Name')">{{'Members.11'| translate }}</th>
                              <th (click)="changeSorting('Membership Type')">{{'Members.12'| translate }}</th>
                              <th (click)="changeSorting('JoinDate')">{{'Members.13'| translate }}</th>
                              <th (click)="changeSorting('ExpiryDate')">{{'Members.14'| translate }}</th>
                              <th (click)="changeSorting('Status')" class="text-center">{{'Members.15'| translate }}</th>
                              <th (click)="changeSorting('PaymentState')">{{'Members.16'| translate }}</th>
                              <th (click)="changeSorting('Phone')">{{'Members.25'| translate }}</th>
                              <th (click)="changeSorting('Created On')">{{'Members.209'| translate }}</th>
                              <th></th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr (click)="viewMember(member.id)" *ngFor="let member of memberDetails" [ngStyle]="{'background-color':member.membershipStatus == membershipState.Terminated ? 'red' : 'white' }"
                              class="{{member.membershipStatus}}">

                              <td [ngStyle]="{'border-left':!member.isaMember ? '3px solid #6c6efa' : '3px solid #fff' }">
                                <a class="pull-left">
                                  <img src={{member.profileImage}} class="media-photo">
                                </a>
                              </td>

                              <td>
                                <div class="title-wrap">
                                  <span class="title">
                                    {{member.name}}
                                  </span>
                                  <small>{{member.email}}</small>
                                </div>
                              </td>

                              <td>
                                <span class="nowrap table-data">{{member.subscriptionType}}</span>
                              </td>

                              <td>
                                <span class="nowrap table-data">{{member.joinDate|date: 'dd/MM/yyyy'}}</span>
                              </td>

                              <td *ngIf="member.membershipExpired != 5">
                                <span class="nowrap table-data">{{member.renewDate|date: 'dd/MM/yyyy'}}</span>
                              </td>

                              <td *ngIf="member.membershipExpired == 5">
                                <span class="nowrap table-data">{{'Members.Life Time'| translate }}</span>
                              </td>

                              <td class="text-left">
                                <span class="table-data">
                                  <span class="badge badge-md {{member.membershipStatus}}">{{member.membershipStatus}}</span>
                                </span>
                              </td>

                              <td>
                                <span class="table-data nowrap">
                                  <i class="far fa-clock m-r-5"></i> {{member.paymentState}}
                                </span>
                              </td>

                              <td>
                                <span class="nowrap table-data">{{member.phone | slice:0:2}}-{{member.phone | slice:2:5}}-{{member.phone | slice:5:8}}</span>
                              </td>

                              <td *ngIf="member.CreatedOn != ''">
                                <span class="nowrap table-data">{{member.createdOn|date: 'dd/MM/yyyy'}}</span>
                              </td>

              
                              <td>
                                <div class="btn-group pull-right">
                                  <button type="button" id="btnEditMember" class="btn btn-default btn-sm" (click)="viweMember(member.id)">
                                    <i class="fas fa-ellipsis-h"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                            <tr *ngIf="memberDetails?.length <= 0">
                              <td colspan="19" style="text-align:center;">{{'Members.28'| translate }}</td>
                            </tr>
                          </tbody>

                        </table>
                      </div>
                      <pagination [boundaryLinks]="true" [totalItems]="paginationModel.totalRecords" [(ngModel)]="paginationModel.currentPage"
                        (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationModel.take" class="pagination-sm" [maxSize]="maxSize"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                      </pagination>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <membership-select-report-columns #reportTemplateModal (show)="showColumns($event)" [tableTemplate]="tableTemplateType" [memberStaus]="memberStatusE"></membership-select-report-columns>
  </div>


  <div class="notification" *ngIf="isMemberLevelZero">
    <div class="notification-div animated zoomIn">
      <img src="./assets/img/Trophy.svg" alt="">
      <h4>NO MEMBER LEVELS FOUND</h4>
      <small> CLICK BELOW TO ADD MEMBER LEVEL</small>
      <button class="btn btn-primary" [routerLink]="['/members/memberLevels']">ADD MEMBER LEVELS</button>
    </div>
  </div>
</div>