<div bsModal #emailPreviewTemplateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left text-primary">
          <i class="fas fa-cog"></i> {{'Communications.Email Preview'| translate }} </h4>
        <button type="button" id="btnClose" class="close pull-right" aria-label="Close" (click)="hideTemplateModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mod-wrapper" [innerHtml]="templateHtml|safeHtml">

        </div>
      </div>
      <div class="modal-footer">

        <!-- <button type="button" class="btn btn-primary" (click)="selectTemplate()" name="confirm">Select</button> -->

      </div>
    </div>
  </div>
</div>