
.custom-input{

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    color: $brand-primary;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.btn-group{
      width: 100%;


}

.btn-group > .btn:last-child:not(:first-child){
  width: calc(100% - 46px);
    text-align: left;
    box-shadow: none;
    border: 0;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    font-weight: bold;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    padding: 5px;
}

}

.bs-datepicker-container {
    padding: 2px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 0px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    visibility: hidden;
}

/* Example stylistic flourishes */

.fileContainer {
   display: block;
    width: 100%;
    height: auto;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
        font-weight: normal;
    color: #b1b3b9;
    cursor: pointer;
    
}

.fileContainer [type=file] {
    cursor: pointer;
}

.btn-outline{
 
    color: #297aff;
    background-color: transparent;
    border-color: #0e69ff;
    &:hover{
        color: #297aff;
        background-color: #fff;
    }
}
.document{
        border: 1px solid #ccc;
        background-color: #fff;
    width: 120px;
    border-radius: 4px;
    padding: 14px;
    position:relative;
    text-align: center;
        margin-right: 15px;
    margin-bottom: 15px;
    float: left;
    box-shadow: 1px 1px 6px rgba(85, 85, 85, 0.2);
    img{
        width:58%;
    }
    .btn-close{
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #fff;
    border: 0;
    color: #ea4335;
    }
    small{
            font-weight: bold;
    clear: both;
    display: block;

    }

    a{
        margin-top: 6px;
    }
}

.badge{
        // margin-left: 10px;
    background-color: #4CAF50;
    &.green{
       background-color: #4CAF50;
    }
  }

  .mod-wrapper{
      max-height: 300px;
      overflow: hidden;
      overflow-y: auto;
  }

  accordion{
      .card{
          padding: 0;
      }
      .accordion-toggle{
          font-weight: bold;
      }
  }

  p-editor{
      .ui-editor-container{
        background-color: white;
        padding: 13px;
        border-radius: 5px;
      }
  }



  .c-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 45px;
    cursor: pointer
}

.c-toggle.is-disabled {
    cursor: not-allowed;
    opacity: .5
}

.c-toggle.is-disabled .c-toggle__btn.is-active {
    border-color: #e7e9ed;
    background-color: #fafbfc;
    color: #565f6d
}

.c-toggle__btn {
    width: 50%;
    height: 45px;
    transition: all .3s;
    border: 1px solid #e7e9ed;
    border-radius: 4px;
    background-color: #fafbfc;
    color: #565f6d;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    cursor: inherit
}

.c-toggle__btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.c-toggle__btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.c-toggle__btn.is-active {
    border-color: #249533;
    background-color: #39b54a;
    color: #fff
}

.c-toggle__label {
    width: 100%;
    height: 45px;
    line-height: 45px;
    cursor: inherit
}

.c-toggle__input {
    display: none;
    width: 100%;
    height: 100%
}
.custom-check{
    .radio{
            float: left;
    margin-right: 5px;
    display: block;
    margin-top: 4px;
    }
}

.selected-list .c-btn, .list-area{
    box-shadow: none !important;
}

.list-filter svg {
    display: none;
}

.custom-radio{
        position: relative;
    display: flex;
    width: 100%;
    .btn{
           padding: 0 !important;
           border: 0 !important;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    }
    input{
        visibility: hidden;
        display: none;
    }
    span{
         
        background-color: #fff;
    color: #555;
    padding: 12px 11px;
    width: 100%;
    font-size: 12px;
        width: 100%;
    border-radius: 0px;
        font-weight: bold;
            border: 1px solid #cccccc;
            &::first-child{
                border-radius: 4px;
            }
    }
}