.login-container{
 //text-align: center;
    padding: 30px 40px 40px 40px;
 &.small{
   padding-top:30px;
 }

 .logo {
    padding: 5px 0;
    font-size: 25px;
    font-weight: bold;
        letter-spacing: -1px;
    &.sub{
      font-size: 16px;
    }
}
}


.icon-fonts svg {
  margin-right:10px;
}
.fb{
  background-color:#3b65c4;
  color:#fff;
  &:hover{
  background-color:#3b65c5;
  color:#fff;
  }
}

.google{
  background-color:#cf4333;
  color:#fff;
  &:hover{
  background-color:#cf4334;
color:#fff;
  }
}
.login-title{
  .sub-svg {
    width: 45px;
    height: 40px;
}
h2{
      margin: 0;
    font-weight: bold;
    letter-spacing: -1px;
}
}

.login-wrap {
  .setup-inner-cnt-wrapper{
        max-width: 400px;
  }

}