// .wizard{
  .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    -webkit-overflow-scrolling: touch;
    // Prevent Chrome on Windows from adding a focus outline. For details, see
    // https://github.com/twbs/bootstrap/pull/10951.
    outline: 0;
    // When fading in the modal, animate it to slide down
    &.fade .modal-dialog {
      @include translate(0, -25%);
      @include transition-transform(0.3s ease-out);
    }
    &.in .modal-dialog { @include translate(0, 0) }
  }
  // Shell div to position the modal with bottom padding
  .modal-dialog {
    width: 100%;
    margin: 0;
    height: 100%;
  }
  // Actual modal
  .modal-content {
    // position: relative;
    // background-color: $modal-content-bg;
    // border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
    // border: 1px solid $modal-content-border-color;
    // border-radius: $border-radius-large;
    // height: 100%;
    // @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    // background-clip: padding-box;
    // outline: 0;
    // position: fixed;
  }
  // Modal background
  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: transparent;
    //z-index: $zindex-modal-background;
    //background-color: $modal-backdrop-bg;
    // Fade for backdrop
    &.fade { @include opacity(0); }
    &.in { @include opacity($modal-backdrop-opacity); }
  }
  // Modal header
  // Top section of the modal w/ title and dismiss
  .modal-header {
    padding: $modal-title-padding;
    border-bottom: 1px solid $modal-header-border-color;
    @include clearfix;
  }
  // Close icon
  .modal-header .close {
    margin-top: -2px;
  }
  // Title text within header
  .modal-title {
    margin: 0;
    line-height: $modal-title-line-height;
    font-weight:bold;
  }
  // Modal body
  // Where all modal content resides (sibling of .modal-header and .modal-footer)
  .modal-body {
    position: relative;
    padding: 0;
    background-color:#e7eaf3;
    overflow:auto;
    height: 100%;
  }
  .wizard-inner-body{
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    .wiz-left{
          margin: -10px;
      background: -moz-linear-gradient(top, rgba(231,234,243,1) 0%, rgba(255,255,255,0) 100%); 
      background: -webkit-linear-gradient(top, rgba(231,234,243,1) 0%,rgba(255,255,255,0) 100%); 
      background: linear-gradient(to bottom, rgba(231,234,243,1) 0%,rgba(255,255,255,0) 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaf3', endColorstr='#00ffffff',GradientType=0 );
      padding: 60px;

      min-height:300px;
      img{
        width: 100px;
        height: 100px;
 
        overflow: hidden;
       
      }
      h4{
        font-weight:bold;
      }
    }
    .wiz-info{
      
    }
     .tab-content{
      padding: 15px ;
    }
    
    .nav-tabs {
      border-bottom: 1px solid #ddd;
      padding: 0px 15px;
      background-color: #fff;
      overflow: hidden;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      /*box-shadow: 0 0 10px 0 rgba(171, 171, 171, 0.2);*/

      li > a{
        color: #7f8fa4;
        font-weight: bold;
        padding: 20px 15px;
        border:0;
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        &:hover{
          background: transparent;

        }
      }
      li.active > a{
        color: #2d3848;
        background-color: #fff;
        border: 0;
        border-bottom: 3px solid #4648c0;
        cursor: default;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: bold;
      }
      svg{
          margin-right: 5px;
        }
    }
  }
  // Footer (for actions)
  .modal-footer {
    // padding: $modal-inner-padding;
    // text-align: right; // right align buttons
    // border-top: 1px solid $modal-footer-border-color;
    // padding: 15px;
    // text-align: right;
    // border-top: 1px solid #e5e5e5;
    // position: fixed;
    // bottom: 0;
    // background-color: #fff;
    // width: 100%;
    @include clearfix; // clear it in case folks use .pull-* classes on buttons
    // Properly space out buttons
    .btn + .btn {
      margin-left: 5px;
      margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
    // but override that for button groups
    .btn-group .btn + .btn {
      margin-left: -1px;
    }
    // and override it for block buttons as well
    .btn-block + .btn-block {
      margin-left: 0;
    }
  }
  // Measure scrollbar width for padding body during modal show/hide
  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  .form-horizontal .control-label {
  text-align:left;
}
// }
.sub-svg{
  width:40px;
  height:40px;
}

.input-group-addon-sub{
  padding: 6px 12px;
      width: 1%;
    white-space: nowrap;
    vertical-align: middle;
        display: table-cell;
}

.input-group-addon-sub-inline{
  padding: 6px 12px;
      width: auto;
    white-space: nowrap;
    vertical-align: middle;
        display: table-cell;
}

.well .form-group{
  margin-bottom:0;
}

.form-control.short{
  width:44px;
}

.well.sub-well{
  font-weight: bold;
  padding: 5px 15px;
}

.sub-title-inner h4 {
  font-weight: bold;
  float: left;
  margin-bottom:0;
  padding-left: 5px;
}

.panel-body.title-panel-sub{
  padding: 10px;
}

.well{
  padding: 10px;
}

.mh-520{
  min-height: 520px !important;

}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: transparent;
  display: none;
}

.modal-footer {
  padding:5px;
}

.modal-title{
  font-weight: bold;
  color: #e91e63;
  text-transform: uppercase;
}


.modal{

  background-color: rgba(18, 99, 162, 0.39);

  .modal-dialog{
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content{
      min-height: 220px;
      max-width: 380px;
      background-clip: padding-box;
      outline: 0;
      box-shadow: none;
      border: 0;
      overflow: hidden;
      border-radius: 4px;
      /*box-shadow: 1px 1px 8px 2px #e4e4e4;*/
    }

    .modal-header{
      padding: 16px;
      border: 0;
    }

    .modal-body {
      padding: 16px;
      background: none;
      overflow: auto;
      min-height: 140px;
    }

    .modal-footer{
      padding: 16px;
      border: 0;
    }

  }
}

.table-tabs .tab-content{
      padding: 15px 0px !important;
    }