
@media(max-width:1199px){

.sidebar{
        transform: translateX(-215px);
        .tog{
    flex-grow: unset !important;
    padding: 15px !important;
    
}
.quick-n div{
    border-right: 0 !important;
}

.app-info{
    display: none;
}

}

.top-search-bar{
        width: calc(100% - 50px);
}
.main-panel{
        width: calc(100% - 51px);
}
.sidebar-wrapper ul li a span {
    display: block;
    float: left;
    margin-right: 20px;
    line-height: 15px;
    width: 20px;
    transform: translateX(159px);
}
.sidebar-wrapper ul li a p  {
 transform: scale(0);
   opacity: 0;
}
.sidebar-wrapper .login-info{
.image-circle{
    transform: translateX(154px)scale(0.6);
        margin: unset;
    margin-top: -21px;
}

 .info{
    transform: scale(0);
   opacity: 0;
}
}

.sidebar-wrapper ul li.active > a:before {
    width: 4px;
    transform: translateX(0px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}





.close-sidebar{
    .sidebar{
        transform: translateX(0px);
        .tog{
    flex-grow: 1 !important;
    
}
.quick-n div{
       border-right: 1px solid #6566f0 !important;
}

.app-info{
    display: none;
}

}

.top-search-bar{
        width: calc(100% - 50px);
}
.main-panel{
        width: calc(100% - 51px);
}
.sidebar-wrapper ul li a span {
    display: block;
    float: left;
    margin-right: 20px;
    line-height: 15px;
    width: 20px;
    transform: translateX(0px);
}
.sidebar-wrapper ul li a p  {
 transform: scale(1);
   opacity: 1;
}
.login-info{
    
.image-circle{
    transform: translateX(0px)scale(1);
       margin-top: 5px;
    margin: auto;
}

 .info{
    transform: scale(1);
   opacity: 1;
}
}

.sidebar-wrapper ul li.active > a:before {
    width: 4px;
    transform: translateX(0px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

}



}

@media(max-width:767px){
.invoice{
    display: none;
}
}



@media(max-width:991px){

    .table-responsive{
        border: 0px !important;
    }

    .levels{
        display: block !important;
    }
    .levels .row{
    width: auto !important;
}

.modal .modal-dialog .modal-content {
    width: 100% !important;
}



    .main-title{
            flex-direction: column !important;
    align-items: flex-start !important;

    .title-content{
        margin-bottom:15px;
    }

        .dash-date {
    display: block;
    font-size: 12px !important;
}
    }

    ul.filter-data{
         flex-direction: column !important;
         width:100%;
             background-color:transparent!important;

         li{
                 border-radius: 4px;
    margin-bottom: 4px;
        background-color: #fff;
         }
    }

    .main-title .sub-svg {
   display: none;
}

.summary{

        
    .card{
        margin-bottom: 15px;
        .ico{
            display: none;
        }
    }
}

.card-inner{
    margin-bottom:15px;
}

.tabbable-line > .nav-tabs {
    padding: 0px 5px;
    }

.tabbable-line > .nav-tabs > li{
    width:100%;
        border-bottom: 1px solid #eaecf4;
     a {
    border: 0;
    color: #333333;

       padding: 15px 5px 10px 5px;
}

}

.tabber{
    flex-direction: column;

    .flex{
        span{
            text-align: center;
        }
        img{
            display: none;
        }
    }
    div.pull-right{
        width: 100%;
        .btn{
            width: 100%;
            display: block;
        }
    }

    .btn{
        width: 100%;
        margin-bottom: 5px;
    }
}

.panel-body.title-panel{
    display: none;
}

.wizard-inner-body ul{
    margin-top: 15px;
}

.wizard-inner-body ul .nav-item {
    width: 100%;
}

.panel-body .custom-radio {

    .btn{
        margin-left: 0;
    }
    position: relative;
    display: block;
    width: 100%;
    overflow: auto;

    span{
         display: block;
    width: 100%;
        margin-bottom: 4px;
    }
}
.tabber div.pull-right .btn {
    width: 100%;
    display: block;
    margin-bottom: 5px;
}


}

.flex{
    display: flex;
    
}

.align-center{
    align-items: center;
}

.flex-column{
    flex-direction: column
}

.space-between{
    justify-content: space-between;
}

