.wizard-wrap{
  width: 480px;
    margin: auto;
 padding:50px 0 0 0;

 .img-thumbnail {
    padding: 8px;
  }

.nav-tabs > li.active {
    border-bottom: 2px solid #2d2e83;
    position: relative;
}

.nav-tabs > li > a{
  color: #555;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #2779ff;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    cursor: default;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    border: 1px solid transparent;
    background-color: transparent; 
}


  .wizard-title {
    padding: 15px 0;
    h3{
      font-weight: bold;
      margin-top: 0;
    }
   p{
    margin-bottom: 0;
   }
}

.inner-form{
padding-top: 15px;
}

}

.config-bg{
  background-color: #e9ebee !important;
background-image: url('assets/img/all-users-op.svg');
background-size:40%;

}

.inner-wrapper{
           
    position: fixed;
    bottom:0;
    top:0;
    width: 100%;
    background: #f9f9f9;
    background: -moz-linear-gradient(-45deg, #f9f9f9 0%, #eaeaea 49%, #2779ff 50%, #2779ff 100%);
    background: -webkit-linear-gradient(-45deg, #f9f9f9 0%, #eaeaea 49%, #2779ff 50%, #2779ff 100%);
    background: linear-gradient(135deg, rgba(249, 249, 249, 0.63) 0%, rgb(255, 255, 255) 49%, rgba(39, 121, 255, 0.75) 49%, rgba(39, 121, 255, 0.88) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#2779ff',GradientType=1 );
}



.inner-wrapper-2{
          position: fixed;
          top:0;
    bottom:0;
    width: 100%;
    background: #f9f9f9;
    background: -moz-linear-gradient(-45deg, #f9f9f9 0%, #eaeaea 49%, #2779ff 50%, #2779ff 100%);
    background: -webkit-linear-gradient(-45deg, #f9f9f9 0%, #eaeaea 49%, #2779ff 50%, #2779ff 100%);
    background: linear-gradient(135deg, rgba(249, 249, 249, 0.63) 0%, rgb(255, 255, 255) 0%, rgba(39, 121, 255, 0.75) 0%, rgba(39, 121, 255, 0.88) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#2779ff',GradientType=1 );
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.inner-wrapper-3{
    height: 100%;
}
.setup-inner-cnt-wrapper{
  background-color: #fff;
    margin: 10% auto;
    border-radius: 5px;
    /*box-shadow: 2px 11px 20px 1px rgba(4, 0, 0, 0.3);;*/
    position: relative;
    padding:25px;
    max-width:450px;
    width: 100%;
}

.inner-cnt-wrapper{
  background-color: #fff;
    margin: 10% auto;
    border-radius: 5px;
    /*box-shadow: 2px 11px 20px 1px rgba(4, 0, 0, 0.3);;*/
    position: relative;
    padding:0 15px;
    
        max-width: 570px;
        &.sm{
          max-width: 620px;
        }
}
.help-text {
  padding-top:10px;
  p {
    margin-bottom: 0;
    color: #616161;
    font-size: 12px;
}



}



.login-img-cnt{
background-image: url(assets/img/inner.jpg);
    background-size: cover;
    min-height: 300px;
    margin: 5px;
    float: left;
    width: 47.5%;
    &.sm{
       min-height: 330px;
    }
}


.help-text-bottom{
  border-top: 1px solid #ccc;
    padding-top: 5px;
    a{
      color: #555;
    }
}

.setup-container{


 .logo {
    padding: 5px 0px;
    font-size: 25px;
    font-weight: bold;
    &.sub{
      font-size: 16px;
    }
}
}

.error-msg{
 
  margin-bottom: 0;
    margin-top: 8px;
    font-size: 14px;
    display: inline-block;
        background-image: linear-gradient(-180deg, rgba(245,81,156,0.81) 0%, #FF3A7B 98%);
    border-radius: 3px;
    padding: 5px 12px;
    position: relative;

    small{
    color: #fff;
    }
    &:after{
          width: 10px;
    height: 10px;
    content: "";
    position: absolute;
    top: -4px;
    z-index: 5;
    background-color: #f871af;
    transform: rotate(45deg);
    }
}

.form-horizontal .error-msg{
      border-left: 4px solid;
    font-size: 12px;
    color: #ca4242;
    background-color: #ffd8dd;
    padding: 5px;
    margin-bottom: -10px;
    margin-top: 5px;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.text-left{
  text-align: left !important;
}