body{
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
}


.wrapper{
    // background-color: rgba(233, 233, 233, 0.62);
    // background-color: rgb(244, 244, 250);
    background: linear-gradient(to top, #e7eaf3 0%, #fafafc 100%);
    //background-image: linear-gradient(to bottom, #eef2f3, #E7EAF0);
    //e7eaf3
    height: 100vh;
    overflow: auto;
}

.sidebar{
    position: fixed;
    width:265px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: #6c6efa;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    .logo{
        position: relative;
        padding: 15px 15px;
        z-index: 4;
        //background-color:$primary-color;
        overflow: auto;
            display: flex;
    align-items: center;
    justify-content: space-between;
        flex-direction: column;

        
        a{
            color: #fff;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
        }
        .menu-switch{
            position: relative;
            float: right;
            background-color: transparent;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 3px 0 0;
            i{
                color: #fff;
            }
        }
    }
}
.sidebar-wrapper{
        float: left;
    width: calc(100% - 46px);
    .login-info{
           
        min-height: 60px;
        overflow: hidden;
        padding: 10px;
        text-align: left;
        width: 100%;

        .image-circle{
                background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 60px;
    position: relative;
    width: 60px;
    overflow: hidden;
    /*float: left;*/
    margin-top: 5px;
    margin:auto;
    transition: all .3s ease-in;
        }
        .info{
            /*float: left;*/
            padding:10px;
            transition: all .3s ease-in-out;
                width:90%;
                color:#fff;
            h5{
                margin:0;
                font-weight: bold;
                font-size: 16px;
                    text-transform: capitalize;
            }
            p{
                margin:0;
                    font-weight: 300;
                    color: #FFEB3B;
            }
            
        }
    }
    ul{
        li{
            a{
                color: #fff;
                letter-spacing: 0;
                //transition: all .3s;
                padding: 14px 25px;
                font-size: 14px;
                /*font-weight: bold;*/
                &:hover{
                    //background-color: rgb(240, 248, 255);
                    & p{
                        //opacity: .7;
                    }

                    & span{
                        //transform: scale(1.1);
                    }
                }
                span{
                    display: block;
                    float: left;
                    margin-right: 20px;
                    line-height: 15px;
                    width: 20px;
                     transform: translateX(0px);
                    transition: all .3s ease-in-out;
                }
                p{
                    margin:0;
                    line-height: 21px;
                     transition: all .3s ease-in-out;
                }
            }

            a.active,a:hover{
                background-color: transparent;
                color: #fff;
                //font-weight: bold;
            }


            &.active > a{
               background-color: rgba(85, 87, 204, 0.33);
                 color: #fff;
                //color: $primary-color;
                /*font-weight: bold;*/
                &:before{
                    background-color: #fff;
                    color: $primary-color;
                    content: "";
                    width: 4px;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    height: 100%;
                    position: absolute;
                    transition: transform .3s ease-in-out;
                    right: 0;
                    //border-radius: 0 5px 5px 0;
                    top: 0px;
                    //box-shadow: 1px 0 11px 0 rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}
.main-panel{
    position: relative;
    float: right;
    width: calc(100% - 265px);
    transition: width 0.3s ease-in-out;
    max-height: 100%;
    // padding:0 15px;
    height: 100%;
    .top-search-bar{
        position: fixed;
        padding:7px 15px 7px 7px;
        z-index: 4;
        background-color: $primary-color;
        overflow: unset;
        width: calc(100% - 220px);
        background: #FFFFFF;
        height:55px;
        right:0;
        transition: width 0.3s ease-in-out;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        
        .nav > li > a {
    position: relative;
    display: block;
    padding: 0;
    float: left;
    margin-right: 30px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 19px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
    border-color: #2779FF;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu > li > a {
    padding: 3px 15px;

    .badge{
        background-color:$brand-primary;
    }
}

.notify:after{
    background-color: #f54437;
    width: 18px;
    height: 18px;
    position: absolute;
    content: "5";
    color: #fff;
    padding: 1px 6px;
    font-size: 10px;
    font-weight: bold;
   top: -1px;
    right: 0px;
    border-radius: 50%;
}

        .search{
            float: left;
    width: calc(100% - 940px);
            i{
                display: inline-block;
                color: $primary-color;
                float: left;
                margin-right: 15px;
            }
            p{
                margin: 0;
                color: #E5E5E5;
                line-height: 14px;
            }
        }

        .logout{
                cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #585e67;
    &:hover svg{
        color: #990000;
    }
            label{
                margin-bottom: 0;
    float: left;
    margin-right: 6px;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 2px;
            }
        }
    }

    .content{
        padding:30px 15px;
            // overflow: hidden;
                margin: auto;
    max-width: 1340px;
    }
}

.close-sidebar{
.sidebar{
        transform: translateX(-215px);
        .tog{
    flex-grow: unset !important;
    padding-right: 16px !important;
    padding-top: 10px;
}
.quick-n div{
    border-right: 0 !important;
}

.app-info{
    display: none;
}

}

.top-search-bar{
        width: calc(100% - 50px);
}
.main-panel{
        width: calc(100% - 51px);
}
.sidebar-wrapper ul li a span {
    display: block;
    float: left;
    margin-right: 20px;
    line-height: 15px;
    width: 20px;
    transform: translateX(159px);
}
.sidebar-wrapper ul li a p  {
 transform: scale(0);
   opacity: 0;
}
.login-info{

.image-circle{
    transform: translateX(154px)scale(0.6);
    margin: unset;
    margin-top: -21px;
}

 .info{
    transform: scale(0);
   opacity: 0;
}
}

.sidebar-wrapper ul li.active > a:before {
    width: 4px;
    transform: translateX(2px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

}

:focus {
    outline: 0 !important;
}

.footer{
    padding:15px;
}

@media (max-width:991px){
    .main-panel{
    width: calc(100% - 51px);
    .top-search-bar{
        p{
            display: none;
        }
    }

    .small-card .image-circle{
        display: none;
    }
}
}

.inner-wrapper-3:after{
    // background: linear-gradient(135deg, rgba(249, 249, 249, 0.63) 0%, white 0%, rgba(231, 234, 243, 0.65) 0%, #9dacd8 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#2779ff',GradientType=1 );
    /*position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";*/
}

.sidebar-bg:after {
    content: "";
    background-image: url(assets/img/pat.png);
    position: absolute;
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    /*background-size: contain;*/
    bottom: 0;
    background-repeat: no-repeat;
    opacity: .2;
    background-position-y: bottom;
    background-position-x: 0px;
}

.sidebar-bg2:after{
    content: "";
    background-image:url(assets/img/pat2.png);
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -1;
    background-size: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    opacity: .2;
    background-position-y: bottom;
    background-position-x: 0px;
}


.logo{
    .image-circle{
                background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 60px;
    position: relative;
    width: 60px;
    overflow: hidden;
    /*float: left;*/
    margin-top: 5px;
    margin:auto;
    transition: all .3s ease-in;
        }
}

.app-info{
    position: absolute;
    bottom: 15px;
    width: calc(100% - 45px);
    .app-logo{
        font-family: 'Clicker Script', cursive;
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        display: block;
        margin: auto;
        text-decoration: none;
        text-align: center;
        width: 100%;
        }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    li{
        a{
                text-decoration: none;
                font-size: 12px;
                width: 100%;
                display: block;
                text-align: center;

                 svg{
                     margin-right: 5px;
                 }
        }
    }
    }
}

.global-search{
    margin-right: 15px;
    .form-control{
        border: 0;
    box-shadow: none;
    background-color: #f1f3f7;
    }
    .field-icon{
            color: #848f99;

    }
}

.toggler{
        color: #2779ff;
    padding: 5px 10px;
    font-size: 22px;
}
svg{
    font-family: inherit !important;
}

.logo.quick-n {
    width: 46px;
    float: left;
    height: 100%;
    background-color: #5557cc;
    overflow: unset;

    
}