.list-view{
	margin-top:25px;
}

.table{
	margin-bottom:0;
    tr{
            border: 1px solid #e6eaee;
            td{
                padding: 15px 10px;
            }
    }

    .title-wrap{
        .title{
            font-weight: bold;
        }
        small{
            display: block;
        }
    }
}

 .table-responsive .table > thead > tr > th {
     vertical-align: middle;
     border-bottom: 1px solid #e6eaee;
     text-transform: uppercase;
     padding: 4px 10px;
     font-size: 11px;
     white-space: nowrap;
}
.table > thead > tr{
    background-color: #eaecf4;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 15px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 0px solid #ddd;
}


/*  --------------------------------------------------
    :: Table Filter
    -------------------------------------------------- */
.panel {
    margin-bottom: 12px;
    border: 1px solid #ddd;
    background-color: #fcfcfc;
    border-radius:4px;
}

.panel-body {
    padding:15px;
    &.title-panel .btn-group{
    margin-left: 5px;
    }

    &.form-inner{
        padding:20px;

        h4{
            margin: 5px 0;
            position:relative;
            &:after{
                    content: "";
    position: absolute;
    width: 59px;
    height: 2px;
    background-color: #2779ff;
    bottom: -10px;
    left: 0;
            }
        }

        fieldset{
            padding-top:15px;
        }
    }
}
.panel .btn-group {
    margin: 0;
}
.panel .btn-group .btn {
    transition: background-color .3s ease;
}
.table-filter {
    // background-color: #fff;
    border-bottom: 0px solid #eee;
    border-spacing: 0 4px;
    border-collapse: separate;

}
.table-filter tbody tr {
    background-color: #fff !important;
}
.table-filter tbody tr:hover {
    cursor: pointer;
    background-color: #f8f9fb;
}
.table-filter tbody tr td {
    padding: 10px 10px;
    vertical-align: middle;
    border-top-color: #eee;
}
.table-filter tbody tr.selected td {
    background-color: #eee;
}
.table-filter tr td:first-child {
    width: 38px;
}
.table-filter tr td:nth-child(2) {
}
.ckbox {
    position: relative;
}
.ckbox input[type="checkbox"] {
    opacity: 0;
}
.ckbox label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ckbox label:before {
    content: '';
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    border-radius: 2px;
    border: 1px solid #bbb;
    background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
    border-color: #2BBCDE;
    background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
    top: 3px;
    left: 3.5px;
    content: '\e013';
    color: #fff;
    font-size: 11px;
    font-family: 'Glyphicons Halflings';
    position: absolute;
}
.table-filter .star {
    color: #ccc;
    text-align: center;
    display: block;
}
.table-filter .star.star-checked {
    color: #F0AD4E;
}
.table-filter .star:hover {
    color: #ccc;
}
.table-filter .star.star-checked:hover {
    color: #F0AD4E;
}
.table-filter .media-photo {
      width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;
    padding: 2px;
    border: 1px solid #dce1f0;
    background-color: #fff;
}
.table-filter .media-body {
    display: block;
    width: auto;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
    font-size: 11px;
    color: #999;
}
.table-filter .media .title {
    color: #2BBCDE;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    margin: 0;
}
.table-filter .media .title span {
    font-size: .8em;
    margin-right: 20px;
}
.table-filter .media .title span.pagado {
    color: #5cb85c;
}
.table-filter .media .title span.pendiente {
    color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
    color: #d9534f;
}
.table-filter .media .summary {
    font-size: 14px;
}

.inner-table {
    border: 1px solid #c8cdda;
    padding: 5px;
}

.table-sortable > thead > tr > th {
    cursor: pointer;
    position: relative;
    background-image: none;
}
 
.table-sortable > thead > tr > th:after,
.table-sortable > thead > tr > th.sort-false:after,
.table-sortable > thead > tr > th.sort-true:after {
    font-family: FontAwesome;
    padding-left: 5px;
}

.table-sortable > thead > tr > th:after {
   content: "\F0DC";
    color: #555;
    font-size: 10px;
}
.table-sortable > thead > tr > th.sort-false:after {
    content: "\f0de";
    color: #767676;
}
.table-sortable > thead > tr > th.sort-true:after {
    content: "\f0dd";
    color: #767676;
}

.table-data .badge{
    min-width: 70px;
}

.nowrap{
    white-space: nowrap !important;
}