
/* Tabs panel */
.tabbable-panel {
  border:0px solid #eee;
}

/* Default mode */
.tabbable-line > .nav-tabs {
 //border-bottom: 1px solid #ddd;
    // padding: 0px 15px;
    background-color: #fff;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*box-shadow: 0 0 10px 0 rgba(171, 171, 171, 0.2);*/
    margin: 0;
    border-bottom: 1px solid #e7eaf3;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
 color: #7f8fa4;
    font-weight: bold;
    padding: 25px 15px 20px 15px;
    border: 0;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    
  .badge{
        // margin-left: 10px;
    background-color: #4CAF50;

    &.green{
       background-color: #4CAF50;
    }
  }
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 3px solid transparent;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 3px solid $brand-primary;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;

  
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding:0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

.tabbable-line > .tab-content{
  background-color:transparent;
}

.tabbable-line{
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background-color:transparent;
    border-bottom: 3px solid transparent;
    //color: $primary-color;
  }

  .tab-pane{
    .overview{
      margin-bottom: 18px;
    }
    .card-inner{
      min-height: 115px;
    }
  }
}



.wide-tabs{
  .tabbable-line > .nav-tabs > li {
  margin-right: 0px;
}
  ul{
    .li-title{
          background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0) 100%);
    text-align: center;
    cursor: pointer;
    opacity: .6;
        filter: grayscale(1);
        border-bottom: 4px solid #ffffff;
        &:not(.active):hover{
        border-bottom: 4px solid #ffffff; 
            filter: grayscale(0); 
                    
        }
        &:focus{
          h6{
            color: #333;
          }
        }
    &.active{
       opacity: 1;
           filter: grayscale(0);
           box-shadow: 0px 3px 5px 0px rgba(85, 85, 85, 0.2784313725490196);
           a{
             color: #333;
           }
            h6{
            color: #333 !important;
          }
}
    a{
          display: block;
    overflow: auto;
    .tab-title-wrap{
      overflow: auto;
      display: inline-block;
    }
    .text-cnt{
          display: block;
   float: left;
    h6{
      font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: left;
    }
    p{
          color: #555;
    font-size: 13px;
    margin-top: 2px;
    }
    .badge{
          float: left;
    margin: 0;
    margin-right: 4px;
    }
    }
      img{
        width:50px;
        float: left;
            margin-right: 5px;
      }
    }
     
   
    }
    .level a {
      img{
        margin-top: 5px;
      }
    }
    .group a {
      img{
        margin-top: 13px;
      }
    }
  }

  .tabbable-line > .tab-content{
    border: 0;
  }.tabbable-line .tab-pane .overview {
    margin-bottom: 0px;
}

}

.tabber{
    background: -webkit-gradient(linear, left top, left bottom, from(#e7eaf3), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #e7eaf3 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaf3', endColorstr='#00ffffff',GradientType=0 );
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        margin-top: -1px;
    margin-bottom: 0px;
    background-color: white;
        
        /*box-shadow:  0 5px 10px 0 rgba(171, 171, 171, 0.2);*/




        img{
            width: 50px;
            margin-right: 10px;
        }

        .badge{
          margin-left:5px;
        }

        span{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: left;

            h4{
                font-weight: 600;
                margin-bottom: 2px;
                
            }
        }
   
}

.flex{
  display: flex;
      align-items: center;
}

.tab-top-title{
  margin-bottom: 20px;
}


.p-r-0{
  padding-right: 0 !important;
}

.b-l{
    background-color: #fff;
}

.inner-sub{
      font-size: 16px;
    font-weight: bold;
}