.main-title{
	overflow: hidden;
	clear:both;
	margin-bottom:10px;
	margin-top: 10px;
	.svg{
	float: left;
	margin-right:15px;
	}
	.sub-svg{
		width: 60px;
		height: auto;
	}
	.title-content{
		float: left;
		padding-top: 6px;
	h4{
		font-weight: bold;
		margin: 0 0 0px 0;
		font-size: 22px;
		span{
			font-weight: 100

		}


	}
	span.sub-title{
			color: #475161;
		}
}
}

.text-danger {
    color: #E91E63;
}
.text-success {
    color: #009688;
}
h5{
	font-size:14px;
}

h5.inner-sec-title{
	    border-bottom: 1px solid #e9ecf1;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}
small {
    color: #7f8ea4;
}

.c-title{
	    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
	overflow: auto;

	img{
		    width: 40px;
    float: left;
    margin-right: 6px;
	}
   
    margin-bottom: 29px;
	h4{
		 font-size: 21px;
		 float: left;
	}
}

.padding-25{
	padding:25px;
}

.outer-title{
	    overflow: auto;
    clear: both;
	margin-bottom: 5px;
	display: flex;
    align-items: center;
	div{
		float:left;
	}
	h3{
		    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 8px;
	}
	img{
		    width: 49px;
    float: left;
	}
}