.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.m-t-25{
	margin-top:25px;
}

.m-t-0{
  margin-top:0px !important;
}

.m-t-15{
  margin-top:15px !important;
}

.m-t-m-15{
  margin-top:-15px !important;
}

.m-b-15{
	margin-bottom:15px !important;
}


.m-b-30{
	margin-bottom:30px !important;
}

.m-b-60{
	margin-bottom:60px !important;
}

.m-b-5{
	margin-bottom:5px !important;
}

.m-r-5{
	margin-right:5px !important;
}

.m-r-16{
	margin-right:16px !important;
}

.m-l-5{
	margin-left:5px !important;
}

.m-l-10{
	margin-left:10px !important;
}


.m-b-0{
  margin-bottom:0px !important;
}

@media (max-width:991px){
.m-t-25-mobile{
	margin-top:25px;
}
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

.p-b-0{
padding-bottom:0;
}

.p-t-0{
padding-top:0;
}

.p-t-5{
padding-top:5px;
}

.p-r-0{
  padding-right:0;
  }

  .p-l-0{
    padding-left:0;
    }
   

.form-control-check{
  padding: 6px 0 0 0;
}

.width300{
  width:300px;
}

//custom media query for larger screens

@media screen and (min-width: 1400px) {
	
  .container {
    width: 1370px;
  }


}
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
  body{
		font-size: 14px;
	}
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}

.text-overflow{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

th[data-hide]:after{
  content:"" !important;
}

pagination{
  float: left;
  .pagination{
    margin-bottom: 0;
  }
}

.image-circle img {
  width:100%;
}

.custom-file{
      width: calc(100% - 101px);
    float: left;
    margin-right: 15px;
}
.padding{
      padding: 0 15px;
}
.padding-all{
  padding: 15px;
}

.modal-dialog {
    margin: 80px auto !important;
}
.text-primary {
    color: #6c6efa  !important;
}


.relative{
  position: relative;
}

.block{
    
    overflow: auto;
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(244, 244, 244, 0.8588235294117647);
    top:0;
    left: 0;
 

    span{
         color: #2779FF;
    font-weight: bold;
    display: block;
    margin-left: 6px;
}


}

[hidden], template {
    display: none !important;
}
p-editor .ui-editor-container {
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
}
.levels{
  max-height: 1000px !important;
}

.badge-md{
      padding: 5px 7px;
}

.no-shadow{
  box-shadow: none !important;

}

.bottom-round{
  border-radius: 0 0 4px 4px !important;
}

.flex-row{
    flex-direction: column;
    justify-content: center;
    display: flex;
    filter: grayscale(1);

    .level-title{
      font-size: 14px !important;
    }
}

.main-title .sub-svg {
    width: 50px;
    height: auto;
}

.theme-green .bs-datepicker-head,
.theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*="select-"]:after, .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #6465ee;
}

div.modal.fade .side-div {
   
    transform: translate(30%, 0);
    }

    div.modal.in .side-div {
    transform: translate(0, 0);
    }

    .modal-header.delete {
    background-color: #FCE4EC;
}
.fileContainer{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.flex-start{
  justify-content: flex-start;
}