<div class="content animated fadeInDown">
    <div class="container-fluid">
        <div class="row">


             <div class="col-md-12">
                <div class="main-title">
                    <span class="svg sub-svg">
                        <img src="../../../../assets/img/Interaction.svg" alt="">
                    </span>
                    <div class="title-content">
                        <h4>{{'Contacts.9'| translate }}
                            <span class="badge green">{{ContactCount}} - {{'Contacts.78'| translate }}</span>
                        </h4>
                        <p>{{'Contacts.79'| translate }} </p>
                    </div>

                </div>

<section>

      <div class="panel panel-default">
        <div class="panel-body title-panel-sub">
          <div class="sub-title-inner">
            <div class="title-content ">
           
              <div class="pull-left">
                  <div class="hav-ico width300">
                      <span class="field-icon">
                          <i class="fa fa-search"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="Search for..." (keyup)="searchTerm$.next($event.target.value)">
                  </div>
              </div>
            
            </div>
      </div>
    </div>
    </div>

    <div class="panel">
          <div class="inner-table">
                        <div class="table-container table-responsive">
                            <table class="table table-filter table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{{'Contacts.10'| translate }}</th>
                                        <th>{{'Contacts.11'| translate }}</th>
                                        <th>{{'Contacts.20'| translate }}</th>
                                        <th>{{'Contacts.63'| translate }}</th>
                                        <th>{{'Contacts.80'| translate }}</th>
                                        <th class="text-right">{{'Contacts.81'| translate }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let archive of archivedList">
                                        <td><img src={{archive.profileImage}} class="media-photo"></td>
                                        <td>{{archive.name}}</td>
                                        <td>{{archive.company}}</td>
                                        <td>{{archive.phone}}</td>
                                        <td>{{archive.email}}</td>
                                        <td>{{archive.joinDate|date:'dd MMMM yyyy'}}</td>                                        
                                        <td class="text-right">
                                            <button type="button" id="btnRestoreMember" class="btn btn-success btn-sm" (click)="deleteModal.showDeleteModal()" (click)="restoreContactId(archive.id)" data-target="cancelado">
                                                <i class="fas fa-check-circle"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
    </div>
    </section>
             </div>
    </div>
    </div>
</div>

    <membership-delete-modal #deleteModal [message]='"Are you sure you want to Restore this Contact?"' (delete)="restoreContact()"></membership-delete-modal>    