<section class="membership-content content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <!-- 
      <div class="col-md-12">
        <div class="pull-right m-b-15" role="group" aria-label="...">
          <button type="button" name="send" class="btn btn-default pull-right" id="btnBack" [routerLink]="['/members']">

            {{'Members.33'| translate }}</button>
        </div>
      </div> -->

      <div class="col-md-4" style="position: relative;">
        <div class="card text-center animated fadeInUp">
          <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
          <div class="avatar">
            <img class="profile-pic" src="{{memberInformation.profileImage}}" alt="">
          </div>
          <h5>{{memberInformation.firstName}} {{memberInformation.lastName}}</h5>
          <p class="text-overflow">{{workInformation.designation}} @ {{workInformation.company}}</p>

          <div class="membership-info">
            <img class="avatar-img" src="../../../../assets/img/Medal.svg" alt="">
            <span class="info">
              <h1>{{subscribedLevelInfo.name}}</h1>
              <span class="mem-status mem-active" *ngIf="subscribedLevelInfo.membershipStatus == 1">{{'Members.164'| translate }}</span>
              <span class="mem-status mem-inactive" *ngIf="subscribedLevelInfo.membershipStatus == 2">{{'Members.169'| translate }}</span>
              <span class="mem-status mem-active" *ngIf="subscribedLevelInfo.membershipStatus == 3">{{'Members.170'| translate }}</span>
              <span class="mem-status mem-terminated" *ngIf="subscribedLevelInfo.membershipStatus == 4">{{'Members.171'| translate }}</span>
            </span>
          </div>
          <h2>{{'Members.205'| translate }}: {{membershipID}}</h2>
          <h2>{{'Members.172'| translate }}</h2>
          <div class="form-group text-left">
            <label>{{'Members.68'| translate }}:</label>
            <p>{{contactInformation.email}}</p>
          </div>
          <div class="form-group text-left">
            <label>{{'Members.25'| translate }}:</label>
            <p>{{contactInformation.phone}}</p>
          </div>
          <div *ngIf="contactInformation.telephone != ''" class="form-group text-left">
            <label>{{'Members.173'| translate }}:</label>
            <p>{{contactInformation.telephone}}</p>
          </div>

          <div class="form-group text-left">
            <label>{{'Members.23'| translate }}:</label>
            <p>{{contactInformation.address}}</p>
          </div>

          <h2 *ngIf="workInformation.address != '' || workInformation.phone != ''">{{'Members.174'| translate }}</h2>
          <div *ngIf="workInformation.phone != ''" class="form-group text-left">
            <label>{{'Members.173'| translate }}:</label>
            <p>{{workInformation.phone}}</p>
          </div>

          <div *ngIf="workInformation.address != ''" class="form-group text-left">
            <label>{{'Members.23'| translate }}:</label>
            <p>{{workInformation.address}}</p>
          </div>
          <button type="submit" name="send" class="btn btn-edit-round pull-right" (click)="EditMember()">
            <img src="../../../../assets/img/lnr-pencil-white.svg" alt="">
          </button>

        </div>
      </div>

      <div class="col-md-8 wizard">
        <div class="wizard-inner-body">
          <tabset #staticTabs>
            <tab id="btnTimeLine" class="animated fadeInUp">
              <ng-template tabHeading>
                <i class="far fa-clock"></i> {{'Members.176'| translate }}
              </ng-template>

              <div class="tabber no-shadow m-t-m-15">
                <div class="flex">
                  <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

                  <img src="assets/img/Proposal.svg" alt="">
                  <span>
                    <h4>{{'Members.176'| translate }}</h4>
                    <p>{{'Members.Overview of every interaction with the member'| translate }}</p>

                  </span>
                </div>
              </div>

              <div class="timeline" *ngFor="let time of timeline">
                <div class="log-joined log-expired" *ngIf="time.templateType == 10">
                  <span class="flex">
                    <span class="icon">
                      <img src="../../../../assets/img/Medal.svg" alt="">
                    </span>
                    <span>
                      <p>
                        <strong>James Bond</strong> Gold membership expired
                      </p>
                    </span>
                  </span>
                  <span>
                    <span>06/April, 1:30pm</span>
                  </span>
                </div>

                <div class="log-joined" *ngIf="time.templateType == 10">
                  <span class="flex">
                    <span class="icon">
                      <img src="../../../../assets/img/Transport.svg" alt="">
                    </span>
                    <span>
                      <p>
                        Membership renewal email reminder sent (automated)
                      </p>
                    </span>
                  </span>
                  <span>
                    <span>06/April, 1:30pm</span>
                  </span>
                </div>

                <!-- Change Div -->
                <div *ngIf="time.templateType == 4">
                  <div class="log-joined" *ngIf="time.name == 'Paid'">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Proposal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> fully paid Rs {{time.amount}}
                          for
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> subscription.
                          <a (click)="viewInvoice(time.paymentId)">View Invoice</a>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>
                        <td *ngIf="time.editedTime==null">{{time.createdTime |date:'MMM d, y'}}</td>
                        <td *ngIf="time.editedTime!=null">{{time.editedTime |date:'MMM d, y'}}</td>
                      </span>
                    </span>
                  </div>
                  <div class="log-joined" *ngIf="time.name == 'UnPaid'">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Proposal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> payment of Rs {{time.amount}}
                          for
                         <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> subscription is pending.
                          <a (click)="viewInvoice(time.paymentId)">View Invoice</a>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>
                        <td>{{time.createdTime|date:'MMM d, y'}}</td>
                      </span>
                    </span>
                  </div>
                  <div class="log-joined">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Medal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> changed membership to
                          <strong>{{time.subscriptionName}}</strong>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>{{time.createdTime|date:'MMM d, y'}}</span>
                    </span>
                  </div>
                </div>

                <!-- Renew Div -->
                <div *ngIf="time.templateType == 6">
                  <div class="log-joined" *ngIf="time.name == 'Paid'">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Proposal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> fully paid Rs {{time.amount}}
                          for
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> membership.
                          <a (click)="viewInvoice(time.paymentId)">View Invoice</a>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>
                        <td>{{time.createdTime|date:'MMM d, y'}}</td>
                      </span>
                    </span>
                  </div>
                  <div class="log-joined" *ngIf="time.name == 'UnPaid'">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Proposal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> payment of Rs {{time.amount}}
                          for
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> subscription is pending.
                          <a (click)="viewInvoice(time.paymentId)">View Invoice</a>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>
                        <td>{{time.createdTime|date:'MMM d, y'}}</td>
                      </span>
                    </span>
                  </div>
                  <div class="log-joined">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Medal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> renewed
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> membership
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>{{time.createdTime|date:'MMM d, y'}}</span>
                    </span>
                  </div>
                </div>

                <!-- joined Div -->
                <div *ngIf="time.templateType == 5">
                  <div class="log-joined" *ngIf="time.name == 'Paid'">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Proposal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> fully paid Rs {{time.amount}}
                          for
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> subscription.
                          <a (click)="viewInvoice(time.paymentId)">View Invoice</a>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>
                        <td *ngIf="time.editedTime==null">{{time.createdTime |date:'MMM d, y'}}</td>
                        <td *ngIf="time.editedTime!=null">{{time.editedTime |date:'MMM d, y'}}</td>
                      </span>
                    </span>
                  </div>
                  <div class="log-joined" *ngIf="time.name == 'UnPaid'">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Proposal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> payment of Rs {{time.amount}}
                          for
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> subscription is pending.
                          <a (click)="viewInvoice(time.paymentId)">View Invoice</a>
                        </p>


                      </span>
                    </span>
                    <span>
                      <span>
                        <td>{{time.createdTime|date:'MMM d, y'}}</td>
                      </span>
                    </span>
                  </div>
                  <div class="log-joined">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Medal.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> enrolled to
                          <a (click)="viewSubscription(time.subscriptionId)">{{time.subscriptionName}}</a> subscription level</p>
                      </span>
                    </span>
                    <span>
                      <span>{{time.createdTime|date:'MMM d, y'}}</span>
                    </span>
                  </div>
                  <div class="log-joined">
                    <span class="flex">
                      <span class="icon">
                        <img src="../../../../assets/img/Lady.svg" alt="">
                      </span>
                      <span>
                        <p>
                          <strong>{{memberInformation.firstName}} {{memberInformation.lastName}}</strong> joined
                          <span class="org-name">{{orgName}}</span>
                        </p>
                      </span>
                    </span>
                    <span>
                      <span>{{time.createdTime|date:'MMM d, y'}}</span>
                    </span>
                  </div>
                </div>

              </div>

            </tab>
            <tab id="btnDocument" class="animated fadeInUp">
              <ng-template tabHeading>
                <i class="far fa-file-alt"></i> {{'Members.177'| translate }}
              </ng-template>


              <div class="tabber no-shadow m-t-m-15">
                <div class="flex">
                  <img src="assets/img/Floder.svg" alt="">
                  <span>
                    <h4>{{'Members.Documents'| translate }}</h4>
                    <p>{{'Members.Manage member related documents e.g. Images, Invoices, Documents etc.'| translate }}</p>
                    <!-- <label small>*{{Members.file should be less than 10MB and file type should be (.png / .msg / .doc / .pdf / .xlsx)}}</label> -->
                  </span>
                </div>
              </div>

              <div class="row">

                <div class="col-md-12 m-t-15">
                  <div class="wiz-info">
                    <form class="" [formGroup]="documentForm" novalidate>
                      <fieldset>
                        <div class="form-group">
                          <label class="fileContainer custom-file">
                            <i class="fas fa-file m-r-5"></i> {{documentName}}
                            <input type="file" id="fileDocument" (change)="fileDocUpload($event)" />
                            
                          </label>
                          <button id="btnDocument" [disabled]="IsRequred" name="saveDocument" class="btn btn-primary" (click)="documentsave()">{{'Members.178'| translate }}</button>
                        </div>
                      </fieldset>
                    </form>
                  </div>

                  <div class="document" *ngFor="let docu of DocumentList;let i = index">
                    <img src="assets/img/Proposal.svg" alt="">
                    <small class="text-overflow">{{docu.fileName}}</small>
                    <small class="text-overflow">{{docu.size}}Kb</small>
                    <div>
                      <a class="btn btn-outline btn-sm" href="{{docu.downloadPath}}" target="_blank">{{'Members.179'| translate }}</a>

                      <button id="btnDelete" type="button" class="btn btn-xs btn-close" (click)="deleteId(docu.id)" (click)="deleteDocModal.showDeleteModal()"
                        data-target="btn-default">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>




                </div>
              </div>

            </tab>
            <tab id="btnEmail" class="animated fadeInUp">
              <ng-template tabHeading>
                <i class="far fa-comment-alt"></i> {{'Members.196'| translate }}
              </ng-template>

              <div class="tabber no-shadow m-t-m-15">
                <div class="flex">
                  <img src="assets/img/Mailbox.svg" alt="">
                  <span>
                    <h4>{{'Members.Emails'| translate }}</h4>
                    <p>{{'Members.Communicate with your member instantly'| translate }}</p>

                  </span>
                </div>
              </div>

              <div class="row">

                <div class="col-md-12 m-t-15">
                  <div class="wiz-info">
                    <membership-email-send [isSingle]="true" [memberId]="memberId"></membership-email-send>
                  </div>
                </div>
              </div>

            </tab>
            <tab id="btnMembership" class="animated fadeInUp">
              <ng-template tabHeading>
                <i class="far fa-address-card"></i> {{'Members.195'| translate }}
              </ng-template>

              <div class="tabber no-shadow m-t-m-15">
                <div class="flex">
                  <img src="assets/img/Trophy.svg" alt="">
                  <span>
                    <h4>{{'Members.200'| translate }}</h4>
                    <p>{{'Members.Member subscription information'| translate }}</p>

                  </span>
                </div>
              </div>
              <div class="row">

                <div class="col-md-12 m-t-15">
                  <div class="wiz-info">
                    <form>
                      <fieldset class="row">


                        <div class="col-md-12">

                          <div class="level-card" style="margin-bottom:15px;">

                            <span class="logo">
                              <img src="assets/img/Trophy.svg" alt="" style="width: 120px;">
                            </span>

                            <span class="detail">
                              <h3>{{subscribedLevelInfo.name}}</h3>
                              <p style="margin-bottom:0px;">{{'Members.Valid from'| translate }}
                                <strong>{{subscribedLevelInfo.joinDate|date:'MMMM d, y'}}</strong> to
                                <strong *ngIf="subscribedLevelInfo.membershipExpired != 5"> {{subscribedLevelInfo.renewDate|date: 'MMMM d, y'}}</strong>
                                <strong *ngIf="subscribedLevelInfo.membershipExpired == 5"> {{'Members.Life Time'| translate }}</strong>
                              </p>
                              <p >{{'Members.102'| translate }} -
                                <strong *ngIf="subscribedLevelInfo.membershipExpired != 5"> {{subscribedLevelInfo.renewDate|date: 'MMMM d, y'}}</strong>
                              </p>
                            </span>


                          </div>

                        </div>



                        <div class=" levels exisiting-packege hidden" *ngIf="this.memberId && this.memberId !=0 && this.subscription">


                          <div class="level-wrapper">
                            <div class="level-img">
                              <img src="assets/img/Trophy.svg" alt="">
                            </div>
                            <div class="level-content">
                              <h4> {{subscribedLevelInfo.name}}</h4>

                              <div class="level-price">
                                <div class="table-data">{{currency}}{{subscribedLevelInfo.price}}</div>
                              </div>

                              <div class="level-price">
                                <div class="table-data">${{subscribedLevelInfo.price}}</div>
                              </div>

                              <div class="level-dsc">
                                <small class="table-data text-muted">{{subscribedLevelInfo.description}}</small>
                              </div>





                              <div class="act">
                                <strong class="badge" *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Active">{{'Members.89'| translate }}</strong>
                                <strong class="badge" style="background-color:#c2c2c2" *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Inactive">{{'Members.90'| translate }}</strong>
                                <strong class="badge" style="background-color:#c2c2c2" *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Pending">{{'Members.91'| translate }}</strong>
                                <strong class="badge" [ngStyle]="{'background-color':subscribedLevelInfo.membershipStatus == membershipState.Terminated ? 'red' : 'white' }"
                                  *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Terminated">{{'Members.92'| translate }} </strong>
                              </div>


                            </div>


                          </div>

                          <strong *ngIf="subscribedLevelInfo.terminationNote && subscribedLevelInfo.membershipStatus == membershipState.Terminated">
                            {{'Members.93'| translate }} : {{subscribedLevelInfo.terminationNote}}
                          </strong>

                          <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Inactive">
                            {{'Members.94'| translate }}
                            <a (click)="sendRenewalMail()">{{'Members.95'| translate }}</a> {{'Members.96'| translate }}
                          </strong>

                        </div>

                        <div class="col-md-12" *ngIf="this.memberId && this.memberId !=0 && this.subscription">
                          <div class=" levels exisiting-packege tit" *ngIf="this.memberId && this.memberId !=0 && this.subscription">
                            <div class="pull-right">
                              <button id="btnTerminateMember" name="terminateMember" class="btn btn-danger pull-right" *ngIf="isShowTerminate() == true"
                                (click)="terminateNoteModal.show()">{{'Members.181'| translate }}</button>
                              <!-- button activate membership -->
                              <button id="btnActivatemembership" name="activatemembership" class="btn btn-primary m-r-5" (click)="activateModal.showDeleteModal()"
                                *ngIf="isShowActivateMembership() == true">{{'Members.182'| translate }}</button>

                              <!-- button change membership -->
                              <button id="btnUpdatemembership" name="updatemembership" class="btn btn-primary m-r-5" (click)="changeMembership()" *ngIf="isShowUpdateMembership() == true">{{'Members.183'| translate }}</button>

                              <!-- button renew membership -->
                              <button id="btnRenewmembership" name="renewmembership" class="btn btn-primary m-r-5" (click)="renewMembership()" *ngIf="isShowRenewMembership() == true">{{'Members.184'| translate }}</button>
                            </div>

                          </div>
                        </div>


                      </fieldset>
                    </form>

                  </div>

                </div>
              </div>

            </tab>
            <tab id="btnPayment" class="animated fadeInUp">
              <ng-template tabHeading>
                <i class="far fa-address-card"></i> {{'Members.185'| translate }}
              </ng-template>
              <div class="tabber no-shadow m-t-m-15">
                <div class="flex">
                  <img src="assets/img/Wallet.svg" alt="">
                  <span>
                    <h4>{{'Members.107'| translate }}</h4>
                    <p>{{'Members.Member specific payment information'| translate }}</p>

                  </span>
                </div>
              </div>

              <div class="row" *ngIf="this.memberId && this.memberId != 0">
                <div class="col-md-12 table-container table-responsive">
                  <table class="table table-filter table-striped" style="table-layout:fixed">
                    <thead>
                      <tr>
                        <th>{{'Members.229'| translate }}</th>
                        <th>{{'Members.108'| translate }}</th>
                        <th>{{'Members.110'| translate }}</th>
                        <th>{{'Members.16'| translate }}</th>
                        <th>&nbsp;</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td *ngIf="paymentViewModel.editedOn==null">{{paymentViewModel.createdOn|date:'dd MMMM yyyy'}}</td>
                        <td *ngIf="paymentViewModel.editedOn!=null">{{paymentViewModel.editedOn|date:'dd MMMM yyyy'}}</td>
                        <td>{{paymentViewModel.transActionType}}</td>
                        <td>{{currency}}{{paymentViewModel.amount}}</td>
                        <td>{{paymentViewModel.paymentState}}</td>
                        <td>
                          <button type="button" id="btnInvoice" [routerLink]="['/payments/invoice/',paymentViewModel.paymentMasterId,paymentViewModel.memberId]"
                            class="btn btn-default">{{'Members.231'| translate }}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>




            </tab>
          </tabset>

        </div>
      </div>

    </div>
  </div>
</section>

<div bsModal #terminateNoteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm custom-modal">
    <div class="modal-content">
      <div class="modal-header delete">
        <h4 class="modal-title pull-left">
          <i class="fas fa-exclamation-triangle text-danger"></i> {{'Members.186'| translate }}</h4>
        <button type="button" id="btnHide" class="close pull-right" aria-label="Close" (click)="hideTerminationModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="txtTerminationNote" style="width:100%" placeholder="Reason for termination" rows="4" columns="30" [(ngModel)]="terminationModel.Notes"></textarea> {{'Members.187'| translate }}
      </div>
      <div class="modal-footer">
        <button type="button" id="btnYes" class="btn btn-danger" (click)="terminateMember()" name="confirm">{{'Members.188'| translate }}</button>
        <button type="button" id="btnNo" aria-label="Close" class="btn btn-default" (click)="hideTerminationModal()">{{'Members.189'| translate }}</button>
      </div>
    </div>
  </div>
</div>

<membership-delete-modal #terminateModal [message]='"Are you sure you want to Terminate the Subscription?"' (delete)="terminateMember()"></membership-delete-modal>
<membership-delete-modal #activateModal [message]='"Are you sure you want to Activate the Subscription?"' (delete)="activateMembership()"></membership-delete-modal>
<membership-delete-modal #deleteDocModal [message]='"Are you sure you want to delete this Document?"' (delete)="archiveDocument()"></membership-delete-modal>