<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <section>
          <div class="relative">
            <div class="m-b-15 row">
              <div class="col-md-3 p-r-0">
                <div class="main-title m-b-30">
                  <span class="svg sub-svg">
                    <img src="assets/img/Development.svg" alt="">
                  </span>
                  <div class="title-content">
                    <h4>{{'Settings.19'| translate }}
                      <span class="light"></span>
                    </h4>
                    <p>{{'Settings.20'| translate }}</p>
                  </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation">
                    <a [routerLink]="['/settings']" id="tabContactSettings" aria-controls="tabContactSettings" role="tab" data-toggle="tab">
                      <i class="fas fa-id-card m-r-5"></i> {{'Settings.21'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/organaizationsettings']" id="btnOrgSettings" aria-controls="organization" role="tab" data-toggle="tab">
                      <i class="far fa-building m-r-5"></i> {{'Settings.22'| translate }}</a>
                  </li>
                  <li role="presentation" class="active">
                    <a [routerLink]="['/settings/usersettings']" aria-controls="user" id="btnTabUserSettings" role="tab" data-toggle="tab">
                      <i class="far fa-user m-r-5"></i> {{'Settings.23'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/permissions']" aria-controls="permissions" id="btnTabPermissions" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.Permissions'| translate }} </a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/customfields']" aria-controls="customfields" id="btnTabCustomfields" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.CustomFields'| translate }} </a>
                  </li>
                </ul>
              </div>

              <div class="col-md-9 b-l">



                <div class="tab-content">
                  <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

                  <!-- <p>
              <i class="far fa-question-circle m-r-5"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus rem, ad autem id dolor sed ducimus
              aut ipsa ullam eveniet mollitia sunt tenetur rerum velit iure at odit</p> -->


                  <form class="form-horizontal" [formGroup]="resetPasswordForm" (submit)="resetPassword()">
                    <div class="tab-top-title">
                      <h4 class="innter-title">
                        {{'Settings.33'| translate }}</h4>
                    </div>
                    <fieldset>

                      <div class="row">
                        <div class="col-md-8">


                          <!-- Text input-->
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">{{'Settings.34'| translate }}</label>
                            <div class="col-md-8">
                              <input type="password" id="txtCurrentPassword" name="currentPassword" formControlName="currentPassword" placeholder="Current Password"
                                class="form-control input-md" required>
                              <div *ngIf="resetPasswordForm.controls['currentPassword'].errors && !resetPasswordForm.controls['currentPassword'].pristine"
                                class="error-msg animated shake">
                                <div [hidden]="!resetPasswordForm.controls['currentPassword'].errors.required">{{'Settings.35'| translate }}</div>

                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">{{'Settings.36'| translate }}</label>
                            <div class="col-md-8">
                              <input type="password" id="txtNewPassword" name="newPassword" formControlName="newPassword" placeholder="New Password" class="form-control input-md"
                                required>
                              <div *ngIf="resetPasswordForm.controls['newPassword'].errors && !resetPasswordForm.controls['newPassword'].pristine" class="error-msg animated shake">
                                <div [hidden]="!resetPasswordForm.controls['newPassword'].errors.required">{{'Settings.37'| translate }}</div>
                                <div [hidden]="!resetPasswordForm.controls['newPassword'].errors.patternInvalid">{{'Settings.38'| translate }}</div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="selectbasic">{{'Settings.39'| translate }}</label>
                            <div class="col-md-8">
                              <input type="password" id="txtConfirmPassword" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password"
                                class="form-control input-md" required>
                              <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors && !resetPasswordForm.controls['confirmPassword'].pristine"
                                class="error-msg animated shake">
                                <div [hidden]="!resetPasswordForm.controls['confirmPassword'].errors.required">{{'Settings.40'| translate }}</div>
                              </div>
                              <div *ngIf="resetPasswordForm.hasError('isPasswordNotSame') && !resetPasswordForm.controls['confirmPassword'].pristine" class="error-msg animated shake">
                                <div [hidden]="!resetPasswordForm.controls['confirmPassword'].errors.required">{{'Settings.41'| translate }}</div>
                              </div>
                            </div>
                          </div>
                          <!-- Button -->
                          <div class="form-group">
                            <label class="col-md-4 control-label" for="send"></label>
                            <div class="col-md-8 text-right">
                              <button name="resetpwd" id="btnResetPassword" class="btn btn-primary" type="submit" [disabled]="!resetPasswordForm.valid">{{'Settings.33'| translate }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>