<div class="row">
  <div class="col-md-12">
    <div class="wiz-info">
      <form [formGroup]="membershipForm" novalidate>

        <fieldset>
          <div class="col-md-6">
            <div class="well-wrapper minus-margin">

              <div [hidden]="isLevelDropDownClicked">
                <div class="min-height init">
                  <div class="level-img">
                    <img src="assets/img/Trophy.svg" alt="">
                  </div>
                  <h4>{{'Members.199'| translate }}</h4>
                  <p>{{'Members.241'| translate }}</p>
                </div>
              </div>

              <div *ngIf="isLevelDropDownClicked">
                <div class="header-info">
                  <h4>{{'Members.199'| translate }}</h4>
                  <p>{{'Members.Valid from'| translate }}
                    <strong>{{levelInfo.subscriptionFrom|date:'MMMM d, y'}}</strong> to
                    <strong *ngIf="levelInfo.membershipExpired != 5"> {{levelInfo.subscriptionTo|date:'MMMM d, y'}}</strong>
                    <strong *ngIf="levelInfo.membershipExpired == 5"> {{'Members.Life Time'| translate }}</strong>
                  </p>
                  <p>{{'Members.102'| translate }} -
                    <strong> {{levelInfo.subscriptionTo|date: 'MMMM d, y'}}</strong>
                  </p>
                </div>

                <div class="levels" *ngIf="isLevelDropDownClicked">
                  <div class="level-wrapper min-height">
                    <div class="level-img">
                      <img src="assets/img/Trophy.svg" alt="">
                    </div>
                    <div class="level-content">
                      <div class="level-title">
                        <span class="title">
                          {{levelInfo.name}}
                        </span>
                      </div>
                      <div class="level-price">
                        <div class="table-data">{{levelInfo.price}}
                          <small>{{currency}}</small>
                        </div>
                      </div>
                      <div class="level-dsc">
                        <small class="table-data text-muted">{{levelInfo.description}}</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="header-info">
                  <p *ngIf="levelInfo.capacity != 0"> {{'Members.103'| translate }}
                    <span class="rem">
                      <span>{{levelInfo.remainingCount}}</span> {{levelInfo.capacity}}</span>
                  </p>
                  <p *ngIf="levelInfo.capacity == 0"> {{'Members.103'| translate }}
                    <span class="rem" style="padding-left:10px">{{'Members.104'| translate }}</span>
                  </p>
                  <strong *ngIf="isPackageUtilized" style="color: red">
                    {{'Members.105'| translate }}
                  </strong>
                </div>
              </div>

              <div class="level-detail pull-left hidden" *ngIf="isLevelDropDownClicked">
                <div class="m-l-5">
                  <div class="lev-data">
                    <span class="lev-title">{{'Members.101'| translate }} : </span>
                    <span class="lev-info">{{levelInfo.subscriptionFrom|date:'MMMM d, y'}} </span>
                    <span class="lev-info">
                      {{levelInfo.subscriptionTo|date:'MMMM d, y'}}</span>
                  </div>
                  <div class="lev-data">
                    <span class="lev-title">
                      {{'Members.102'| translate }} : </span>
                    <span class="lev-info">{{levelInfo.subscriptionTo|date: 'MMMM d, y'}}</span>
                  </div>
                  <div class="lev-data">
                    <span class="lev-title" *ngIf="levelInfo.capacity != 0">
                      {{'Members.103'| translate }} :
                      <span class="lev-info">{{levelInfo.remainingCount}} / {{levelInfo.capacity}}</span>
                    </span>
                    <span class="lev-info" *ngIf="levelInfo.capacity == 0">
                      {{'Members.103'| translate }} : {{'Members.104'| translate }}</span>
                  </div>
                  <div>
                    <strong *ngIf="isPackageUtilized" style="color: red">
                      {{'Members.105'| translate }}
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class=" levels exisiting-packege" *ngIf="this.memberId && this.memberId !=0 && this.subscription">
              <h4 class="" for="selectbasic">
                <i class="fas fa-check-circle m-r-5 text-success"></i> {{'Members.84'| translate }}</h4>
              <div class="level-wrapper">
                <div class="level-img">
                  <img src="assets/img/Trophy.svg" alt="">
                </div>
                <div class="level-content">
                  <strong>{{'Members.85'| translate }}:</strong> {{subscribedLevelInfo.name}}
                  <br/>
                  <strong>{{'Members.86'| translate }} :</strong>{{currency}} {{subscribedLevelInfo.price}}
                  <br/>
                  <strong> {{'Members.87'| translate }} :</strong> {{subscribedLevelInfo.joinDate|date:'dd MMMM yyyy'}} - {{subscribedLevelInfo.renewDate|date:'dd
                  MMMM yyyy'}}
                  <br/>
                  <strong> {{'Members.88'| translate }} :</strong>{{subscribedLevelInfo.renewDate|date:'dd MMMM yyyy'}}
                  <br/>
                  <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Active">{{'Members.89'| translate }}</strong>
                  <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Inactive">{{'Members.90'| translate }}</strong>
                  <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Pending">{{'Members.91'| translate }}</strong>
                  <strong class="badge" [ngStyle]="{'background-color':subscribedLevelInfo.membershipStatus == membershipState.Terminated ? 'red' : 'white' }"
                    *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Terminated">{{'Members.92'| translate }}</strong>
                  <br/>
                  <strong *ngIf="subscribedLevelInfo.terminationNote && subscribedLevelInfo.membershipStatus == membershipState.Terminated">
                    {{'Members.93'| translate }} : {{subscribedLevelInfo.terminationNote}}
                  </strong>
                  <strong *ngIf="subscribedLevelInfo.membershipStatus == membershipState.Inactive">
                    {{'Members.94'| translate }}
                    <a (click)="sendRenewalMail()">{{'Members.95'| translate }}</a> {{'Members.96'| translate }}
                  </strong>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="" for="selectbasic">{{'Members.97'| translate }} :</label>
              <select id="ddMembershiplevel" class="form-control" formControlName="membershipLevel" (change)="displayLevelInfo()">
                <option [value]="null" [disabled]="true" selected>{{'Members.98'| translate }}</option>
                <option *ngFor="let level of memberLevels" [value]="level.id">{{level.name}}</option>
              </select>
              <div [hidden]="membershipForm.get('membershipLevel').valid || (membershipForm.get('membershipLevel').pristine && !isMembershipFormSubmitted)"
                class="error-msg animated shake">
                <small *ngIf="membershipForm.get('membershipLevel').errors && membershipForm.get('membershipLevel').errors.required">
                  {{'Members.99'| translate }}
                  <br>
                </small>
              </div>
            </div>
            
            <div class="form-group">
                <label class="" for="selectbasic">{{'Members.100'| translate }}</label>
                <small class="pull-right">
                  <i class="fas fa-info-circle"></i> {{'Members.44'| translate }}</small>
                <angular2-multiselect [data]="memberGroupDropdown" [settings]="dropdownSettings" formControlName="memberGroup">
                </angular2-multiselect>
              </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" (click)="saveMemberLevel()">Next</button>
          </div>

          <!-- <div class="col-md-12">
            <div class="form-group">
              <div class="text-right">
                <button id="btnDisplayLevels" name="displaylevel" class="btn btn-primary" (click)="showLevels()" *ngIf="isShowRenewMembership() == true">{{'Members.106'| translate }}</button>
                <a href="#memberLevelTab" id="memberLevel" name="send" class="btn btn-default" aria-controls="memberLevel" role="tab" data-toggle="tab"
                  (click)="setTabActive(4)" *ngIf="subscriptionChanged == null && !isPackageUtilized">
                  <p>{{'Members.54'| translate }}</p>
                  <img src="../../../../assets/img/lnr-arrow-right-white.svg">
                </a>
                <a href="#memberLevelTab" id="memberLevel" name="send" class="btn btn-default" aria-controls="memberLevel" role="tab" data-toggle="tab"
                  (click)="setTabActive(1)" *ngIf="subscriptionChanged != null && !isPackageUtilized">
                  <p>{{'Members.54'| translate }}</p>
                  <img src="../../../../assets/img/lnr-arrow-right-white.svg">
                </a>
              </div>
            </div>
          </div> -->

        </fieldset>
      </form>
    </div>
  </div>
</div>