ul.template-files{
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.template-files li{
    display: block;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}

ul.template-files li .file{
    width: 150px;
    height: 200px;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-image: url('/assets/img/m-te.jpg');
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: 51% 30%;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

ul.template-files li:first-child .file{
   background: none;
}

ul.template-files li:first-child .file .info{
    border: 0;
 }

ul.template-files li .file .info{
    display: block;
    padding: 4px;
    font-size: 14px;
        margin-top: 150px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}

ul.template-files li .file .info .date{
   font-size: 12px;
   color: #ccc;
}

.etemp{
    h4{
            float: left;
    font-weight: bold;
    margin: 21px 0 0 16px;
    text-transform: capitalize;
    }
}

ul.templates{

    padding: 0;

    li{
        list-style: none;
        background-color: #ffffff;
        border-radius: 4px;
        height: 182px;
         width: 148px;
        margin: 8px;
        margin-right: 0;
        display: inline-block;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border: 1px solid #cdcdcd;

        .preview{
            height: 126px;
            display: table;
            width: 100%;
        }

        .info{
            font-size: 14px;
            color: #000000;
            display: block;
            text-align: center;
            font-weight: 400;
            padding: 6px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: auto;
        }

        &  img{
            display: table-cell;
            height: 100%;
            width: 48px;
            vertical-align: middle;
            margin: auto;
            margin-top: 6px;
        }
    }
}