<div class="row">
    <div class="col-md-12">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

        <!-- <div class="main-title panel etemp">
            <h4>Email templates</h4>

            <div class="panel-body">
                <div class="pull-right">
                    <button name="send" id="btCreateTemplate" (click)="emailTemplateModal.showTemplateModal()" class="btn btn-primary"></button>
                </div>
            </div>

        </div> -->


        <section>
            <ul class="template-files">
                <li name="send" id="btCreateTemplate" (click)="emailTemplateModal.showTemplateModal()">
                    <div class="file">
                        <span class="info">
                            {{'Communications.Blank Template'| translate }}
                        </span>
                    </div>
                    
                </li>
                <li *ngFor="let template of emailTemplates;let ix=index" (click)="goToCreateTemplate(template.id,template.emailTemplateTypes)">
                    <div>
                            <div style="width: 100%">
                            <div [innerHTML]="template.emailBody"></div>
                        </div>
                        <span class="info">
                            {{template.name}}
                        </span>
                        
                    </div>
                </li>
            </ul>
        </section>



    </div>


</div>

<membership-email-template-type #emailTemplateModal></membership-email-template-type>