/*.invoice {
    position: relative;
    border: 1px solid #ecedf2;
    border-radius: 4px;
    background-color: #fff;
    color: #252529;
    box-shadow: 0 10px 60px 0 rgba(29,29,31,.09);
    overflow: hidden
}

@media (max-width: 768px) {
    .invoice {
        padding:30px
    }
}

.invoice-wrapper {
    padding: 100px 100px 0
}

@media (max-width: 768px) {
    .invoice-wrapper {
        padding:15px 15px 0
    }
}

.invoice-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px
}

@media (max-width: 768px) {
    .invoice-header {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.invoice-brand {
    margin-bottom: 30px
}

@media (max-width: 768px) {
    .invoice-brand {
        margin:0
    }
}

.invoice-brand-img {
    max-width: 40px;
    margin-bottom: 15px
}

.invoice-brand-name {
    
}

.invoice-title {
    margin-bottom: 15px;
    
}

.invoice-date {
    display: block;
    color: #99a5bd;
    text-transform: uppercase
}

.invoice-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}

.invoice-company-name {
    margin-bottom: 15px;
    
}

.invoice-company-address {
    margin-bottom: 15px;
    color: #99a5bd
}

.invoice-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px
}

@media (max-width: 768px) {
    .invoice-body {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.invoice-number {
    color: #99a5bd;
    
}

.invoice-table {
    width: 100%
}

.invoice-table .table {
    margin-bottom: 10px;
    box-shadow: none
}

.invoice-table .table strong {
    color: #252529
}

@media (max-width: 768px) {
    .invoice-table .table {
        display:table;
        width: 100%
    }
}

.invoice-terms {
    color: #99a5bd;
   
}

.invoice-note {
    margin-bottom: 30px
}

.invoice-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px 100px;
    color: #fff;
    background: #768093;
    background: linear-gradient(180deg,#768093,#969fb0)
}

@media (max-width: 576px) {
    .invoice-footer {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        text-align: center
    }
}

.invoice-footer-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 576px) {
    .invoice-footer-brand {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}*/
