<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <span class="svg sub-svg">
             <img src="assets/img/Wallet.svg" alt="">
            </span>
          <div class="title-content">
            <h4>{{'Payments.1'| translate }}</h4>
            <p>{{'Payments.13'| translate }}</p>
          </div>



        </div>
        <section class="">

          <div class="row">
            <div class="col-md-3">
              <div class="card text-center animated fadeInUp">
                <div class="avatar">
                  <img class="avatar-img" src="https://randomuser.me/api/portraits/women/63.jpg" alt="">
                </div>

                <h5>Catherine Zeta-Jones</h5>
                <p class="u-pb-small u-mb-small u-border-bottom">Accountent @ Fisher Foods</p>
                <hr>

                <p>
                  <i class="far fa-envelope"></i> catherine@fisherfoods.com</p>

                <p class="u-pb-small u-mb-small u-border-bottom">
                  <i class="fas fa-map-marker-alt"></i> 31, Spadafore Drive, Schellsburg
                </p>

                <p>
                  <i class="fas fa-mobile-alt"></i> 814-733-4388</p>




              </div>
              <button id="btnEmailInvoice" class="btn btn-primary btn-block m-t-15">{{'Payments.28'| translate }}</button>
              <button id="btnPrintInvoice" class="btn btn-primary btn-block m-t-15">{{'Payments.15'| translate }}</button>
            </div>
            <div class="col-md-9">
              <div class="wizard animated fadeInRight">

                <div class="card">
                  <h4 class="pull-left">{{'Payments.9'| translate }} : <span class="badge">{{'Payments.29'| translate }}</span></h4>
                  <button id="btnSettle" class="btn btn-primary m-t-5 pull-right">{{'Payments.14'| translate }}</button>
                </div>
                <div class="m-t-15">
                  <div class="invoice">

                    <div class="invoice-wrapper">
                      <div class="invoice-header">


                        <h1 class="invoice-title">
                          {{'Payments.16'| translate }} #0042 <small class="invoice-date">14 December 2018</small>
                        </h1>

                        <div class="invoice-brand">

                          <img alt="" src="assets/img/Wallet.svg">

                        </div>
                      </div>

                      <div class="invoice-details">
                        <div class="invoice-company">
                          <label>{{'Payments.19'| translate }}:</label>
                          <div class="invoice-company-name">
                            Catherine Zeta-Jones
                          </div>

                          <div class="invoice-company-address">
                            39 Timber Road,<br> Los Angeles, CA 97446<br> United States
                          </div>
                        </div>

                        <div class="invoice-company">
                          <label>{{'Payments.20'| translate }}:</label>
                          <div class="invoice-company-name">
                            {{'Payments.21'| translate }}
                          </div>

                          <div class="invoice-company-address">
                          
                          </div>
                        </div>
                      </div>
                      <div class="invoice-details">
                        <div class="invoice-company">
                          <label>{{'Payments.19'| translate }}:</label>
                          <div class="invoice-company-name">
                            000889
                          </div>


                        </div>

                        <div class="invoice-company">
                          <label>{{'Payments.18'| translate }}:</label>
                          <div class="invoice-company-name">
                            April 25 2018
                          </div>

                          <div class="invoice-company-address">
                            248 Turkey Ave,<br> Columbus, AL 31901<br> United States
                          </div>
                        </div>
                      </div>

                      <div class="invoice-body">
                        <div class="invoice-table">
                          <table class="table table-borderd">
                            <thead class="table-head">
                              <tr class="table-row">
                                <th class="">{{'Payments.22'| translate }}</th>
                                <th class="">{{'Payments.23'| translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-row">
                                <td class="">MemberShip Application Gold Pakage</td>
                                <td class="">$300</td>

                              </tr>


                            </tbody>

                            <tfoot>
                              <tr class="table-row">
                                <td class=""><strong>{{'Payments.23'| translate }}</strong></td>
                                <td class=""><strong>$15,490</strong></td>
                              </tr>
                            </tfoot>
                          </table>

                          <div class="invoice-terms">
                            All amounts shown on this invoice are in US dollars.
                          </div>
                        </div>
                      </div>


                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



      </div>

    </div>

  </div>
</div>