<div class="padding">
    <div class="row">

        <div class="col-md-12">
            <div class="">
                <form class="" [formGroup]="documentForm" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <label class="fileContainer custom-file">
                               <i class="fas fa-file m-r-5"></i> {{'Contacts.76'| translate }}
                            <input type="file" id="fileDocument" (change)="fileUpload($event)"/>
                               </label>
                            <button id="btnSaveDocument" name="saveDocument" class="btn btn-primary" (click)="save()">{{'Contacts.82'| translate }}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="">
                <div class="document" *ngFor="let docu of DocumentList">
                    <img src="assets/img/Proposal.svg" alt="">
                    <small class="text-overflow">{{docu.fileSaveName}}</small>
                    <div>
                        <a class="btn btn-outline btn-sm" href="{{docu.downloadPath}}" arget="_blank">{{'Contacts.77'| translate }}</a>

                        <button id="btnDelete" type="button" class="btn btn-danger btn-xs btn-close" (click)="deleteId(docu.id)" (click)="deleteModal.showDeleteModal()"
                            data-target="btn-default">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this Document?"' (delete)="archiveDocument()"></membership-delete-modal>