<div [formGroup]="form">
  <label [attr.for]="element.key">{{element.label}}</label>

  <div [ngSwitch]="element.controlType">

    <small class="pull-right" *ngIf="element.required">
      <i class="fas fa-info-circle"></i> Required</small>

    <input *ngSwitchCase="'textbox'" class="form-control input-md" placeholder="Enter {{element.label}}" [formControlName]="element.key"
      [id]="element.key" [type]="element.type" autocomplete="off">

    <input *ngSwitchCase="'calendar'" id="element.key" class="form-control" [formControlName]="element.key" placeholder="Select {{element.label}}"
      autocomplete="off" bsDatepicker>

    <input *ngSwitchCase="'file'" class="form-control" [type]="element.type" id="element.key" accept="image/*">

    <textarea *ngSwitchCase="'textarea'" autocomplete="off" rows="5" cols="50" placeholder="Enter {{element.label}}" [formControlName]="element.key">{{element.value}}</textarea>

    <select *ngSwitchCase="'dropdown'" class="form-control" [id]="element.key" autocomplete="off" [formControlName]="element.key">
      <option [selected]=true [disabled]=true>Select {{element.label}} </option>
      <option *ngFor="let opt of element.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <label *ngSwitchCase="'checkbox'">
      <input (change)="element.value = $event.target.checked" [(ngModel)]="element.value" [attr.checked]="element.value ? true : null"
        [formControlName]="element.key" [id]="element.key" [type]="element.type">
    </label>

    <label *ngSwitchCase="'radio'">
      <div *ngFor="let opt of element.options">
        <input [type]="radio" [value]="opt.value" [formControlName]="element.key">{{opt.value}}
      </div>
    </label>

  </div>

  <div *ngIf="!isValid && isFormSubmitted == true" class="error-msg animated shake">{{element.label}} is required</div>

</div>