.card .profile-pic {
    height: 160px;
    width: 160px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    padding: 6px;
    border: 1px solid #dce1f0;
    background-color: #fff;
}