<div class="card text-center animated fadeInUp">
    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
  <div class="avatar">
    <img class="avatar-img" class="profile-pic" src="{{member.memberInfo?.profileImage}}" alt="">
  </div>
  <h6>{{ 'Shared.36' | translate }} : {{membershipID}}</h6>
  <h5>{{member.memberInfo?.firstName}} {{member.memberInfo?.lastName}}</h5>
  <p class="u-pb-small u-mb-small u-border-bottom">{{member.workingInfo?.designation}} @ {{member.workingInfo?.company}}</p>
  <hr>

  <p>
    <i class="far fa-envelope"></i> {{member.contactInfo?.email}}</p>

  <p class="u-pb-small u-mb-small u-border-bottom">
    <i class="fas fa-map-marker-alt"></i> {{member.contactInfo?.address}}, {{member.contactInfo?.city}}
  </p>

  <p>
    <i class="fas fa-mobile-alt"></i> {{member.contactInfo?.phone}}</p>

</div>