<div *ngIf="isNew" class="guider">
  <h1>The Dashboard is real, the numbers are not.</h1>
  <p>The metrics displayed are representative of a typical subscription business. </p>
  <p>The numbers on your live site will reflect your actual data.</p>
</div>
<div class="content animated ">

  <div class="container-fluid" id="step-one">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title m-b-30">

          <div class="title-content">
            <span class="svg sub-svg p-t-5">
              <img src="assets/img/Pie Chart.svg" alt="">
            </span>
            <h4>
              {{ 'Dashboard.Dashboard' | translate }}
            <span class="dash-date"> {{day |date:'dd MMMM yyyy'}} - {{todaydate |date:'dd MMMM yyyy'}}</span>
              
            </h4>
          </div>

          <ul id="dateTabs" class="filter-data pull-right">
            <li [ngClass]="(term == 4) ? 'active' : ''" id="btnWeek" (click)="filterbyTerms(4)">{{ 'Dashboard.Last 7 Days' | translate }}</li>
            <li [ngClass]="(term == 1) ? 'active' : ''" id="btnThreeMonths" (click)="filterbyTerms(1)">{{ 'Dashboard.3 Months' | translate }}</li>
            <li [ngClass]="(term == 2) ? 'active' : ''" id="btnSixMonths" (click)="filterbyTerms(2)">{{ 'Dashboard.6 Months' | translate }}</li>
            <li [ngClass]="(term == 3) ? 'active' : ''" id="btnOneYear" (click)="filterbyTerms(3)">{{ 'Dashboard.1 Year' | translate }}</li>
          </ul>
        </div>
        <div class="summary row m-b-30" >
          <div class="col-md-4">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
            <div class="card rev">
              <div class="data">
                <p class="val">Rs {{this.totalNetRevenue | number:'1.2-2'}}</p>
                <p class="dsc">{{ 'Dashboard.Net Revenue' | translate }}
                  <span data-toggle="tooltip" title="Total value of paid invoices. Calculation excludes tax.">
                    <i class="fas fa-question-circle m-l-5"></i>
                  </span>
                </p>
              </div>
              <div class="ico animated bounceInDown">
                <img class="img-responsive" src="assets/img/ecommerce_money.svg" alt="">
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
            <div class="card subs">
              <div class="data">

                <p class="val">{{this.memberActivecount}}</p>
                <p class="dsc">{{ 'Dashboard.Active Subscriptions' | translate }}
                  <span data-toggle="tooltip" title="Total active subscriptions">
                    <i class="fas fa-question-circle m-l-5"></i>
                  </span>
                </p>
              </div>
              <div class="ico animated bounceInDown">
                <img class="img-responsive" src="assets/img/members.svg" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
            <div class="card due">
              <div class="data">

                <p class="val">Rs {{this.totalPaymentDue | number:'1.2-2'}}</p>
                <p class="dsc">{{ 'Dashboard.Payment Due' | translate }}
                  <span data-toggle="tooltip" title="Includes payment due and not paid invoices.">
                    <i class="fas fa-question-circle m-l-5"></i>
                  </span>
                </p>
              </div>
              <div class="ico animated bounceInDown">
                <img class="img-responsive" src="assets/img/ecommerce_receipt.svg" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="overview">


          <div class="card-full">
            <div class="row">
              <div class="col-md-6">

                <div class="card-inner border-right">

                  <div class="details">

                    <h5 class="text-left">
                     {{ 'Dashboard.Subscription Levels' | translate }}</h5>
                    <p class="text-left">{{ 'Dashboard.Keep track of members enrolled per subscription level' | translate }}.</p>


                    <div id="chartTarget" #chartTarget>
                      {{ 'Dashboard.Loading Membership Levels chart' | translate }}...
                    </div>


                  </div>
                </div>
              </div>

              <div class="col-md-6" >
        
                <div class="card-inner border-right">

                  <div class="details">
                    <h5 class="text-left">
                      {{ 'Dashboard.Activations' | translate }}</h5>
                      <p class="text-left">{{ 'Dashboard.Members enrolled within a specific period' | translate }}</p>

                    <div id="chartTarget2" #chartTarget2>
                      {{ 'Dashboard.Loading Membership Activation chart' | translate }}...
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>