
.content{
    height: 100%;
}

.summary{
    .card{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); 
        
       .data{
            float: left;

      .val{
          font-size: 28px;
          font-weight: 700;
          color: #fff;
      }
      .dsc{
           color: #fff;
      }
        }
        .ico{
            float: right;
            width: 60px;
            height: 70px;
            overflow: auto;
        img{
            width: 100%;
            height:100%;
        }
        }

        &.rev{
            // background: linear-gradient(to right, #3F51B5 0%, #2196F3 100%);
            background-color: #6c6efa;
        }

        &.subs{
            // background-color: #2196F3;
            background-color: #6c6efa;
            
        }

        &.due{
        //    background: linear-gradient(to right, #2196F3 0%, #3F51B5 100%);
           background-color: #6c6efa;
           
        }



    }

  
}

.chart-title{
    h5{
            font-weight: bold;
    margin-bottom: 0;
    font-size: 16px;
    }
}

.details{
    h5{
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 18px;
        text-transform: capitalize;
        }

        div{
            margin-top: 15px;
        }
}

svg{
    font-family: inherit !important;
}



.main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-set{
    .btn{
            padding: 0px 15px;
            background-color: transparent;
            font-weight: bold;
            border-radius: 0;
              padding-bottom: 3px;
             border-bottom: 2px solid transparent;
            &.active,&:active{
                color: #006ced;
    border-bottom: 2px solid;
    border-radius: 0;
    box-shadow: none !important;
  
            }
    }
}

.chart-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    h5{
        margin:0;
    }
    p{
        margin:0;
        opacity: .8;
    }
}

.details{
        border-top: 3px solid #6c6efa;

}

text{
    font-weight: bold;
}

.guider{
    background-color: #fff5a0;
    min-height: 80px;
    text-align: center;
    padding: 18px;

    
    h1{
        font-size: 16px;
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
      }

    p{
        font-size: 14px;
        margin: 0;
    }
}

ul.filter-data{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 4px;
    background-color: #fff;

    li{
        padding: 4px 12px;
        border: 1px solid #efefef;
        margin-right: -1px;
        font-size: 12px;
        cursor: pointer;

        &:first-child{
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }

        &:last-child{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &.active{
            background-color: #6c6efa;
            border: 1px solid #6c6efa;
            color: #fff;
        }
    }
}

.main-title .title-content{
    display: flex;
    align-items: center;
}

.dash-date{
    display: block;
    font-size: 14px;
}
.main-title .title-content h4 {
    font-weight: bold;
    margin: 8px 0 0px 0;
    font-size: 22px;
}