/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
//$bootstrap-sass-asset-helper: true;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";


@import "~assets/scss/global/_colors.scss";
@import "~assets/scss/global/variables.scss";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

@import "~assets/scss/styles/_animations.scss";
@import "~assets/scss/styles/_cards.scss";
@import "~assets/scss/styles/_chart.scss";
@import "~assets/scss/styles/_custom-inputs.scss";
@import "~assets/scss/styles/_forms.scss";
@import "~assets/scss/styles/_login.scss";
@import "~assets/scss/styles/_setup.scss";
@import "~assets/scss/styles/_sidebar-and-main-panel.scss";
@import "~assets/scss/styles/_tables.scss";
@import "~assets/scss/styles/_tabs.scss";
@import "~assets/scss/styles/_typography.scss";
@import "~assets/scss/styles/_utility.scss";
@import "~assets/scss/styles/_modal.scss";
@import "~assets/scss/styles/_responsive.scss";


.no-padding{
    padding: 0;
}

.no-margin{
	margin: 0 !important;
}

html{
    height: 100%;
    margin: 0;
}

body{
    height: 100%;
}

a{
    cursor: pointer;
}


.toast-error {
    background-color: #fff;
}

#toast-container > .toast-error {
    background-image: url('/assets/img/lnr-warning.svg') !important;
}

.toast-success {
    background-color: #fff;
}

#toast-container > .toast-success {
    background-image: url('/assets/img/lnr-checkmark-circle.svg') !important;
}

.toast-title{
    font-weight: bold;
    font-size: 15px;
    color: #384146;
}

.toast-message{
    font-size: 14px;
    color: #8b8b8b;
}

#toast-container > div {
    margin: 0 0 6px;
    padding: 16px 16px 16px 64px;
    width: 320px;
    border-radius: 4px;
    background-size: 34px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px rgba(180, 180, 180, 0.6196078431372549);
    opacity: 1;
}

#toast-container > div:hover {
    box-shadow: 0 0 12px rgb(180, 180, 180);
}


/*Vertical Sliding*/
.slidingVertical{
	display: inline;
	text-indent: 8px;
}
.slidingVertical span{
	animation: topToBottom 12.5s linear infinite 0s;
	-ms-animation: topToBottom 12.5s linear infinite 0s;
	-webkit-animation: topToBottom 12.5s linear infinite 0s;
	color: #FFEB3B;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    font-weight: 600;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
