.email-sender{
    padding: 0;

    li{
        display: inline-block;
    }

    input{
        display: none !important;
    }
    
    label{
        opacity: 0.5;
        height: 100px;
        width: 100px;
        background-color: #fff;
        border: 1px solid #ccc;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        img{
            height: 40px;
        }
    }
        
    input:checked + label {
        opacity: 1;
        border: 1px solid #247cfb;
        border-radius: 4px;
    }
    
    label {
        cursor: pointer;   
    }
}

.inner-form{
    margin-top: 16px;
    margin-bottom: 16px;
}