<div class="inner-form mail-side">

  <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
  <form [formGroup]="emailSendForm" novalidate>
    <div class="form-group hidden">
      <label for="">{{ 'Shared.2' | translate }}</label>
      <div class="btn-group btn-block m-b-15 " id="status" data-toggle="buttons">
        <label class="btn btn-default btn-on active">
          <input type="radio" id="rdEmail" value="1" name="tog" checked="checked">{{ 'Shared.3' | translate }}</label>
        <label class="btn btn-default btn-off">
          <input type="radio" id="rdOther" value="0" name="tog">{{ 'Shared.4' | translate }}</label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" disabled="" id="txtEmail" value="info@companyname.com">
      </div>
    </div>

    <div class="form-group " *ngIf="!isSingle">
      <label for="">{{ 'Shared.5' | translate }}</label>
      <!-- <label class="">
        <input type="radio" formControlName="emailSendType" id="rdOption1" [value]="emailSendTypes.individuals" autocomplete="off"
          checked (change)="changeEmailSendType(emailSendTypes.individuals)"> Individuals
      </label>
      <label class="">
        <input type="radio" formControlName="emailSendType" id="rdOption2" [value]="emailSendTypes.multiple" autocomplete="off" (change)="changeEmailSendType(emailSendTypes.multiple)"> Multiple Members
      </label>
      <label class="">
        <input type="radio" formControlName="emailSendType" id="rdOption3" [value]="emailSendTypes.all" autocomplete="off" (change)="changeEmailSendType(emailSendTypes.all)"> All
      </label> -->

      <ul class="email-sender">
        <li>
          <input type="radio" formControlName="emailSendType" id="rdOption1" [value]="emailSendTypes.individuals" autocomplete="off"
            checked (change)="changeEmailSendType(emailSendTypes.individuals)">
          <label for="rdOption1">
            <img src="../../../../assets/img/Lady.svg" alt="">
            <span>{{ 'Shared.6' | translate }}</span>
          </label>
        </li>
        <li>
          <input type="radio" formControlName="emailSendType" id="rdOption2" [value]="emailSendTypes.multiple" autocomplete="off" (change)="changeEmailSendType(emailSendTypes.multiple)">
          <label for="rdOption2">
            <img src="../../../../assets/img/Medal.svg" alt="">
            <span>{{ 'Shared.7' | translate }}</span>
          </label>

        </li>
        <li>
          <input type="radio" formControlName="emailSendType" id="rdOption3" [value]="emailSendTypes.all" autocomplete="off" (change)="changeEmailSendType(emailSendTypes.all)">
          <label for="rdOption3">
            <img src="../../../../assets/img/Team.svg" alt="">
            <span>{{ 'Shared.8' | translate }}</span>
          </label>
        </li>
      </ul>

    </div>


    <div class="form-group" *ngIf="!isSingle && isIndividual"> 
      <label for="name">{{ 'Shared.9' | translate }}</label>
      <angular2-multiselect [data]="members" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
        (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" formControlName="members">
      </angular2-multiselect>
    </div>

    <div class="form-group" *ngIf="!isSingle && isMultiple">
      <label for="">{{ 'Shared.10' | translate }}</label>
      <select id="memberStatusId" class="form-control" formControlName="memberStatusId" id="ddMemberStatus">
          <option [value]="null" disabled [selected]="true"> {{ 'Shared.11' | translate }}</option>                    
        <option *ngFor="let status of memberStatus" [value]="status.value">{{status.text}}</option>
      </select>
      <div [hidden]="emailSendForm.get('memberStatusId').valid || (emailSendForm.get('memberStatusId').pristine && !isEmailSendFormSubmit)"
        class="error-msg">

        <small *ngIf="emailSendForm.get('memberStatusId').errors && emailSendForm.get('memberStatusId').errors.required">
          <i class="fas fa-times-circle"></i> {{ 'Shared.12' | translate }}
        </small>

      </div>
    </div>

    <div class="form-group" *ngIf="!isSingle && isMultiple">
      <label for="">{{ 'Shared.13' | translate }}</label>
      <select id="memeberLevelId" class="form-control" formControlName="memberLevelId" id="ddMemberLevel">
          <option [value]="null" disabled [selected]="true"> {{ 'Shared.14' | translate }}</option>                    
        <option *ngFor="let level of memberLevels" [value]="level.value">{{level.text}}</option>
      </select>
      <div [hidden]="emailSendForm.get('memberLevelId').valid || (emailSendForm.get('memberLevelId').pristine && !isEmailSendFormSubmit)"
        class="error-msg">

        <small *ngIf="emailSendForm.get('memberLevelId').errors && emailSendForm.get('memberLevelId').errors.required">
          <i class="fas fa-times-circle"></i> {{ 'Shared.15' | translate }}
        </small>

      </div>
    </div>


    <div class="form-group">
      <label for="">{{ 'Shared.16' | translate }}</label>
      <input type="text" class="form-control" id="txtSubject" placeholder="Subject" formControlName="subject">
      <div [hidden]="emailSendForm.get('subject').valid || (emailSendForm.get('subject').pristine && !isEmailSendFormSubmit)" class="error-msg">

        <small *ngIf="emailSendForm.get('subject').errors && emailSendForm.get('subject').errors.required">
          <i class="fas fa-times-circle"></i> {{ 'Shared.17' | translate }}
        </small>

      </div>
    </div>

    <div class="form-group">
        <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
      <label for="">{{ 'Shared.18' | translate }}</label>
      <select id="template" class="form-control" formControlName="templateId" (change)="getTemplate()" id="ddTemplate">
          <option [value]="null" [selected]="true"> {{ 'Shared.19' | translate }}</option>          
        <option *ngFor="let template of emailTemplates" [value]="template.value">{{template.text}}</option>
      </select>
    </div>


    <div class="form-group">
      <label for="">{{ 'Shared.20' | translate }}</label>
      <!-- <p-editor formControlName="emailBody" [style]="{'height':'320px'}" id="peditorid" [readonly]="isEmailBodyDisabled"></p-editor> -->
      <quill-editor [modules]="editor_modules" formControlName="emailBody" [style]="{'height':'320px'}" id="peditorid"></quill-editor>
      <div [hidden]="emailSendForm.get('emailBody').valid || (emailSendForm.get('emailBody').pristine && !isEmailSendFormSubmit)"
        class="error-msg">

        <small *ngIf="emailSendForm.get('emailBody').errors && emailSendForm.get('emailBody').errors.required">
          <i class="fas fa-times-circle"></i> {{ 'Shared.21' | translate }}
        </small>

      </div>
    </div>
    <div class="form-group">
      <!-- <button id="btnPreview" class="btn btn-success ">Preview</button> -->
      <button id="btnSendEmail" class="btn btn-primary pull-right" (click)="emailSend()">{{ 'Shared.22' | translate }}</button>
    </div>
  </form>

</div>