.slidingVertical span{
       color: #a7e24b;
    font-weight: bold;
}


@keyframes topToBottom{
   
0% {
    opacity: 0;
}

5% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
}

10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}

25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}

30% {
    opacity: 0;
    -webkit-transform: translateY(20px);
}

80% {
    opacity: 0;
}

100% {
    opacity: 0;
}
}