<div class="wrapper config-bg">
  <div class="inner-wrapper-2">
    <div class="setup-inner-cnt-wrapper animated fadeInDown">
      <div class="row">
        <div class="col-md-12">
          <div class="setup-container">
            <div class="setup-inner-container">
              <div *ngIf="isTokenValid">
                <div class="logo">
                  <i class="far fa-sticky-note"></i> {{'Login.6'| translate }}
                </div>
                <div class="login-form">
                  <form [formGroup]="resetPasswordForm" (submit)="resetpassword()">
                      <div class="form-group">
                          <label for="orgname">{{'Login.33'| translate }}</label>
                          <input type="password" class="form-control" id="txtNewPassword" formControlName="newPassword" required>
                        </div>
                        <div *ngIf="resetPasswordForm.controls['newPassword'].errors && !resetPasswordForm.controls['newPassword'].pristine" class="error-msg">
                          <div [hidden]="!resetPasswordForm.controls['newPassword'].errors.required">{{'Login.15'| translate }}</div>
                          <div [hidden]="!resetPasswordForm.controls['newPassword'].errors.patternInvalid">{{'Login.34'| translate }}</div>
                        </div>
                        <div class="form-group">
                          <label for="orgname">{{'Login.35'| translate }}</label>
                          <input type="password" class="form-control" id="txtConfNewPassword" formControlName="confirmPassword" required>
                        </div>
                        <div *ngIf="!resetPasswordForm.controls['confirmPassword'].pristine && resetPasswordForm.hasError('isPasswordNotSame')" class="error-msg">
                          {{'Login.36'| translate }}
                        </div>
                        <div *ngIf="resetPasswordForm.controls['confirmPassword'].errors && !resetPasswordForm.controls['confirmPassword'].pristine"
                          class="error-msg">
                          <div [hidden]="!resetPasswordForm.controls['confirmPassword'].errors.required">{{'Login.15'| translate }}</div>
                        </div>
                        <div class="row icon-fonts">
                          <div class="col-md-12">
                            <button class="btn  btn-block btn-primary" type="submit" id="btnCreatePassword" name="createpassword" [disabled]="!resetPasswordForm.valid">
                              {{'Login.37'| translate }}</button>
                          </div>
                        </div>
                  </form>
                </div>
              </div>
              <div *ngIf="!isTokenValid">
                <div class="main-title login-title">
                  <span class="svg sub-svg">
                    <img src="assets/img/Time.svg" alt="">
                  </span>
                  <div class="title-content">
                    <h2>{{'Login.57'| translate }}... </h2>
                    <p>{{'Login.38'| translate }}</p>
                  </div>
                </div>
                <button class="btn btn-primary pull-right" id="btnBack" name="back" type="button" (click)="goBack()">{{'Login.11'| translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>