<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <span class="svg sub-svg">
            <img src="../../../../assets/img/Proposal.svg" alt="">
          </span>
          <div class="title-content">
            <h4>{{contactHeading}}</h4>
            <p>{{subheading}}</p>
          </div>
          <div class="pull-right">

                <button type="button" name="send" id="btnArchive" class="btn btn-danger m-r-5" *ngIf="this.contactId && this.contactId != 0" (click)="deleteModal.showDeleteModal()">
                    <img src="../../../../assets/img/lnr-trash-white.svg">
                    <p>{{'Contacts.25' | translate }}</p>
                  </button>
    
  
                  <button type="button" name="send" class="btn btn-default pull-right" id="btnBack" [routerLink]="['/contacts']">
                    <img src="../../../../assets/img/lnr-arrow-left.svg">
                    <p>{{'Members.Back'| translate }}</p>
                  </button>

          </div>

        </div>
        <section class="">

          <div class="row">
            <div class="col-md-3 ">
              <div class="card text-center animated fadeInUp relative">
                <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                <div class="flip">
                  <div class="side">
                    <div class="avatar">
                      <img class="profile-pic" *ngIf="this.contactId && this.contactId != 0 && !showimage" src="{{personal.profileImage}}" alt="">
                      <img class="profile-pic" *ngIf="contactId == 0 || showimage" [src]="url">
                    </div>
                  
                    <h5>{{personalForm.value.firstName || "Full Name" }} {{personalForm.value.lastName}}
                    </h5>
                    <p class="text-overflow">{{workForm.value.designation || "Designation"}} @ {{workForm.value.company || "Company"}}</p>
                    <hr>
                    <p>
                      <i class="far fa-envelope m-r-5"></i> {{contactForm.value.email || "Email Address" }}</p>

                    <p class="text-overflow">
                      <i class="fas fa-map-marker-alt m-r-5"></i> {{contactForm.value.address || "Permanent Address"}}
                    </p>

                    <p>
                      <i class="fas fa-mobile-alt m-r-5"></i> {{contactForm.value.phone || "Contact Number" }}
                    </p>
                  </div>
                  <div class="back">
                    <h2 class="text-success">
                      <i class="fas fa-check-circle"></i>{{'Contacts.26'| translate }}</h2>
                    <p>{{'Contacts.27'| translate }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="wizard animated fadeInRight relative">
                <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

                <div class="wizard-inner-body">
                  <tabset #staticTabs>
                    <tab id="btnPersonal" class="animated fadeInUp">
                      <ng-template tabHeading>
                        <i class="far fa-user"></i> {{'Contacts.28'| translate }}
                      </ng-template>

                      <div class="row">

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form [formGroup]="personalForm" novalidate>
                              <fieldset>
                                <div class="col-md-6">

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label for="selectbasic">{{'Contacts.29'| translate }}</label>
                                    <input id="txtFname" placeholder="First Name" class="form-control input-md" formControlName="firstName" type="text">
                                    <div [hidden]="personalForm.get('firstName').valid || (personalForm.get('firstName').pristine && !isPersonalFormSubmitted)"
                                      class="error-msg">

                                      <small *ngIf="personalForm.get('firstName').errors && personalForm.get('firstName').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.30'| translate }}

                                      </small>

                                      <small *ngIf="personalForm.get('firstName').errors && personalForm.get('firstName').errors.maxlength">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.31'| translate }}
                                      </small>

                                      <small *ngIf="personalForm.get('firstName').errors && personalForm.get('firstName').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.32'| translate }}
                                      </small>
                                    </div>


                                  </div>

                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label for="selectbasic">{{'Contacts.33'| translate }}</label>

                                    <input id="txtLastName" placeholder="Last Name" class="form-control input-md" formControlName="lastName" type="text">
                                    <div [hidden]="personalForm.get('lastName').valid || (personalForm.get('lastName').pristine && !isPersonalFormSubmitted)"
                                      class="error-msg">

                                      <small *ngIf="personalForm.get('lastName').errors && personalForm.get('lastName').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.34'| translate }}

                                      </small>

                                      <small *ngIf="personalForm.get('lastName').errors && personalForm.get('lastName').errors.maxlength">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.35'| translate }}
                                      </small>

                                      <small *ngIf="personalForm.get('lastName').errors && personalForm.get('lastName').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.36'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label for="selectbasic">{{'Contacts.37'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Contacts.38'| translate }}</small>




                                    <label class="fileContainer">
                                      <i class="fas fa-image m-r-5"></i> {{profileImageName}}
                                      <input type="file" id="fileProfileImage" accept="image/*" (change)="fileUpload($event)" />
                                    </label>


                                  </div>
                                  <!-- Select Basic -->
                                  <div class="form-group">
                                    <label for="dob">{{'Contacts.39'| translate }}</label>

                                    <input id="txtDob" placeholder="DOB" class="form-control input-md" type="text" bsDatepicker formControlName="dob" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                      [maxDate]="maxDate">
                                    <div [hidden]="personalForm.get('dob').valid || (personalForm.get('dob').pristine && !isPersonalFormSubmitted)" class="error-msg">

                                      <small *ngIf="personalForm.get('dob').errors && personalForm.get('dob').errors.required">
                                        <i class="fas fa-times-circle"></i>{{'Contacts.40'| translate }}
                                      </small>
                                    </div>
                                  </div>
                                </div>

                                <!-- Select Basic -->

                                <div class="col-md-6">


                                  <!-- Select Basic -->
                                  <div class="form-group">
                                    <label for="maritial">{{'Contacts.41'| translate }}</label>
                                    <select id="ddMartialStatus" class="form-control" formControlName="martialStatus" placeholder="Martial Status">
                                      <option [ngValue]="null" disabled [selected]="true">{{'Contacts.42'| translate }}</option>
                                      <option *ngFor="let ms of maritialStatus" [value]="ms.value">{{ms.text}}</option>

                                    </select>
                                    <div [hidden]="personalForm.get('martialStatus').valid || (personalForm.get('martialStatus').pristine && !isPersonalFormSubmitted)"
                                      class="error-msg">

                                      <small *ngIf="personalForm.get('martialStatus').errors && personalForm.get('martialStatus').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.43'| translate }}

                                      </small>

                                    </div>


                                  </div>
                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label for="identity">{{'Contacts.44'| translate }}</label>

                                    <input id="txtIdentity" formControlName="identity" class="form-control input-md" type="text" placeholder="NIC/Passport">
                                    <div [hidden]="personalForm.get('identity').valid || (personalForm.get('identity').pristine && !isPersonalFormSubmitted)"
                                      class="error-msg">

                                      <small *ngIf="personalForm.get('identity').errors && personalForm.get('identity').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.45'| translate }}
                                      </small>

                                      <small *ngIf="personalForm.get('identity').errors && personalForm.get('identity').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i>{{'Contacts.46'| translate }}
                                      </small>
                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label for="contactType">{{'Contacts.47'| translate }}</label>

                                    <select id="ddContactType" class="form-control" formControlName="contactCategoryId">
                                      <option [ngValue]="null" disabled [selected]="true"> {{'Contacts.42'| translate }}</option>
                                      <option *ngFor="let cat of contactTypes" [value]="cat.value">{{cat.text}}</option>

                                    </select>
                                    <div [hidden]="personalForm.get('contactCategoryId').valid || (personalForm.get('contactCategoryId').pristine && !isPersonalFormSubmitted)"
                                      class="error-msg">

                                      <small *ngIf="personalForm.get('contactCategoryId').errors && personalForm.get('contactCategoryId').errors.required">
                                        <i class="fas fa-times-circle"></i>{{'Contacts.48'| translate }}
                                      </small>
                                    </div>

                                  </div>

                                </div>
                                <div class="col-md-12">

                                  <div class="text-right">
                                    <button id="btnPersonWork" name="personWork" class="btn btn-primary" (click)="personUpdate()" *ngIf="this.contactId && this.contactId != 0">{{'Contacts.49'| translate }}</button>
                                    <a href="#contact" id="btnNextContact" name="send" class="btn btn-default" aria-controls="contact" role="tab" data-toggle="tab"
                                      (click)="setTabActive(1)"><p>{{'Contacts.50'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>

                                  </div>

                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>

                    </tab>

                    <tab id="btnContact" class="animated fadeInUp">
                      <ng-template tabHeading>
                        <i class="fas fa-mobile-alt"></i> {{'Contacts.51'| translate }}
                      </ng-template>
                      <div class="row">

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form [formGroup]="contactForm" novalidate>

                              <fieldset>
                                <div class="col-md-6">
                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label for="country">{{'Contacts.52'| translate }}</label>

                                    <select id="ddCountry" class="form-control" formControlName="country" (change)="countryCodechange($event.target.selectedOptions[0])">
                                      <option [ngValue]="null" disabled [selected]="true">{{'Contacts.42'| translate }}</option>
                                      <option *ngFor="let country of countries" [value]="country.value">{{country.text}}</option>
                                    </select>
                                    <div [hidden]="contactForm.get('country').valid || (contactForm.get('country').pristine && !isContactFormSubmitted)" class="error-msg">

                                      <small *ngIf="contactForm.get('country').errors && contactForm.get('country').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.53'| translate }}

                                      </small>

                                    </div>

                                  </div>

                                  <div class="form-group">
                                    <label for="city">{{'Contacts.19'| translate }}</label>

                                    <input id="txtCity" formControlName="city"  placeholder="City" class="form-control input-md" type="text">
                                    <div [hidden]="contactForm.get('city').valid || (contactForm.get('city').pristine && !isContactFormSubmitted)" class="error-msg">

                                      <small *ngIf="contactForm.get('city').errors && contactForm.get('city').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.54'| translate }}
                                      </small>

                                      <small *ngIf="contactForm.get('city').errors && contactForm.get('city').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.54'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label for="zip">{{'Contacts.22'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Contacts.38'| translate }}</small>

                                    <input id="txtZip" formControlName="zip" placeholder="Postal" class="form-control input-md" type="text">
                                    <div [hidden]="contactForm.get('zip').valid || (contactForm.get('zip').pristine && !isContactFormSubmitted)" class="error-msg">

                                      <small *ngIf="contactForm.get('zip').errors && contactForm.get('zip').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.56'| translate }}
                                      </small>
                                      <small *ngIf="contactForm.get('zip').errors && contactForm.get('zip').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.57'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <!-- Text input-->
                                  <div class="form-group">
                                    <label for="address">{{'Contacts.18'| translate }}</label>

                                    <textarea id="txtAddress" formControlName="address"  placeholder="Address" class="form-control input-md" type="text"></textarea>
                                    <div [hidden]="contactForm.get('address').valid || (contactForm.get('address').pristine && !isContactFormSubmitted)" class="error-msg">

                                      <small *ngIf="contactForm.get('address').errors && contactForm.get('address').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.58'| translate }}
                                      </small>
                                      <small *ngIf="contactForm.get('address').errors && contactForm.get('address').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.59'| translate }}
                                      </small>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-6">

                                  <div class="form-group">
                                    <label for="phone">{{'Contacts.20'| translate }}</label>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{countryCode}}</span>
                                      <input id="txtPhone"  placeholder="Mobile" formControlName="phone" class="form-control input-md" type="text">
                                    </div>
                                    <div [hidden]="contactForm.get('phone').valid || (contactForm.get('phone').pristine && !isContactFormSubmitted)" class="error-msg">

                                      <small *ngIf="contactForm.get('phone').errors && contactForm.get('phone').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.60'| translate }}
                                      </small>
                                      <small *ngIf="contactForm.get('phone').errors && contactForm.get('phone').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.61'| translate }}

                                      </small>
                                    </div>


                                  </div>
                                  <div class="form-group">
                                    <label for="telephone">{{'Contacts.21'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i>{{'Contacts.38'| translate }}</small>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{countryCode}}</span>
                                      <input id="txtTelephone" placeholder="Telephone" formControlName="telephone" class="form-control input-md" type="text">
                                    </div>
                                    <div [hidden]="contactForm.get('telephone').valid || (contactForm.get('telephone').pristine && !isContactFormSubmitted)"
                                      class="error-msg">


                                      <small *ngIf="contactForm.get('telephone').errors && contactForm.get('telephone').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.62'| translate }}
                                      </small>

                                    </div>


                                  </div>

                                  <div class="form-group">
                                    <label for="email">{{'Contacts.63'| translate }}</label>

                                    <input id="txtEmail" formControlName="email" class="form-control input-md" type="text" placeholder="Email">
                                    <div [hidden]="contactForm.get('email').valid || (contactForm.get('email').pristine && !isContactFormSubmitted)" class="error-msg">

                                      <small *ngIf="contactForm.get('email').errors && contactForm.get('email').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.64'| translate }}

                                      </small>
                                      <small *ngIf="contactForm.get('email').errors && contactForm.get('email').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.65'| translate }}

                                      </small>

                                    </div>

                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="text-right">
                                    <div class=" text-right">
                                      <button id="txtContactWork" name="contactWork" class="btn btn-primary" (click)="updateContact()" *ngIf="this.contactId && this.contactId != 0">{{'Contacts.49'| translate }}</button>
                                      <a href="#workTab" id="btnNextWork" name="send" class="btn btn-default" aria-controls="work" role="tab" data-toggle="tab"
                                        (click)="setTabActive(2)"><p>{{'Contacts.50'| translate }}</p>  <img src="../../../../assets/img/lnr-arrow-right-white.svg"></a>

                                    </div>

                                  </div>

                                </div>



                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>
                    </tab>

                    <tab id="btnWork" class="animated fadeInUp">
                      <ng-template tabHeading>
                        <i class="far fa-building"></i>{{'Contacts.66'| translate }}
                      </ng-template>
                      <div class="row">

                        <div class="col-md-12">
                          <div class="wiz-info">
                            <form [formGroup]="workForm" novalidate>

                              <fieldset>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="designation">{{'Contacts.12'| translate }}</label>

                                    <input id="txtDesignation" placeholder="Designation"  formControlName="designation" class="form-control input-md" type="text">
                                    <div [hidden]="workForm.get('designation').valid || (workForm.get('designation').pristine && !isWorkFormSubmitted)" class="error-msg">

                                      <small *ngIf="workForm.get('designation').errors && workForm.get('designation').errors.required">
                                        <i class="fas fa-times-circle"></i>{{'Contacts.67'| translate }}

                                      </small>
                                      <small *ngIf="workForm.get('designation').errors && workForm.get('designation').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.68'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label for="company">{{'Contacts.11'| translate }}</label>


                                    <input id="txtCompany" placeholder="Company" formControlName="company" class="form-control input-md" type="text">
                                    <div [hidden]="workForm.get('company').valid || (workForm.get('company').pristine && !isWorkFormSubmitted)" class="error-msg">

                                      <small *ngIf="workForm.get('company').errors && workForm.get('company').errors.required">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.69'| translate }}

                                      </small>
                                      <small *ngIf="workForm.get('company').errors && workForm.get('company').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.70'| translate }}
                                      </small>
                                    </div>

                                  </div>
                                  <div class="form-group">
                                    <label for="address">{{'Contacts.71'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Contacts.38'| translate }}</small>


                                    <input id="txtComAddress" formControlName="address" placeholder="Address"  class="form-control input-md" type="text">
                                     </div>
                                    <div class="form-group">
                                      <label class="" for="country">{{'Contacts.52'| translate }}</label>
                                      <small class="pull-right">
                                        <i class="fas fa-info-circle"></i> {{'Contacts.38'| translate }}</small>
                                      <select id="ddComCountry" class="form-control" formControlName="country" (change)="workCountryCodechange($event.target.selectedOptions[0])">
                                        <option [ngValue]="null" disabled [selected]="true">{{'Contacts.42'| translate }}</option>
                                        <option *ngFor="let country of countries" [value]="country.value">{{country.text}}</option>
                                      </select>
                                      <div [hidden]="workForm.get('country').valid || (workForm.get('country').pristine && !isWorkFormSubmitted)" class="error-msg">
                                        <small *ngIf="workForm.get('country').errors && workForm.get('country').errors.required">
                                          {{'Contacts.53'| translate }}
                                          <br>
                                        </small>
                                      </div>
                                    </div>
                                 


                                </div>
                                <div class="col-md-6">

                                  <div class="form-group">
                                    <label for="telephone">{{'Contacts.72'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i>{{'Contacts.38'| translate }}</small>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{workCountryCode}}</span>

                                      <input id="txtComtelephone" formControlName="telephone"placeholder="Tele" class="form-control input-md" type="text">
                                    </div>
                                    <div [hidden]="workForm.get('telephone').valid || (workForm.get('telephone').pristine && !isWorkFormSubmitted)" class="error-msg">
                                      <small *ngIf="workForm.get('telephone').errors && workForm.get('telephone').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i> {{'Contacts.73'| translate }}
                                      </small>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="phone">{{'Contacts.74'| translate }}</label>
                                    <small class="pull-right">
                                      <i class="fas fa-info-circle"></i> {{'Contacts.38'| translate }}</small>
                                    <div class="input-group">
                                      <span class="input-group-addon" id="basic-addon1">+{{workCountryCode}}</span>

                                      <input id="txtComphone" formControlName="phone" placeholder="Mobile" class="form-control input-md" type="text">
                                    </div>
                                    <div [hidden]="workForm.get('phone').valid || (workForm.get('phone').pristine && !isWorkFormSubmitted)" class="error-msg">
                                      <small *ngIf="workForm.get('phone').errors && workForm.get('phone').errors.patternInvalid">
                                        <i class="fas fa-times-circle"></i>{{'Contacts.61'| translate }}
                                      </small>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="text-right">
                                    <div class=" text-right">
                                      <button id="btnUpdateWork" name="updateWork" class="btn btn-primary" (click)="updateWork()" *ngIf="this.contactId && this.contactId != 0">{{'Contacts.49'| translate }}</button>
                                      <button id="btnSaveContact" name="saveContact" class="btn btn-primary" (click)="save()" *ngIf="!this.contactId || this.contactId == 0">{{'Contacts.75'| translate }}</button>
                                    </div>

                                  </div>


                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>
                    </tab>
                  </tabset>

                </div>
              </div>
            </div>
          </div>



        </section>



      </div>

    </div>

  </div>
</div>

<membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this contact?"' (delete)="archiveContact()"></membership-delete-modal>