<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section class="comuni wizard">
          <div class="wizard-inner-body">
              <tabset #staticTabs>
                
                  <tab id="btnQuickEmails" class="animated fadeInUp">
                    <ng-template tabHeading>
                      <i class="fab fa-telegram-plane"></i>{{'Communications.Send Emails'| translate }}
                    </ng-template>
                  
                      <div class="row">
                        <div class="col-md-12 no-padding">
                          <div class="comu ">
                            <img src="assets/img/Mailbox.svg" alt="">
                            <span>
                                <h4>{{'Communications.New Email'| translate }}</h4>
                                <p>{{'Communications.Send emails to one or many members instantly'| translate }}</p>
                            </span>
                           
                          </div>
                        </div>
      
                        <div class="col-md-8 col-md-offset-2">
                          <membership-email-inbox></membership-email-inbox>
      
                        </div>
      
                      </div>
      
                    
                  </tab>

                  <tab id="btnTemplates" class="animated fadeInUp no-padding">
                    <ng-template tabHeading>
                      <i class="fas fa-pencil-alt"></i> {{'Communications.Email Templates'| translate }}
                    </ng-template>

                    <div class="comu minus-margin">
                        <img src="assets/img/Transport.svg" alt="">
                        <span>
                            <h4>{{'Communications.Email Templates'| translate }}</h4>
                            <p>{{'Communications.Create custom or use our existing templates we have created behalf of you'| translate }}</p>
                        </span>
                       
                    </div>
                    
                    <membership-email-templat-details></membership-email-templat-details>
                      
                   
                  </tab>
                </tabset>
          </div>
         

        </section>
      </div>
    </div>
  </div>
</div>