<section class="on-board">

  <div class="figure col-md-7">

    <div class="header">
      <a href="#" class="app-logo"><img src="./assets/img/asso.svg" alt=""></a>
    </div>

    <div class="content">
      <h1>
        {{ 'Login.46' | translate }}
        <div class="slidingVertical">
          <span>Associations.</span>
          <span>Gyms.</span>
          <span>Clubs.</span>
          <span>Organizations.</span>
        </div>
      </h1>
      <p>
        {{ 'Login.47' | translate }}
      </p>
      <!-- <p>
                Optimized for associations, groups and organizations all in one spot.
              </p> -->
    </div>

    <div class="footer">
      <ul class="social">
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-linkedin-in"></i>
        </li>
      </ul>
    </div>


  </div>

  <div class="form col-md-5">
    <div class="animated fadeIn">



      <div *ngIf="!isMailSent">

        <div class="signup-logo hidden">
          <img src="assets/img/Man2.svg" alt="">
        </div>
        <div class="title-content">
          <h2>{{ 'Login.8' | translate }} </h2>
          <p>{{ 'Login.2' | translate }}</p>
        </div>

        <div class="login-form">
          <form [formGroup]="forgotpasswordForm" (submit)="sendResetEmail()">
            <div class="form-group">
              <label for="orgname">{{ 'Login.3' | translate }}</label>
              <input type="text" class="form-control" id="txtResetEmail" name="resetEmail" formControlName="resetEmail">
            </div>
            <div *ngIf="forgotpasswordForm.get('resetEmail').errors && !forgotpasswordForm.get('resetEmail').pristine" class="error-msg">
              <div [hidden]="!forgotpasswordForm.get('resetEmail').errors.required">{{ 'Login.4' | translate }}</div>
              <div [hidden]="!forgotpasswordForm.get('resetEmail').errors.patternInvalid">{{ 'Login.5' | translate }}</div>
            </div>
            <div class="row icon-fonts">
              <div class="col-md-12">
                <button class="btn  btn-block btn-primary" id="btnReset" type="submit" [disabled]="isRequested">
                  <span [hidden]="!isRequested">
                    <i class="fa fa-spinner fa-spin" style="font-size:14px"></i>
                  </span>{{ 'Login.6' | translate }}</button>
              </div>
            </div>
            <div class="forget m-t-15">
              <p>{{ 'Login.7' | translate }}
                <a [routerLink]="['/login']">{{ 'Login.1' | translate }}</a>
              </p>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="isMailSent" class="animated fadeInDown">

        <div class="title-content">
          <h1 class="logo">
            {{ 'Login.9' | translate }}
          </h1>
          <p>{{ 'Login.10' | translate }}
            <strong>{{forgotpasswordForm.value.resetEmail}}</strong>
          </p>
        </div>

        <div class="login-form">
          <div class="m-t-25 m-b-15">
            <div>
              <button class="btn btn-primary" id="btnSignin" [routerLink]="['/login']" type="button">{{ 'Login.32' | translate }}</button>
              <button class="btn btn-default" id="btnBack" name="back" type="button" (click)="goBack()">{{ 'Login.11' | translate }}</button>
            </div>
          </div>
        </div>

      </div>



      <div class="footer">
        <ul class="info">
          <li>
            {{ 'Login.48' | translate }}
          </li>
          <li>
            {{ 'Login.49' | translate }}
          </li>
        </ul>
      </div>

    </div>
  </div>



</section>