<section class="on-board">
  <div class="figure col-md-7">
    <div class="header">
      <a href="" [routerLink]="['/signup']" class="app-logo"><img src="./assets/img/asso.svg" alt=""></a>
    </div>
    <div class="content">
      <h1>
        {{ 'Login.46' | translate }}
        <div class="slidingVertical">
            <span>Associations.</span>
            <span>Gyms.</span>
            <span>Clubs.</span>
            <span>Organizations.</span>
          </div>
      </h1>
      <p>
        {{ 'Login.47' | translate }}
      </p>
    </div>
    <div class="footer">
      <ul class="social">
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-linkedin-in"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="form col-md-5">
    <div class="inner-form animated fadeIn">
      <div *ngIf="!isMailSent">
        <div class="setup-inner-container">
          <div class="main-title login-title">
            <div class="title-content">
              <h2>{{ 'Login.1' | translate }}</h2>
              <p>{{ 'Login.77' | translate }}</p>
            </div>
          </div>
          <div class="login-form">
            <form [formGroup]="userLoginForm" (submit)="authenticate()" novalidate>
              <div class="form-group">
                <label for="orgname">{{ 'Login.13' | translate }}</label>
                <input type="email" class="form-control" id="txtEmail" name="email" formControlName="email" required>
                <div *ngIf="userLoginForm.get('email').errors && !userLoginForm.get('email').pristine" class="error-msg animated shake">
                  <small [hidden]="!userLoginForm.get('email').errors.required">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.4' | translate }}</small>
                  <small [hidden]="!userLoginForm.get('email').errors.patternInvalid">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.5' | translate }}</small>
                </div>
              </div>

              <div class="form-group">
                <label for="orgname">{{ 'Login.14' | translate }}</label>
                <input type="Password" class="form-control" id="txtPassword" name="password" formControlName="password" required>
                <div *ngIf="userLoginForm.controls['password'].errors && !userLoginForm.controls['password'].pristine" class="error-msg animated shake">
                  <small [hidden]="!userLoginForm.controls['password'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i>{{ 'Login.15' | translate }}</small>
                </div>
              </div>

              <div class="row icon-fonts">
                <div class="col-md-12">
                  <button class="btn  btn-block btn-primary" id="btnLogin1" type="submit" [disabled]="isRequested">
                    <span [hidden]="!isRequested">
                      <i class="fa fa-spinner fa-spin" style="font-size:14px"></i>
                    </span>{{ 'Login.16' | translate }}</button>
                </div>
              </div>
              <div class="forget m-t-15">
                <p>{{ 'Login.17' | translate }}
                  <a [routerLink]="['/forgotpassword']">{{ 'Login.18' | translate }}</a>
                </p>
             
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div *ngIf="isMailSent" class="animated fadeInDown">
        <div class="signup-logo">
          <img src="assets/img/Transport.svg" alt="">
        </div>
        <h1 class="logo">  {{ 'Login.50' | translate }}</h1>
        <p>  {{ 'Login.51' | translate }}
          <strong>{{userLoginForm.value.email}}</strong>.{{ 'Login.51' | translate }}</p>
        
      </div>


      <div class="footer">
        <ul class="info">
          <li>
            {{ 'Login.48' | translate }}
          </li>
          <li>
            {{ 'Login.49' | translate }}
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>