<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title tabber">
          <span class="svg sub-svg">
            <img src="assets/img/Wallet.svg" alt="">
          </span>
          <div class="title-content">
            <h4>{{'Payments.1'| translate }}</h4>
            <p>{{'Payments.2'| translate }}</p>
          </div>

        </div>
        <section class="wizard">
          <div class="wizard-inner-body payemnt">
            <tabset #staticTabs class="remove-ul">
              <tab id="btnPayment" class="">
                <ng-template tabHeading>
                  <i class="far fa-credit-card"></i> {{'Payments.1'| translate }}
                </ng-template>


                <div class="panel panel-default no-margin">
                  <div class="panel-body title-panel">
                    <div class="row">


                      <form [formGroup]="paymentSearchForm">
                        <div class="col-md-6">
                          <div class="hav-ico width300">
                            <span class="field-icon">
                              <i class="fa fa-search"></i>
                            </span>
                            <input type="text" id="btnSearch" class="form-control" placeholder="Search By Invoice ID, Name" (keyup)="searchTerm$.next($event.target.value)">

                          </div>
                        </div>
                        <!-- /input-group -->

                        <div class="col-md-6">
                          <div class="pull-right">
                            <div class="form-inline">
                             
                                  <div class="form-group m-r-16">
                                      <label>From </label>
                                      <input id="txtToDate" class="form-control input-md" type="text" bsDatepicker formControlName="fromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        [maxDate]="maxDate">
                                  </div>
                          
                               
                                  <div class="form-group">
                                      <label>To </label>
                                      <input id="txtFromDate" class="form-control input-md" type="text" bsDatepicker formControlName="toDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        [maxDate]="maxDate">
                                  </div>
                               
                               
                            </div>
                        
                          </div>
                        </div>

                      </form>


                    </div>


                  </div>
                </div>

                <div class=" panel-default">
                  <div class="">
                    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                    <div class="table-container table-responsive">
                      <table class="table table-filter table-striped">
                        <thead>
                          <tr>
                            <th></th>
                            <th>{{'Payments.6'| translate }}</th>
                            <th>{{'Payments.5'| translate }}</th>
                            <th>{{'Payments.32'| translate }}</th>
                            <th>{{'Payments.7'| translate }}</th>
                            <th class="text-right">{{'Payments.8'| translate }}</th>
                            <th class="text-center">{{'Payments.9'| translate }}</th>
                            <th class="text-right">{{'Payments.10'| translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr (click)="goToInvoice(payment.paymentMasterId, payment.memberId)" *ngFor="let payment of paymentDetails">
                            <td>
                              <a _ngcontent-c6="" class="pull-left">
                                <img _ngcontent-c6="" class="media-photo" src="{{payment.profileImage}}">
                              </a>
                            </td>
                            <td>
                              <div class="title-wrap">
                                <span class="title">
                                  {{payment.memberName}}
                                </span>
                                <small> {{payment.email}}</small>
                              </div>
                            </td>
                            <td>{{payment.createdDate|date:'dd MMMM yyyy'}}</td>
                            <td *ngIf="payment.payedDate == null">-</td>
                            <td *ngIf="payment.payedDate != null">{{payment.payedDate|date:'dd MMMM yyyy'}}</td>
                            <td>{{payment.transActionType}}</td>
                            <td class="text-right">{{currency}} {{payment.amount | number:'1.2-2'}}</td>
                            <td class="text-center">
                              <span class="badge badge-md {{payment.paymentState}}"> {{payment.paymentState}}</span>
                            </td>
                            <td class="text-right">
                              <button class="btn btn-default btn-sm" id="btnViwePayment" (click)="goToInvoice(payment.paymentMasterId,payment.memberId)">
                                <i _ngcontent-c6="" class="fas fa-ellipsis-h"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="paymentDetails?.length <= 0">
                            <td colspan="8" style="text-align:center;">{{'Payments.12'| translate }}</td>
                          </tr>
                        </tbody>
                      </table>

                      <pagination [boundaryLinks]="true" [totalItems]="paginationModel.totalRecords" [(ngModel)]="paginationModel.currentPage"
                        (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationModel.take" class="pagination-sm" [maxSize]="maxSize"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                      </pagination>

                    </div>
                  </div>
                </div>

              </tab>


            </tabset>

          </div>




        </section>



      </div>

    </div>

  </div>
</div>