span.lev-info {
    font-size: 14px;
   background-color: #fff;
   padding: 5px;
   display: inline-block;
   border: 1px dashed #b2b6bb;
   font-weight: bold;
}

span.lev-title{

   padding: 3px;
   margin-bottom: 4px;
   display: block;
}

.lev-data {
          margin-bottom: 13px;
   border-bottom: 1px solid #e9ebee;
   padding-bottom: 15px;
}

.min-height{
       min-height: 260px !important;
}

.level-detail{
   width:calc(100% - 200px)
}

.well-wrapper{
      background-color: #f4f4f4;
   overflow: auto;
   padding: 15px;
   border-radius: 4px;
   text-align: center;
  background: linear-gradient(to bottom, #f4f4f4 0%,rgba(0, 158, 195, 0) 100%);
}

.init{
      text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   .level-img{
           width: 110px;
   filter:grayscale(1);
   }
   h4{
           font-weight: bold;
   margin-bottom: 0;
   }
}

.header-info{
   text-align: center;
   margin-bottom: 15px;
   h4{
       font-weight: bold;
       margin-bottom: 10px;

   }

   p{
       margin-bottom: 0px;
       
   }
}




.rem{
        background-color: #2b7cff;
   padding: 3px 10px;
   display: inline-block;
   color: #fff;
   border-radius: 14px;
   font-weight: bold;
   font-size: 13px;
   padding-left: 0;
   border: 2px solid #2f7dff;
   span{
           background-color: white;
   color: #2f7dff;
   padding: 3px 10px;
   border-radius: 24px;
   margin: 0;
   }
}

.wizard-inner-body .tab-content {
   padding: 30px 15px 15px;
}

.card .profile-pic {
        height: 160px;
        width: 160px;
   background-color: #fff;
   border-radius: 100%;
   overflow: hidden;
   padding: 6px;
   border: 1px solid #dce1f0;
   background-color: #fff;
}


@media (min-width:991px) {
     .minus-margin{
            margin-left: -25px;
    margin-top: -25px;
}   
}
