<div class="content animated fadeIn">
  <div class="container-fluid mem">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <span class="svg sub-svg">
            <img src="../../../../assets/img/Proposal.svg" alt="">
          </span>
          <div class="title-content">
            <h4>Create Member </h4>
          </div>

          <div class="btn-group pull-right" role="group" aria-label="...">
            <form action="members.html">
              <button type="button" name="send" class="btn btn-danger m-r-5">
                <img src="../../../../assets/img/lnr-trash-white.svg">
                <p>{{'Members.Archive'| translate }}</p>
              </button>
              <button type="button" name="send" class="btn btn-default pull-right" id="btnBack" [routerLink]="['/members']">
                <img src="../../../../assets/img/lnr-arrow-left.svg">
                <p>{{'Members.Back'| translate }}</p>
              </button>
            </form>
          </div>
        </div>

        <section class="">
          <div class="row">
            <div class="col-md-3 relative">
              <div class="card text-center animated fadeInUp">
                <div class="avatar">
                  <img class="profile-pic avatar-img" alt="">
                </div>
                <h5>Full Name </h5>
                <p class="text-overflow">Designation @ Company</p>
                <hr>
                <p>
                  <i class="far fa-envelope m-r-5"></i> Email Address</p>
                <p class="text-overflow">
                  <i class="fas fa-map-marker-alt m-r-5"></i>Permanent Address
                </p>
                <p>
                  <i class="fas fa-mobile-alt m-r-5"></i> Contact Number</p>
              </div>
            </div>

            <div class="col-md-9">
              <div class="wizard animated fadeInRight relative">
                <div class="wizard-inner-body">
                  <tabset #staticTabs>

                    <tab *ngFor="let tab of tabs" [heading]="tab.displayName" [disabled]="tab.disabled" [active]="tab.active" (select)="tab.active = true"
                      (deselect)="tab.active = false">
                      <form [formGroup]=tab?.form>
                        <div *ngFor="let element of tab?.elements" class="form-row">
                          <membership-element [element]="element" [form]="tab?.form" [isFormSubmitted]="tab?.isFormSubmitted"></membership-element>
                        </div>
                        <div class="text-right" *ngIf="tab?.tabCount != tabCount">
                          <button class="btn btn-primary" (click)="goToNextTab(tab?.tabCount)">Next</button>
                        </div>
                        <div class="text-right" *ngIf="tab?.tabCount == tabCount && !isEdit">
                          <button class="btn btn-primary" (click)="saveMember(tab?.tabCount)">Next</button>
                        </div>
                        <div class="text-right" *ngIf="tab?.tabCount == tabCount && isEdit">
                          <button class="btn btn-primary" (click)="updateMember(tab?.tabCount)">Update</button>
                        </div>
                      </form>
                    </tab>

                    <tab *ngIf="isDynamicTabLoaded && !isEdit" [disabled]="isMemberLevelDisabled" [active]="isMemberLevelActive" (select)="isMemberLevelActive = true"
                      (deselect)="isMemberLevelActive = false">
                      <ng-template tabHeading>
                        <i class="far fa-address-card"></i> {{'Members.83'| translate }}
                      </ng-template>
                      <membership-member-level-subscribe [memberId]="this.memberId" (onMemberSubscripitionSave)="goToPaymentTab($event)"></membership-member-level-subscribe>
                    </tab>

                    <tab *ngIf="isDynamicTabLoaded && !isEdit" [disabled]="isMemberPaymentDisabled" [active]="isMemberPaymentActive" (select)="isMemberPaymentActive = true"
                      (deselect)="isMemberPaymentActive = false">
                      <ng-template tabHeading>
                        <i class="far fa-user"></i> {{'Members.107'| translate }}
                      </ng-template>
                      <membership-member-level-payment [levelPrice]="levelPrice" [memberId]="this.memberId" *ngIf="this.isMemberPaymentActive"></membership-member-level-payment>
                    </tab>

                  </tabset>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>