<div class="content animated fadeInDown">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <section class="">
          <div class="tabber no-shadow">
            <div class="flex">
              <img src="assets/img/Floder.svg" alt="">
              <span>
                <h4>{{'Contacts.1'| translate }}</h4>
                <p>{{'Contacts.3'| translate }}</p>

              </span>
            </div>

            <button type="button" class="btn btn-primary" (click)="goToNewContact()" id="btnCreateContacts">
              {{'Contacts.85'| translate }}</button>


          </div>
          <div class="panel panel-default m-b-0 bottom-round">
            <div class="panel-body title-panel m-b-15 ">
              <div class="row">
                <div class="col-md-7">
                  <div class="pull-left">
                    <div class="flex align-center">
                      <div class="hav-ico width300">
                        <span class="field-icon">
                          <i class="fa fa-search"></i>
                        </span>
                        <input type="text" class="form-control" id="btnSearch" placeholder="Search by Name, Email or Mobile" (keyup)="searchTerm$.next($event.target.value)">
                      </div>                      
                      <p class="m-r-5 m-l-10 m-b-0">{{'Contacts.84'| translate }}:
                        <span>{{ContactCount}}</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="btn-gro pull-right">

                    <div class="btn-group" role="group">
                      <button type="button" id="btnFilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-filter m-r-5 text-primary"></i> {{'Contacts.7'| translate }} {{category}}
                        <i class="fas fa-caret-down m-l-5"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a (click)="resetFilter()" id="btnResetFilter">Show All</a>
                        </li>
                        <li *ngFor="let cat of categories">
                          <a (click)="filterByCategory(cat.value,cat.text)">{{cat.text}}</a>
                        </li>
                      </ul>
                    </div>

                    <!-- <div class="btn-group" role="group">
                      <button type="button" (click)="resetFilter()" id="btnResetFilter" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-eraser"></i>
                      </button>

                    </div> -->
                    <div class="btn-group" role="group">
                      <button type="button" id="btnExport" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-file-alt m-r-5 text-primary"></i> {{'Contacts.8'| translate }}
                        <i class="fas fa-caret-down m-l-5"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li *ngFor="let format of reportFormats">
                          <a (click)="reportTemplateModal.showReportTemplateModal(format)">{{format}}</a>
                        </li>
                      </ul>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" id="btnAction" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-ellipsis-v text-primary"></i>

                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                          <a id="btnRestore" [routerLink]="['/contacts/contactRestore']">
                            <i class="fas fa-window-restore m-r-5"></i> {{'Contacts.9'| translate }}</a>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="">
            <div class="table-container table-responsive">
              <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
              <table class="table table-filter table-sortable" id="tblContacts">
                <thead>
                  <tr>
                    <th data-hide *ngIf="showColumn('profile Image')"></th>
                    <th [class]="selectedClass('Name')" (click)="changeSorting('Name')">{{'Contacts.10'| translate }}</th>
                    <th [class]="selectedClass('Company')" (click)="changeSorting('Company')" *ngIf="showColumn('company')">{{'Contacts.11'| translate }}</th>
                    <th [class]="selectedClass('Designation')" (click)="changeSorting('Designation')" *ngIf="showColumn('designation')">{{'Contacts.12'| translate }}</th>
                    <th [class]="selectedClass('Category')" (click)="changeSorting('Category')" *ngIf="showColumn('contact Category')">{{'Contacts.13'| translate }}</th>
                    <th [class]="selectedClass('dob')" (click)="changeSorting('dob')" *ngIf="showColumn('dob')">{{'Contacts.14'| translate }}</th>
                    <th [class]="selectedClass('Identity')" (click)="changeSorting('Identity')" *ngIf="showColumn('identity')">{{'Contacts.15'| translate }}</th>
                    <th [class]="selectedClass('MartialStatus')" (click)="changeSorting('MartialStatus')" *ngIf="showColumn('martial Status')">{{'Contacts.16'| translate }}</th>
                    <th [class]="selectedClass('Age')" (click)="changeSorting('Age')" *ngIf="showColumn('age')">{{'Contacts.17'| translate }}</th>
                    <th [class]="selectedClass('Address')" (click)="changeSorting('Address')" *ngIf="showColumn('address')">{{'Contacts.18'| translate }}</th>
                    <th [class]="selectedClass('City')" (click)="changeSorting('City')" *ngIf="showColumn('city')">{{'Contacts.19'| translate }}</th>
                    <th [class]="selectedClass('Mobile')" (click)="changeSorting('Mobile')" *ngIf="showColumn('phone')">{{'Contacts.20'| translate }}</th>
                    <th [class]="selectedClass('Telephone')" (click)="changeSorting('Telephone')" *ngIf="showColumn('telephone')">{{'Contacts.21'| translate }}</th>
                    <th [class]="selectedClass('Zip')" (click)="changeSorting('Zip')" *ngIf="showColumn('zip')">{{'Contacts.22'| translate }}</th>
                    <!-- <th [class]="selectedClass('createdOn')" (click)="changeSorting('createdOn')" *ngIf="showColumn('createdOn')">{{'Contacts.86'| translate }}</th> -->
                    <th [class]="selectedClass('memberSince')" (click)="changeSorting('Member Since')" *ngIf="showColumn('Member Since')">{{'Contacts.87'| translate }}</th>
                    <th data-hide class="text-right">
                      <button type="button" class="btn btn-default btn-sm pull-right" (click)="templateModal.showTemplateModal()" id="btnSelectContact">
                        <i class="fas fa-cog"></i>
                      </button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="editContact(contact.id)"  *ngFor="let contact of contactDetails">

                    <td *ngIf="showColumn('profile Image')">
                      <img src={{contact.profileImage}} class="media-photo">
                    </td>
                    <td>
                      <div class="title-wrap">
                        <span class="title">
                          {{contact.name}}
                        </span>
                        <small>{{contact.email}}</small>
                      </div>
                    </td>
                    <td *ngIf="showColumn('company')">
                      <span class="nowrap table-data">{{contact.company}}</span>
                    </td>
                    <td *ngIf="showColumn('designation')">
                      <span class="nowrap">{{contact.designation}}</span>
                    </td>
                    <td *ngIf="showColumn('contact Category')">
                      <span class="table-data custom-data">{{contact.contactCategory}}</span>
                    </td>
                    <td *ngIf="showColumn('dob')">
                      <span class="nowrap custom-data">{{contact.dob|date: 'dd/MM/yyyy'}}</span>
                    </td>
                    <td *ngIf="showColumn('identity')">
                      <span class="nowrap custom-data">{{contact.identity}}</span>
                    </td>
                    <td *ngIf="showColumn('martial Status')">
                      <span class="table-data custom-data">{{contact.martialStatus}}</span>
                    </td>
                    <td *ngIf="showColumn('age')">
                      <span class="table-data custom-data">{{contact.age === null ? '-' : contact.age}}</span>
                    </td>
                    <td *ngIf="showColumn('address')">
                      <span class="table-data custom-data">{{contact.address}}</span>
                    </td>
                    <td *ngIf="showColumn('city')">
                      <span class="nowrap custom-data">{{contact.city}}</span>
                    </td>
                    <td *ngIf="showColumn('phone')">
                      <span class="nowrap">{{contact.phone | slice:0:2}}-{{contact.phone | slice:2:5}}-{{contact.phone | slice:5:8}}</span>
                    </td>
                    <td *ngIf="showColumn('telephone')">
                      <span class="nowrap">{{contact.telephone | slice:0:2}}-{{contact.telephone | slice:2:5}}-{{contact.telephone | slice:5:8}}</span>
                    </td>
                    <td *ngIf="showColumn('zip')">
                      <span class="nowrap">{{contact.zip}}</span>
                    </td>
                    <!-- <td *ngIf="showColumn('created On')">
                      <span class="nowrap">{{member.createdOn|date: 'dd/MM/yyyy'}}</span>
                    </td> -->
                    <td *ngIf="showColumn('member Since')">
                      <span class="nowrap">{{member.membersince}}</span>
                    </td>
                    <td>
                      <div class="btn-group pull-right">
                        <button type="button" id="btnEditContact" class="btn btn-default btn-sm" (click)="editContact(contact.id)">
                          <i class="fas fa-ellipsis-h"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="contactDetails?.length <= 0">
                    <td colspan="15" style="text-align:center;">{{'Contacts.23'| translate }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <pagination [boundaryLinks]="true" [totalItems]="paginationModel.totalRecords" [(ngModel)]="paginationModel.currentPage"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationModel.take" [maxSize]="maxSize" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>



        </section>
      </div>
    </div>
    <membership-select-report-columns #reportTemplateModal (show)="showColumns($event)" [tableTemplate]="tableTemplateType"></membership-select-report-columns>
    <membership-select-columns #templateModal (show)="showColumns($event)" [tableTemplate]="tableTemplateType"></membership-select-columns>
  </div>
</div>