.well.active{
    background-color: #beffc1;
    font-weight: bold;
    color: #323435;
    border: 1px solid #4caf4f;
}

.well.terminated{
    background-color: #cc7171;
    font-weight: bold;
    color: #323435;
    border: 1px solid #a33131;
}

.clearfix .well{
    font-weight: bold;
}

.summary{
    margin-bottom: 15px;
    .card{
        box-shadow: none !important;
        padding: 12px 15px;
        .data{
            float: left;

      .val{
          font-size: 28px;
          font-weight: 700;
          color: #fff;
      }
      .dsc{
           color: #fff;
      }
        }
        .ico{
            float: right;
            width: 60px;
            height: 70px;
            overflow: auto;
        img{
            width: 100%;
            height:100%;
        }
        }

        &.rev{
            // background: linear-gradient(to right, #3F51B5 0%, #2196F3 100%);
            background-color: #6c6efa;
        }

        &.subs{
            // background-color: #2196F3;
           background-color: #8BC34A;
            
        }

        &.inc{
            // background-color: #2196F3;
           background-color: #ff9708;
            
        }

        &.due{
        //    background: linear-gradient(to right, #2196F3 0%, #3F51B5 100%);
           background-color: #a3a3a5;
           
        }

         &.ter{
        //    background: linear-gradient(to right, #2196F3 0%, #3F51B5 100%);
              background-color: #ff7171;
           
        }



    }

  
}

.main-title .title-content {
    float: left;
    padding-top: 0px;
}

.outer-title div {
    width: 85%;
    float: left;
    margin-left: 12px;
}

.custom-radio input:checked+span {
   background-color:#5157cc;
   color: #fff;
}
.ab-well{
      padding: 2px 6px;
    position: absolute;
    top: 22px;
    left: 96px;
}