<div class="wrapper config-bg">
  <div class="inner-wrapper-2">
    <div class="setup-inner-cnt-wrapper animated fadeInDown">
      <div class="row">
        <div class="col-md-12">
          <div class="setup-container">
            <div class="setup-inner-container">
                <div *ngIf="isTokenValid">
                <div class="logo">
                  <i class="far fa-sticky-note"></i> {{'Settings.permissions password'| translate }}
                </div>
                <div class="permission-form">
                  <form [formGroup]="permissionPasswordForm" (submit)="permissionpassword()">
                  
                      <div class="form-group">
                          <label for="orgname">{{'Settings.36'| translate }}</label>
                          <input type="password" class="form-control" id="txtNewPassword" formControlName="newPassword" required>
                        </div>
                        <div *ngIf="permissionPasswordForm.controls['newPassword'].errors && !permissionPasswordForm.controls['newPassword'].pristine" class="error-msg">
                          <div [hidden]="!permissionPasswordForm.controls['newPassword'].errors.required">{{'Settings.37'| translate }}</div>
                          <div [hidden]="!permissionPasswordForm.controls['newPassword'].errors.patternInvalid">{{'Settings.Password must contain uppercase, lowercase, numeric value/Special character and length must be more than 8 characters.'| translate }}</div>
                        </div>
                        <div class="form-group">
                          <label for="orgname">{{'Settings.39'| translate }}</label>
                          <input type="password" class="form-control" id="txtConfNewPassword" formControlName="confirmPassword" required>
                        </div>
                        <div *ngIf="!permissionPasswordForm.controls['confirmPassword'].pristine && permissionPasswordForm.hasError('isPasswordNotSame')" class="error-msg">
                          {{'Settings.41'| translate }}
                        </div>
                        <div *ngIf="permissionPasswordForm.controls['confirmPassword'].errors && !permissionPasswordForm.controls['confirmPassword'].pristine"
                          class="error-msg">
                          <div [hidden]="!permissionPasswordForm.controls['confirmPassword'].errors.required">{{'Settings.40'| translate }}</div>
                        </div>
                        <div class="row icon-fonts">
                          <div class="col-md-12">
                            <button class="btn  btn-block btn-primary" type="submit" id="btnCreatePassword" name="createpassword" [disabled]="!permissionPasswordForm.valid">
                              {{'Settings.Register'| translate }}</button>
                          </div>
                        </div>
                  </form>
                </div>
            </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
