<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <section>
          <div class="relative">
            <div class="m-b-15 row">
              <div class="col-md-3 p-r-0">

                <div class="main-title m-b-30">
                  <span class="svg sub-svg">
                    <img src="assets/img/Development.svg" alt="">
                  </span>
                  <div class="title-content">
                    <h4>{{'Settings.19'| translate }}
                      <span class="light"></span>
                    </h4>
                    <p>{{'Settings.20'| translate }}</p>
                  </div>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation">
                    <a [routerLink]="['/settings']" id="tabContactSettings" aria-controls="tabContactSettings" role="tab" data-toggle="tab">
                      <i class="fas fa-id-card m-r-5"></i> {{'Settings.21'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/organaizationsettings']" id="btnOrgSettings" aria-controls="organization" role="tab" data-toggle="tab">
                      <i class="far fa-building m-r-5"></i> {{'Settings.22'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/usersettings']" aria-controls="user" id="btnTabUserSettings" role="tab" data-toggle="tab">
                      <i class="far fa-user m-r-5"></i> {{'Settings.23'| translate }}</a>
                  </li>
                  <li role="presentation" class="active">
                    <a [routerLink]="['/settings/permissions']" aria-controls="permissions" id="btnTabPermissions" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.Permissions'| translate }} </a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/customfields']" aria-controls="customfields" id="btnTabCustomfields" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.CustomFields'| translate }} </a>
                  </li>
                </ul>
              </div>

              <div class="col-md-9 b-l">


                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="btnTabPermissions">
                    <div class="">
                      <form class="form-horizontal" [formGroup]="permissionForm" (submit)="sendPermission()">
                        <div class="tab-top-title">
                          <h4 class="innter-title">{{'Settings.Permissions'| translate }} </h4>
                        </div>
                        <fieldset>
                          <!--text input-->
                          <div class="custom-well">
                            <div class="input-group">
                              <input type="email" id="txtinviteremail" name="email" formControlName="email" placeholder=" Enter the email address of the user to invite"
                                class="form-control input-md" required>
                              <div class="input-group-btn">
                                <button name="invite" id="btnInvite" class="btn btn-primary" type="submit" [disabled]="isRequested">{{'Settings.Invite'| translate }} </button>

                              </div>


                            </div>
                            <div *ngIf="permissionForm.get('email').errors && !permissionForm.get('email').pristine" class="error">
                              <small [hidden]="!permissionForm.get('email').errors.patternInvalid">
                                <i class="fas fa-info-circle m-r-5"></i>{{'Settings.8'| translate }}</small>
                            </div>

                          </div>

                        </fieldset>
                      </form>
                      <div class="">
                        <div class="table-container table-responsive">
                          <table class="table table-filter table-striped">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>{{'Settings.7'| translate }}</th>
                                <th>{{'Settings.Role'| translate }}</th>
                                <th>{{'Settings.Status'| translate }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let user of permissionUserList; let i = index">
                                <td>{{i + 1}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.roleName}}</td>
                                <td>{{user.userStatus}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>




            </div>
          </div>
        </section>
      </div>
    </div>

  </div>

</div>