<div bsModal #paymentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">


  <div class="modal-dialog modal-lg custom-modal">
    <div class="modal-content">
      <div class="modal-header delete">
        <h4 class="modal-title pull-left">
          <i class="fas fa-exclamation-triangle text-danger"></i> {{ 'Shared.23' | translate }}</h4>
        <button type="button" id="btnHide" class="close pull-right" aria-label="Close" (click)="hidePaymentModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form [formGroup]="paymentForm">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="selectbasic">{{ 'Shared.24' | translate }}</label>


                    <select class="form-control" id="txtTransActionType" formControlName="transActionType">
                      <option [value]="type.value" *ngFor="let type of transActionTypes">{{type.text}}</option>

                    </select>

                  </div>
                  <div class="form-group">
                    <label for="selectbasic">{{ 'Shared.25' | translate }}</label>

                    <select class="form-control" id="ddPaymentType" formControlName="paymentType">
                      <option [value]="type.value" *ngFor="let type of paymentTypes">{{type.text}}</option>
                    </select>


                  </div>
                  <div class="form-group">
                    <label for="selectbasic">{{ 'Shared.26' | translate }}</label>

                    <input id="txtAmount" formControlName="amount" class="form-control input-md" type="text">

                  </div>

                </div>
                <div class="col-md-6">

                  <div class="form-group">
                    <label for="selectbasic">{{ 'Shared.27' | translate }}</label>
                    <textarea formControlName="description" class="form-control" id="txtDescription" cols="30" rows="9"></textarea>
                  </div>


                </div>


              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">

        <div class="col-md-12">
          <button id="send" name="send" class="btn btn-primary pull-right" (click)="payNow()">{{ 'Shared.28' | translate }}</button>
        </div>

      </div>
    </div>
  </div>
</div>