.invoice {
    position: relative;
    border: 1px solid #ecedf2;
    border-radius: 4px;
    background-color: #fff;
    color: #252529;
    // box-shadow: 0 10px 60px 0 rgba(29,29,31,.09);
    overflow: hidden
}

@media (max-width: 768px) {
    .invoice {
        padding:50px
    }
}

.invoice-wrapper {
    padding: 0px 100px;
    min-height:842px;
}

@media (max-width: 768px) {
    .invoice-wrapper {
        padding:15px 15px 0
    }
}

.invoice-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-bottom: 50px;
    background-color: #6061e8;
    margin-left: -100px;
    margin-right: -100px;
    padding: 24px 91px;
    color: #fff;
}

.invoice-title small{
    color: #fff;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 3px;
}

@media (max-width: 768px) {
    .invoice-header {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.invoice-brand {
    margin-bottom: 30px
}

@media (max-width: 768px) {
    .invoice-brand {
        margin:0
    }
}

.invoice-brand-img {
    max-width: 40px;
    margin-bottom: 15px
}

.invoice-brand-name {
    
}

.invoice-title {
    margin-bottom: 0px;
    margin-top: 0;
    
}

.invoice-date {
    display: block;
    color: #fff;
    text-transform: uppercase
}

.invoice-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}

.invoice-company-name {
    margin-bottom: 15px;
    
}

.invoice-company-address {
    margin-bottom: 15px;
    color: #99a5bd
}

.invoice-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px
}

@media (max-width: 768px) {
    .invoice-body {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.invoice-number {
    color: #99a5bd;
    
}

.invoice-table {
    width: 100%
}

.invoice-table .table {
    margin-bottom: 10px;
    box-shadow: none
}

.invoice-table .table strong {
    color: #252529
}

@media (max-width: 768px) {
    .invoice-table .table {
        display:table;
        width: 100%
    }
}

.invoice-terms {
    color: #99a5bd;
   
}

.invoice-note {
    margin-bottom: 30px
}

.invoice-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px 100px;
    color: #fff;
    background: #768093;
    background: linear-gradient(180deg,#768093,#969fb0)
}

@media (max-width: 576px) {
    .invoice-footer {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        text-align: center
    }
}

.invoice-footer-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 576px) {
    .invoice-footer-brand {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}
.invoice {
    position: relative;
    border: 1px solid #ecedf2;
    border-radius: 4px;
    background-color: #fff;
    color: #252529;
    // box-shadow: 0 10px 60px 0 rgba(29,29,31,.09);
    overflow: hidden
}

@media (max-width: 768px) {
    .invoice {
        padding:30px
    }
}



@media (max-width: 768px) {
    .invoice-wrapper {
        padding:15px 15px 0
    }
}

.invoice-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;


    .image-circle{
        background-color: #fff;
        border: 3px solid #fff;
        border-radius: 50%;
        height: 70px;
        width: 70px;
        overflow: hidden;
        margin-top: 5px;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .invoice-header {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.invoice-brand {
    margin-bottom: 30px
}

@media (max-width: 768px) {
    .invoice-brand {
        margin:0
    }
}

.invoice-brand-img {
    max-width: 40px;
    margin-bottom: 15px
}

.invoice-brand-name {
    
}

.invoice-title {

    text-transform: uppercase;
    font-weight: bold;
    
}

.invoice-date {
    display: flex;
    color: #fff;
        text-transform: capitalize;
    align-items: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    font-size: 13px;

  
    p{
        margin-bottom: 2px;
        font-weight: bold;
    }
}

.invoice-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px
}

.invoice-company-name {
    margin-bottom: 15px;
    
}

.invoice-company-address {
    margin-bottom: 15px;
    color: #99a5bd
}

.invoice-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px
}

@media (max-width: 768px) {
    .invoice-body {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column
    }
}

.invoice-number {
    color: #99a5bd;
    
}

.invoice-table {
    width: 100%
}

.invoice-table .table {
    margin-bottom: 10px;
    box-shadow: none
}

.invoice-table .table strong {
    color: #252529
}

@media (max-width: 768px) {
    .invoice-table .table {
        display:table;
        width: 100%
    }
}

.invoice-terms {
    color: #99a5bd;
    font-size: .875rem
}

.invoice-note {
    margin-bottom: 30px
}

.invoice-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 100px;
    padding: 30px 100px;
    color: #fff;
    background: #768093;
    background: linear-gradient(180deg,#768093,#969fb0)
}

@media (max-width: 576px) {
    .invoice-footer {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        text-align: center
    }
}

.invoice-footer-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 576px) {
    .invoice-footer-brand {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.table > thead > tr {
    background-color: #e7e9f2;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd; 
}

.payment-info{
    
    text-align: center;
    padding: 9px;
    border-radius: 4px;
    overflow:auto;
    margin: 15px 0;

    &.paid{
        border: 1px solid #4daf50;
    background-color: #c2f1c3;
}
h4{
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

}


.invoice-table .table-head tr{
        background-color: #eaeaff !important;
}

.org-title{
        font-size: 18px;
    text-transform: uppercase;
}

.sub-g{
    background: linear-gradient(to right, #e7eaf3 0%, rgba(255, 255, 255, 0) 100%);
    padding: 10px 15px;
    margin-bottom: 0px;
    background-color: white;
        display: flex;
    align-items: center;
    justify-content: space-between;
}