<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section class="wizard">
          <div class="tabbable-panel">
            <div class="tabbable-line">
              <ul class="nav nav-tabs row">
                <li class="li-title">
                  <a [routerLink]="['/members']">

                    <i class="fas fa-users m-r-5"></i>{{'Members.1'| translate }}

                  </a>
                </li>
                <li class="li-title level">
                  <a [routerLink]="['/members/memberLevels']">

                    <i class="fas fa-trophy m-r-5"></i>{{'Members.121'| translate }}

                  </a>
                </li>

                <li class="active li-title group">
                  <a [routerLink]="['/members/memberGroup']">

                    <i class="fas fa-cubes m-r-5"></i>{{'Members.122'| translate }}

                  </a>
                </li>
              </ul>


              <div class="tab-content">
                <div class="tab-pane active animated fadeInUp">
                  <div class="tabber">
                    <div class="flex">
                      <img src="assets/img/Gambling.svg" alt="">
                      <span>
                        <h4>{{'Members.213'| translate }}</h4>
                        <p>{{'Members.214'| translate }}</p>
                      </span>
                    </div>

                    <button type="submit" id="btnNewgroup" name="newgroup" (click)="gotonewGroup()" class="btn btn-primary pull-right">{{'Members.215'| translate }}</button>
                  </div>

                  <div class="panel panel-default relative">
                    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class=" relative">
                        <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                        <div class="">
                          <div class="iclearfix">
                            <div class="table-container table-responsive">
                              <table class="table table-filter table-striped">
                                <thead>
                                  <tr>
                                    <th hidden >#</th>
                                    <th style="width:30%">{{'Members.11'| translate }}</th>
                                    <th style="width:30%">{{'Members.111'| translate }}</th>
                                    <th style="width:30%">{{'Members.MemberCount'| translate }}</th>
                                    <th class="text-right"></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr data-status="Staff" *ngFor="let group of groupList">
                                   <td hidden>
                                          <span class="table-data"> {{group. groupId}}</span>
                                  </td>

                                    <td>
                                      <span class="title">
                                        {{group.name}}
                                      </span>
                                    </td>

                                    <td>
                                      <span class="table-data"> {{group.description}}</span>
                                    </td>
                                    <td>
                                      <span class="table-data"> {{group.memberCount}}</span>
                                    </td>
                                    
                                    <td>
                                      <div class="btn-group pull-right">
                                        <button type="button" id="btnEditGroup" class="btn btn-default btn-sm" data-target="pendiente" (click)="editGroup(group.groupId)">
                                          <svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="ellipsis-h" role="img"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                                            <path fill="currentColor" d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"></path>
                                          </svg>
                                          <!-- <i class="fas fa-ellipsis-h"></i> -->
                                        </button>

                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>